extends layouts/template

block vars
  -title = 'Physical Science & Engineering'
  -bodyClass = ''

block container
  .inner-content
    +skewed-header("images/banner/banner-7.png","images/banner/banner-7-sm.png",'Engineering','admissions','undergraduates programmes')
    
    section.page-main-body.no-intro
      .container.course-container
        .content-list-course
          .row.row-course__item
              .col-xs-12.col-md-4.row-course__title
                | SINGAPORE INSTITUTE OF TECHNOLOGY
              .col-xs-12.col-md-8.row-course__description
                a(href="#")
                  p Sustainable Infrastructure Engineering (Building Services), MEngTech and BEng (Hons)
                a(href="#")
                  p Sustainable Infrastructure Engineering (Land), MEngTech and BEng (Hons)

          .row.row-course__item
              .col-xs-12.col-md-4.row-course__title
                | SINGAPORE INSTITUTE OF TECHNOLOGY DIGIPEN INSTITUTE OF TECHNOLOGY
              .col-xs-12.col-md-8.row-course__description
                a(href="#")
                  p Systems Engineering (ElectroMechanical Systems), BEng (Hons)

          .row.row-course__item
              .col-xs-12.col-md-4.row-course__title
                | NEWCASTLE UNIVERSITY
              .col-xs-12.col-md-8.row-course__description
                a(href="#")
                  p Electrical Power Engineering, BEng (Hons)
                a(href="#")
                  p Marine Engineering, BEng (Hons)
                a(href="#")
                  p Naval Architecture, BEng (Hons)
                a(href="#")
                  p Offshore Engineering, BEng (Hons)
                a(href="#")
                  p Mechanical Design and Manufacturing Engineering, BEng (Hons)

          .row.row-course__item
              .col-xs-12.col-md-4.row-course__title
                | TECHNISCHE UNIVERSITÄT MÜNCHEN
              .col-xs-12.col-md-8.row-course__description
                a(href="#")
                  p Electrical Engineering & Information Technology, BSc

          .row.row-course__item.after
              .col-xs-12.col-md-4.row-course__title
                | UNIVERSITY OF GLASGOW
              .col-xs-12.col-md-8.row-course__description
                a(href="#")
                  p Aeronautical Engineering, BEng (Hons)
                a(href="#")
                  p Aerospace Systems, BEng (Hons)
                a(href="#")
                  p Mechanical Design Engineering, BEng (Hons)
                a(href="#")
                  p Mechatronics, BEng (Hons) 

