extends layouts/template

block vars
  -title = 'T12'
  -bodyClass = ''

block container
  +skewed-header("images/banner/T12-banner.png","images/banner/T12-banner-sm.png",'Tuition Fee Loan','HOME','FINACIAL','LOANS')
  section.page-intro.dotted-white
    .page-intro_before
      span
    .container
      .row
        .col-md-12
          .page-intro-block
            .intro-header
              h2 INTRODUCTION
            .intro-subtitle
              h3 Invest in your future
            .intro-desc
              p SIT administers a variety of loan schemes to assist students with the payment of tuition fees and other education expenses such as the Overseas Immersion Programme. Undergraduate students may choose to utilise any of the following loan schemes available for AY2015/16.
        .col-md-6
          .diamond-block
            .diamond-img
              img(src="images/diamond-icon/diamond-book.png", alt="diamond")
            .diamond-desc
              .title CREAM OF THE CROP
              .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit ab hic!
        .col-md-6
          .diamond-block
            .diamond-img
              img(src="images/diamond-icon/diamond-book.png", alt="diamond")
            .diamond-desc
              .title CREAM OF THE CROP
              .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit ab hic!
        .col-md-6
          .diamond-block
            .diamond-img
              img(src="images/diamond-icon/diamond-book.png", alt="diamond")
            .diamond-desc
              .title CREAM OF THE CROP
              .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit ab hic!
        .col-md-6
          .diamond-block
            .diamond-img
              img(src="images/diamond-icon/diamond-book.png", alt="diamond")
            .diamond-desc
              .title CREAM OF THE CROP
              .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam impedit ab hic!                        
    .intro-dotted-after       
      span.background

  section.page-main-body.red-theme
    .container
      .row
        .col-md-12
          .body-title
            .symbol-img
              img(src="images/scholarship-hat.png", alt="symbol")
            .body-name
              h2 WHO CAN APPLY
        .col-md-12
          .criteria-box.type2
            .row
              .col-md-4
                .criteria-name Criteria 1
              .col-md-8
                .criteria-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptas harum, nihil!
            .row
              .col-md-4
                .criteria-name Criteria 1
              .col-md-8
                .criteria-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptas harum, nihil!
            .row
              .col-md-4
                .criteria-name Criteria 1
              .col-md-8
                .criteria-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptas harum, nihil!        

  section.page-main-body
    .container
      .row
        .col-md-12
          .body-title
            .symbol-img
              img(src="images/process-checker.png", alt="symbol")
            .body-name
              h2 APPLICATION PROCESS
      .row.app-process-row
        .col-md-12
          .proccess-timeline.owl-carousel
            .app-proccess-text
              .period ADMISSIONS PERIOD
              p Ensure you meet the eligiility criteria
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, quasi non repellat.                    
            .app-proccess-text
              .period APRIL TO MAY
              p Lorem ipsum dolor. ipsum dolor sit amet, consectetur adipisicing elit. Eos, quasi non repellat.                     
            .app-proccess-text
              .period LATE MAY
              p Final outcome of scholarships
            .app-proccess-text
              .period ADMISSIONS PERIOD
              p Ensure you meet the eligiility criteria
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, quasi non repellat.                    
            .app-proccess-text
              .period APRIL TO MAY
              p Lorem ipsum dolor. ipsum dolor sit amet, consectetur adipisicing elit. Eos, quasi non repellat.                     
            .app-proccess-text
              .period LATE MAY
              p Final outcome of scholarships