extends layouts/template

block vars
  -title = 'T2 WHY SIT'
  -bodyClass = 'node-type-t2-template'
block container
  +skewed-header("images/banner/whySIT-banner.png","images/banner/whySIT-sm-banner.png",'Why SIT','HOME','WHY SIT')
  section.page-intro
    .page-intro_before
      span
    .container
      .row
        .col-md-12
          .page-intro-block
            .intro-header
              h2 SIT AT A GLANCE
            .intro-subtitle
              h3 Your Passion. Your Endeavour
            .intro-desc
              .sit-glance-slider.owl-carousel
                .slider-item
                  img(src="http://placehold.it/940x400", alt="placeholder")
                .slider-item
                  img(src="http://placehold.it/940x200", alt="placeholder")
                .slider-item
                  img(src="http://placehold.it/900x200", alt="placeholder")
                .slider-item
                  img(src="http://placehold.it/940x400", alt="placeholder")
                .slider-item
                  img(src="http://placehold.it/140x400", alt="placeholder") 
                .slider-item
                  img(src="http://placehold.it/940x400", alt="placeholder")


    .page-intro_after
      span

  section.page-main-body
    .container
      .row
        .col-md-12
          .body-title
            .symbol-img
              img(src="images/whySIT-hat.png", alt="symbol")
            .body-name
              h2 5 REASONS TO JOIN US
            .body-subtitle
              h3 Our diverse selection of world-class degree programmes will ensure you harness your talent to its fullest potential, so that you are always industry-ready for a bright future.
    .container.why-sit-container
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img5.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block
            .icon-img
              img(src="images/article/icon-1.png", alt="icon")
            .main-text
              h4 OVERSEAS IMMERSION PROGRAMME
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, delectus reprehenderit nam totam iusto magni quaerat laudantium. Doloremque, quia officia magnam tenetur beatae temporibus atque earum optio eos autem a?          
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img2.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block
            .icon-img
              img(src="images/article/icon-2.png", alt="icon")
            .main-text
              h4 VALUE-ADDED PROGRAMME
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit repellat error incidunt dolorum, ut quasi, nisi, deleniti dolore et neque dignissimos praesentium labore molestiae molestias. Quis modi officiis, consequatur nam.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img4.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block
            .icon-img
              img(src="images/article/icon-3.png", alt="icon")
            .main-text
              h4 ACTIVE STUDENT COMMUNITY
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsam vitae debitis commodi. Dolores ab aperiam placeat voluptatum dolorum quasi omnis, sed officiis, consequuntur porro tempore quas. Et, modi, obcaecati.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img1.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block
            .icon-img
              img(src="images/article/icon-4.png", alt="icon")
            .main-text
              h4 TERTIARY COMPATIBLE
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quod tempore fugiat obcaecati minus magnam, nisi accusamus labore natus ut inventore eligendi, est consequuntur omnis, temporibus consequatur doloremque unde odio.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img3.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block
            .icon-img
              img(src="images/article/icon-5.png", alt="icon")
            .main-text
              h4 COMMUNITY BUILDING
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae porro quod nostrum corrupti maxime quis doloribus debitis id consectetur laudantium. Porro quis consequuntur modi accusamus molestias asperiores alias, id rem.

  section.page-main-body
    .container
      .row
        .col-md-12
          .body-title
            .symbol-img
              img(src="images/whySIT-hat.png", alt="symbol")
            .body-name
              h2 5 REASONS TO JOIN US
            .body-subtitle
              h3 Our diverse selection of world-class degree programmes will ensure you harness your talent to its fullest potential, so that you are always industry-ready for a bright future.
    .container.why-sit-container
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img5.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block.no-logo     
            .main-text
              h4 OVERSEAS IMMERSION PROGRAMME
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, delectus reprehenderit nam totam iusto magni quaerat laudantium. Doloremque, quia officia magnam tenetur beatae temporibus atque earum optio eos autem a?          
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img2.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block.no-logo  
            .main-text
              h4 VALUE-ADDED PROGRAMME
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit repellat error incidunt dolorum, ut quasi, nisi, deleniti dolore et neque dignissimos praesentium labore molestiae molestias. Quis modi officiis, consequatur nam.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img4.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block.no-logo           
            .main-text
              h4 ACTIVE STUDENT COMMUNITY
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ipsam vitae debitis commodi. Dolores ab aperiam placeat voluptatum dolorum quasi omnis, sed officiis, consequuntur porro tempore quas. Et, modi, obcaecati.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img1.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block.no-logo              
            .main-text
              h4 TERTIARY COMPATIBLE
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quod tempore fugiat obcaecati minus magnam, nisi accusamus labore natus ut inventore eligendi, est consequuntur omnis, temporibus consequatur doloremque unde odio.    
      .row
        .col-md-6.whysit-column.img-col
          img(src="images/WhySITimg/WhySIT_img3.jpg", alt="whySIT")
        .col-md-6.whysit-column.text-col
          .whySIT-text-block.no-logo    
            .main-text
              h4 COMMUNITY BUILDING
              .text-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae porro quod nostrum corrupti maxime quis doloribus debitis id consectetur laudantium. Porro quis consequuntur modi accusamus molestias asperiores alias, id rem.            