extends layouts/template

block vars
  -title = 'T8 Sport'
  -bodyClass = 'node-type-page'

block container
  +skewed-header("images/banner/banner-clubs.png","images/banner/banner-clubs-sm.png",'Sports','home','life@SIT','CLUBS')
  section.page-main-body.no-intro
    .container
      .row
        .col-md-6
          +gallery-card('ARCHERY','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Archery Facebook',1,
          "images/sport-img/sport1.jpg",
          "images/sport-img/sport1.jpg",
          "images/sport-img/sport1.jpg",
          "images/sport-img/sport1.jpg"
          )
        .col-md-6
          +gallery-card('AQUATHLON','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laboriosam ad modi quo ut iure inventore sapiente nostrum, doloribus eaque, culpa numquam quam rerum praesentium, unde deserunt tenetur quasi voluptate. ipsum dolor sit amet, consectetur adipisicing elit. Vel perferendis officiis labore, laboriosam quos beatae reiciendis non minus temporibus corporis. Neque iure porro, repellendus suscipit, impedit aut unde tempore nemo. ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Aquathlon Facebook',2,
          "images/sport-img/sport2.jpg",
          "images/sport-img/sport2.jpg",
          "images/sport-img/sport2.jpg",
          "images/sport-img/sport2.jpg"
          )
        .col-md-6
          +gallery-card('BADMINTON','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita cupiditate tenetur nemo eligendi sunt. A ipsum non.','SIT Badminton Facebook',3,
          "images/sport-img/sport3.jpg",
          "images/sport-img/sport3.jpg",
          "images/sport-img/sport3.jpg",
          "images/sport-img/sport3.jpg"
          )
        .col-md-6
          +gallery-card('BASEBALL','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Baseball Facebook',4,
          "images/sport-img/sport4.jpg",
          "images/sport-img/sport4.jpg",
          "images/sport-img/sport4.jpg",
          "images/sport-img/sport4.jpg"
          )
        .col-md-6
          +gallery-card('BASKETBALL','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Basketball Facebook',5,
          "images/sport-img/sport5.jpg",
          "images/sport-img/sport5.jpg",
          "images/sport-img/sport5.jpg",
          "images/sport-img/sport5.jpg"
          )
        .col-md-6
          +gallery-card('CANOEING','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Canoeing Facebook',6,
          "images/sport-img/sport6.jpg",
          "images/sport-img/sport6.jpg",
          "images/sport-img/sport6.jpg",
          "images/sport-img/sport6.jpg"
          )
        .col-md-6
          +gallery-card('CLIMBERS','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Climbers Facebook',7,
          "images/sport-img/sport7.jpg",
          "images/sport-img/sport7.jpg",
          "images/sport-img/sport7.jpg",
          "images/sport-img/sport7.jpg"
          )
        .col-md-6
          +gallery-card('CUESPORT','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio officiis, cum similique soluta pariatur ipsam sapiente quia eaque delectus.','SIT Cuesport Facebook',8,"images/sport-img/sport8.jpg")