/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

@media screen and (min-width: 320px) {
  /* line 12, ../../_sass/ie.scss */
  .lt-ie10 .two__col--grid.paper101__header--grid {
    height: 910px !important;
  }
}
@media screen and (min-width: 480px) {
  /* line 18, ../../_sass/ie.scss */
  .lt-ie10 .two__col--grid.paper101__header--grid {
    height: 910px !important;
  }
}
@media screen and (min-width: 640px) {
  /* line 24, ../../_sass/ie.scss */
  .lt-ie10 .two__col--grid.paper101__header--grid {
    height: 910px !important;
  }
}
@media screen and (min-width: 1000px) {
  /* line 30, ../../_sass/ie.scss */
  .lt-ie10 .two__col--grid.paper101__header--grid {
    height: auto !important;
  }
}

/* line 38, ../../_sass/ie.scss */
.is-ie9 .master-slider {
  display: none;
}
/* line 42, ../../_sass/ie.scss */
.is-ie9 .wis__nav ul {
  width: 70px;
}
/* line 45, ../../_sass/ie.scss */
.is-ie9 .wis__nav ul li {
  position: relative;
  left: 165px;
}
/* line 51, ../../_sass/ie.scss */
.is-ie9 .role__shields {
  display: none !important;
}
/* line 54, ../../_sass/ie.scss */
.is-ie9 .role__shields-ie {
  display: none !important;
}
/* line 57, ../../_sass/ie.scss */
.is-ie9 .role__shields-ie9 {
  display: block !important;
}
/* line 60, ../../_sass/ie.scss */
.is-ie9 .flipWrapper .card.flipped {
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}
/* line 64, ../../_sass/ie.scss */
.is-ie9 .ie__banner {
  display: block;
  width: 100%;
  height: 650px;
  background: url("../img/slide1/bg.jpg");
  background-size: cover;
}
/* line 71, ../../_sass/ie.scss */
.is-ie9 .ie__banner .talents {
  position: absolute;
  background: url("../images/home/ie-talents.png");
  background-size: contain;
  width: 600px;
  height: 435px;
  margin-left: 620px;
  bottom: 0;
}
/* line 81, ../../_sass/ie.scss */
.is-ie9 .ie__banner .safvc__badge {
  position: absolute;
  left: 240px;
  top: 125px;
  width: 160px;
  height: 160px;
}
/* line 89, ../../_sass/ie.scss */
.is-ie9 .ie__banner h1 {
  position: absolute;
  top: 295px;
  margin-left: 245px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #002459;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
/* line 100, ../../_sass/ie.scss */
.is-ie9 .ie__banner h2 {
  position: absolute;
  top: 340px;
  margin-left: 245px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002459;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
/* line 112, ../../_sass/ie.scss */
.is-ie9 .ie__banner p {
  position: absolute;
  top: 425px;
  margin-left: 245px;
  width: 320px;
  height: 160px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
}
