#color.section
  +img("feature background", "color-choice-bg.jpg").bg
  .motor-color-choice
    .carousel-switcher
      +link('','#').btn-switcher.trang-xanh(wrapper="trang-xanh-wrapper") &nbsp;
      +link('','#').btn-switcher.den-do(wrapper="den-do-wrapper") &nbsp;
    .owl-carousel.motor-decor-carousel.trang-xanh-wrapper.active
      +img('motor-blue 1', 'motor-shots/trang-xanh-1.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-2.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-3.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-4.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-5.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-6.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-7.png')
      +img('motor-blue 1', 'motor-shots/trang-xanh-8.png')
    .owl-carousel.motor-decor-carousel.den-do-wrapper
      +img('moto-yellow 1', 'motor-shots/den-do-1.png')
      +img('moto-yellow 2', 'motor-shots/den-do-2.png')