#features.section.active
  +img("feature background", "feature-bg.jpg").bg
  .v-wrapper
    .slider-container
      .slick-slider
        .item: +img('feature 1', 'feature-images/feature-1.png')
        .item: +img('feature 2', 'feature-images/feature-2.png')
        .item: +img('feature 3', 'feature-images/feature-3.png')
        .item: +img('feature 4', 'feature-images/feature-4.png')
        //- .item: +img('feature 5', 'feature-images/feature-5.png')
        //- .item: +img('feature 6', 'feature-images/feature-6.png')
        //- .item: +img('feature 7', 'feature-images/feature-7.png')
        //- .item: +img('feature 8', 'feature-images/feature-8.png')
      .slider-nav
        button.prev Truoc
        button.next Tiep Theo