#change-color-wrapper.section
  .main-wrapper
    +img('change color game background', 'change-color-round.jpg').bg
    .main-container
      .congrate-board.hide
        p Chuc mung ban da hoan thanh game do xe SYM galaxy sport
      .motobike-skeleton
        .skeleton-wrapper
          .rider
            .rider-image
              +img("", "motor-accessories/rider.png")
            .rider-avatar
              canvas#avatar(width="100", height="100")
          +img("", "motor-accessories/full-bike.png").sym-full-image
          #shape_1.shape_1.bubble
            +img("", "motor-accessories/black/dau_xe.png")
          #shape_2.shape_2.bubble
            +img("", "motor-accessories/black/yem_truoc.png")
          #shape_3.shape_3.bubble
            +img("", "motor-accessories/black/de_truoc.png")
          #shape_4.shape_4.bubble
            +img("", "motor-accessories/black/non.png")
          #shape_5.shape_5.bubble
            +img("", "motor-accessories/black/mat_na_nho.png")
          #shape_6.shape_6.bubble
            +img("", "motor-accessories/black/bung_trong.png")
          #shape_7.shape_7.bubble
            +img("", "motor-accessories/phuoc/phuoc-1.png")
          #shape_8.shape_8.bubble
            +img("", "motor-accessories/black/yem_sau.png")
          #shape_9.shape_9.bubble
            +img("", "motor-accessories/mam-xe/mam-truoc-1.png")
          #shape_10.shape_10.bubble
            +img("", "motor-accessories/mam-xe/mam-sau-1.png")
      .change-accessories-wrapper
        .accessories-area-left
          .shape.shape_1
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/blue/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/green/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/l-green/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/orange/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/pink/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/purple/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/red/dau_xe.png")(data-id="shape_1")
                +img("", "motor-accessories/yellow/dau_xe.png")(data-id="shape_1")
          .shape.shape_2
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/blue/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/green/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/l-green/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/orange/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/pink/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/purple/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/red/yem_truoc.png")(data-id="shape_2")
                +img("", "motor-accessories/yellow/yem_truoc.png")(data-id="shape_2")
          .shape.shape_3
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/blue/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/green/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/l-green/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/orange/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/pink/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/purple/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/red/de_truoc.png")(data-id="shape_3")
                +img("", "motor-accessories/yellow/de_truoc.png")(data-id="shape_3")
          .shape.shape_4
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/non.png")(data-id="shape_4")
                +img("", "motor-accessories/blue/non.png")(data-id="shape_4")
                +img("", "motor-accessories/green/non.png")(data-id="shape_4")
                +img("", "motor-accessories/l-green/non.png")(data-id="shape_4")
                +img("", "motor-accessories/orange/non.png")(data-id="shape_4")
                +img("", "motor-accessories/pink/non.png")(data-id="shape_4")
                +img("", "motor-accessories/purple/non.png")(data-id="shape_4")
                +img("", "motor-accessories/red/non.png")(data-id="shape_4")
                +img("", "motor-accessories/yellow/non.png")(data-id="shape_4")  
          .shape.shape_5
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/blue/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/green/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/l-green/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/orange/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/pink/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/purple/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/red/mat_na_nho.png")(data-id="shape_5")
                +img("", "motor-accessories/yellow/mat_na_nho.png")(data-id="shape_5")
        .accessories-area-right
          .shape.shape_6
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/blue/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/green/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/l-green/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/orange/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/pink/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/purple/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/red/bung_trong.png")(data-id="shape_6")
                +img("", "motor-accessories/yellow/bung_trong.png")(data-id="shape_6")
          .shape.shape_7
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/phuoc/phuoc-1.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-2.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-3.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-4.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-5.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-6.png")(data-id="shape_7")
                +img("", "motor-accessories/phuoc/phuoc-7.png")(data-id="shape_7")
          .shape.shape_8
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/black/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/blue/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/green/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/l-green/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/orange/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/pink/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/purple/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/red/yem_sau.png")(data-id="shape_8")
                +img("", "motor-accessories/yellow/yem_sau.png")(data-id="shape_8")
          .shape.shape_9
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/mam-xe/mam-truoc-1.png")(data-id="shape_9")
                +img("", "motor-accessories/mam-xe/mam-truoc-2.png")(data-id="shape_9")
                +img("", "motor-accessories/mam-xe/mam-truoc-3.png")(data-id="shape_9")
                +img("", "motor-accessories/mam-xe/mam-truoc-4.png")(data-id="shape_9")
                +img("", "motor-accessories/mam-xe/mam-truoc-5.png")(data-id="shape_9")
                +img("", "motor-accessories/mam-xe/mam-truoc-6.png")(data-id="shape_9")
          .shape.shape_10
            .owl-carousel-wrapper
              .owl-carousel
                +img("", "motor-accessories/mam-xe/mam-sau-1.png")(data-id="shape_10")
                +img("", "motor-accessories/mam-xe/mam-sau-2.png")(data-id="shape_10")
                +img("", "motor-accessories/mam-xe/mam-sau-3.png")(data-id="shape_10")
                +img("", "motor-accessories/mam-xe/mam-sau-4.png")(data-id="shape_10")
                +img("", "motor-accessories/mam-xe/mam-sau-5.png")(data-id="shape_10")
                +img("", "motor-accessories/mam-xe/mam-sau-6.png")(data-id="shape_10")
        .submission.text-center
          button.btn.btn-library.btn-complete(type='button', data-toggle='modal', data-target='#myModal') Hoan Tat

      .extra-info-form.hide
        .extra-info-form-positioning
          .page-navigation
            .btn-goto
              a(href=homepage, title="Quay về trang chủ") Quay về trang chủ
            .btn-goto.btn-right
              a(href=playerEntries, title="xem bảng xếp hạng") xem bảng xếp hạng
          form#upload-form(method="GET" action="/ajax/uploaded-image.html")
            .upload-avatar
              label.btn-library(for="upload-avatar-input") Up avatar
              +input("file", "cv").upload-file#upload-avatar-input
          form#caption-form(method="" action="")
            .caption
              p.title 
               | Lời bình xế
               span.message Bạn cần nhập lời bình trước khi gừi
              textarea(cols="20", rows="1", maxlength="40")

            .submission
              +input("submit", "submit-extra-info", "Gửi").btn-library