header#header
  .navigation
    ul
      li: +link('Trang Chủ', 'home.html').btn-home
      li: +link('Tính Năng', '#features').btn-feature.active
      li: +link('Thông Số', '#parameter').btn-param
      li: +link('Màu Sắc', '#color').btn-color
      li: +link('Clip', '#photo-gallery').btn-gallery
      li: +link('Giá ', '#price').btn-price