#parameter.section
  +img("feature background", "param-bg.jpg").bg
  .v-wrapper
    .parameter-container
      ul
        li.clearfix
          .title Tên sản phẩm
          .detail MSX
        li.clearfix
          .title Khối lượng bản thân
          .detail 101,7kg
        li.clearfix
          .title Dài x Rộng x Cao
          .detail 1.760mm x 755mm x 1.010mm
        li.clearfix
          .title Khoảng cách trục bánh xe
          .detail 1.200mm
        li.clearfix
          .title Độ cao yên
          .detail 765mm
        li.clearfix
          .title Khoảng sáng gầm xe
          .detail 166mm
        li.clearfix
          .title Dung tích bình xăng (dự trữ)
          .detail 5,5 lít
        li.clearfix
          .title Kích cỡ lốp trước/ sau
          .detail Trước: 120/70-12 51L - Không săm. Sau: 130/70-12 56L - Không săm
        li.clearfix
          .title Phuộc trước
          .detail Giảm xóc hành trình ngược
        li.clearfix
          .title Loại động cơ
          .detail PGM-FI, 4 kỳ, 2 van, xy-lanh đơn, côn 4 số, làm mát bằng không khí
        li.clearfix
          .title Dung tích xy lanh
          .detail 125cm3
        li.clearfix
          .title Đường kính x hành trình pít-tông
          .detail 52,4mm x 57,9mm
        li.clearfix
          .title Tỷ số nén
          .detail 9,3:1
        li.clearfix
          .title Công suất tối đa
          .detail 7,2kW/7.000 vòng/phút
        li.clearfix
          .title Mô-men cực đại
          .detail 10,9Nm/5.500 vòng/phút
