#photo-gallery.section
	+img("feature background", "gallery-bg.jpg").bg
	.big-frame
		+img("feature background", "gallery/big-frame.png").bg
		.center-img
			//- iframe(width="100%",height="100%",src="https://www.youtube.com/embed/Pe1SR8jnjJA",frameborder="0")#center-img
			//- +img("feature background", "gallery/library-1.jpg")#center-img
	//- .small-frame
	//- 	+img("feature background", "gallery/small-frame.png").bg
	//- 	.owl-carousel
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select
	//- 		.small-item
	//- 			+img("feature background", "gallery/library-1.jpg").img-select