.header-tab.player-entries-header-tab
  ul
    li.text-align-center: +link('Bài dự thi', '#').btn-library
    li.text-align-center: +link('Top Xế', '#').btn-library
  .btn-goto
    +link('Quay về trang chủ' , homepage).bg-goto
  .btn-goto.btn-right
    +link('Trang game độ xe' , game).bg-goto