#regulations.regulations-wrapper.drak-popup-wrapper
  .drak-popup
      .regulations-text
        p Thật tuyệt vời khi sở hữu một chiếc xe “chất chơi” theo đúng tính cách của mình. Hãy nhanh chóng tìm ra chiếc xế Galaxy Sport yêu thích của bạn và nhận được những phần thưởng hấp dẫn.
        p 
            strong Thời gian diễn ra cuộc thi: 
            | Từ 00h00 ngày 25/05/2015 đến 00h00 ngày 22/06/2015
        br
        p
            strong Cách thức: 
            | Tham gia thử thách độ xe trên Microsite doxegalaxy.com và share hình ảnh để nhận được bình chọn từ cộng đồng và có cơ hội trúng giải thưởng hấp dẫn.
        br
        p
            strong Chấm giải: 
        p
            strong Giải chung cuộc: 
            | Sau 4 tuần tranh tài, BTC sẽ chọn người thắng cuộc dựa trên danh sách các bài dự thi nhận được nhiều lượt yêu thích nhất trên microsite cho mỗi bài dự thi.
        p Trong trường hợp có hai hoặc nhiều hơn số bài dự thi bằng điểm nhau, BTC sẽ chọn bài dự thi tham gia sớm nhất để làm tiêu chí ưu tiên chấm giải.
        br
        p
            strong Giải thưởng: 
        p
            strong Có 6 Giải chung cuộc: 
            | Chọn người chơi có số điểm cao nhất trên Microsite sẽ nhận được giải thưởng là:
        ul
            li - 1 Giải nhất – Mỗi giải trị giá 5 triệu đồng tiền mặt
            li - 1 Giải nhì – Mỗi giải trị giá 3 triệu đồng tiền mặt
            li - 1 Giải ba – Mỗi giải trị giá 2 triệu đồng tiền mặt
            li - 5 giải khuyến khích – Mỗi giải trị giá 1 triệu đồng
        br
        p
            strong Quy định: 
        ul
            li - Những bài dự thi có dấu hiệu like ảo (kích like, hack like) sẽ không được công nhận kết quả.
            li - Những bức ảnh thuộc sở hữu bản quyền của một cá nhân, tập thể khác hoặc những bức ảnh đã từng tham gia, đoạt giải trong các cuộc thi khác sẽ không được phép tham gia cuộc thi này. Nếu bị phát hiện, thí sinh sẽ phải chịu hoàn toàn trách nhiệm.
            li - Không giới hạn số lượng ảnh mỗi thí sinh có thể gửi về.
            li - BTC có toàn quyền sử dụng hình ảnh dự thi thí sinh trên các phương tiện truyền thông.
            li - Khi nhận giải phải mang theo CMND xác thật với thông tin cung cấp trên microsite khi chơi game.