.header-tab
  ul
    li: +link('Thể Lệ', '#regulations').btn-library.btn-regulations
    li.text-align-center: +link('Cách Chơi', '#how-to-play').btn-library.btn-how-to-play
    li.text-align-right: +link('Giải Thưởng', '#reward').btn-library.btn-reward.active
  .btn-gotoback.btn-goto
    +link('Quay về trang chủ' , homepage).bg-goto
  .btn-gotogame.btn-goto.btn-right
    +link('Trang game độ xe' , game).bg-goto