.text-content
  p Cessimusciis por as et et vollat fugia voluptiscit, omnisqui to molo consequ istessimus duntiis tiorum, eum untiore perchil mos ad quis dellatur am aliquam, cum veliquost, iustis alibus sum quas nim et ium quibero mod ullor aut aribus porent volorem dolupie ntemqui deserit officabo. Sapieni aute dolorro mod quibus dolectiis eos eum sae voluptaturi coreptatus.
  p Et archita dolupti sincipi etustruntion rectam nonsed mo de
  p les vero estinventur re es ati tet aut aut voles ratem que porrum idis et volenistiasi cusa voluptatur aut eiumquo totatur re nonsequo endigen digendi tatatios eum faceatur reptat fuga. Endia simodia con reperem doluptat aliquod eliqus.
  p Pit volor autes volupti onsequas resto omni cuptasp erchit, quosant que doluptiur assum, ut unte dolorepernam qui dis doluptam ut ex endit untions ectusdandant mintota sam, audio qui blamenitasit as poremqu iditiis pro cum adit, totat quia qui repudaes molesero eliquatum il int quam ea et et rest et quias aut rem sus, consenimus prat que et et vollabo. Itatemque occum faccus magnim dolutem quissim porehen ducias duntia venim quam essitatia exernam ulluptatem velignit re consecu ptatecusae. Enimili gnimil ius eum sedi inctotat.
  h1 Heading 1
  h2 Heading 2
  h3 Heading 3
  h4 Heading 4
  h5 Heading 5
  h6 Heading 6
  p Pit volor autes volupti onsequas resto omni cuptasp erchit, quosant que doluptiur assum, ut unte dolorepernam qui dis doluptam ut ex endit untions ectusdandant mintota sam, audio qui blamenitasit as poremqu iditiis pro cum adit, a: link and visited style totat quia qui link hover/active/tap style repudaes molesero eliquatum il int quam ea et et rest et quias aut rem sus, consenimus prat que et et vollabo. Itatemque occum faccus magnim dolutem quissim porehen ducias duntia venim quam essitatia exernam ulluptatem velignit re consecu ptatecusae. Enimili gnimil ius eum sedi inctotat.
  strong Strong text
  br
  em em text
  br
  a(href="#", title="text link") Text link
  ul
    li Text li
    li Text li
    li Text li
    li Text li
    li Text li
    li Text li
  
  .mea
    a(href="#").mea-src
      +img('' , "http://placehold.it/350x150")
    .mea-body
      h4.media-heading Media heading
      p Lorem ipsum Aute non ut ex sint sit id ad ullamco mollit aliquip irure ut Duis adipisicing reprehenderit veniam voluptate adipisicing eu irure aliquip eu.

  .mea.reverse
    a(href="#").mea-src
      +img('' , "http://placehold.it/350x150")
    .mea-body
      h4.media-heading Media heading
      p Lorem ipsum Aute non ut ex sint sit id ad ullamco mollit aliquip irure ut Duis adipisicing reprehenderit veniam voluptate adipisicing eu irure aliquip eu.