section.block-map-container.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.1s")
  .container
    .row
      .col-xs-12.col-lg-6
        .map-text
          .title GOING BEYOND
          .description.editor-content
            p Emirates Palace offers you a magical place to enjoy the riches of the Arabian Gulf. Going beyond 5-star luxury, we ensure you are treated to an experience that is tailored to your needs. From our luxurious rooms and suites, to our award-winning culinary cuisine, Emirates Palace provides an unrivalled personal experience the minute you drive through the gates.
      .col-xs-12.map-container
        .map-viewer(data-auto-map="true", data-lat="24.4776714", data-long="54.3451771", data-zoom="8", data-info-title="Emirates Palace", data-info-description="Emirates Palace offers you a magical place to enjoy the riches of the Arabian Gulf.").right-control 
        .map-overlay.left
          .date 14 OCTOPER, 2015
          .time 12:24 PM
          #weather.weather
            span.temp-number 24.5
            sup o
            img(src="images/icon/cloud-moon.png")
          .contact
            .line
              span.fa.fa-map-marker
              | WEST CORNICHE ROAD, ABU DHABI
            .line   
              span.fa.fa-phone 
              a(href="tel://971-(0)2-690-9000") +971 (0)2 690 9000