section.block-map-container.wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.1s")
  .container
    .row
      .col-xs-12.col-lg-6
        .map-text
          .title PALM JUMEIRAH DUBAI 
          .description.editor-content
            p Welcome to Palm Jumierah, a destination inside Dubai where the earth and the sea merge with imagination. A union carved into an iconic island in the shape of the revered date palm tree. With large and spacious Apartment Suites, Penthouses and Villas, Kempinski Residences on The Palm are perfect for those seeking a relaxing home next to the beach. A landmark in every sense of the word, this picturesque paradise offers the ocean, the sky, and everything in between.
      .map-container
        .map-viewer(data-auto-map="true", data-lat="24.4776714", data-long="54.3451771", data-zoom="8").right-control
        .map-overlay.left
          .date 14 OCTOPER, 2015
          .time 12:24 PM
          .weather 27
            span &ordm;
            i.wi.wi-day-cloudy
          .contact
            .line
              span.fa.fa-map-marker
              | WEST CORNICHE ROAD, ABU DHABI
            .line   
              span.fa.fa-phone 
              a(href="tel://971-(0)2-690-9000") +971 (0)2 690 9000