section.explore-section
  .container
    +section-title("EXPLORE MORE OF EMERITES PALACE", "User journey drivers to capture conversions")
    .slide.owl-carousel(data-loop="true" data-responsive="false" data-margin="15" data-items="4" data-auto-simpleinit="true" data-nav="false")
      
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      +article-item("images/home/slide-image.jpg", "Elegant accomodations", "This is a link to the photo gallery category of the rooms and suites of the hotel", "View the gallery")
      