.corp-slide.owl-carousel
  .item(data-type="type-1" data-index="0").active
    +img('title', 'corporate/image-10.jpg')
    .slide-caption.container
      .content
        .title FITNESS CENTRE 1
        .editor-content
          p Emirates Palace is world-renowned for its luxurious surroundings, royalty service, and particularly for some of the most sought after hotel offers in Abu Dhabi. Whether you are visiting Abu Dhabi on business, celebrating a special occasion or taking a well-deserved family vacation, you will find an unrivalled selection of luxury suites to accommodate all your needs with Emirates Palace special offers.
        +cta-btngroup('FUTHER INFORMATION','#','VIEW GALLERY','#').wide
      
  .item(data-type="type-2" data-index="1")
    +img('title', 'corporate/image-10.jpg')
    .slide-caption.container
      .content
        .title FITNESS CENTRE 2
        .editor-content
          p Emirates Palace is world-renowned for its luxurious surroundings, royalty service, and particularly for some of the most sought after hotel offers in Abu Dhabi. Whether you are visiting Abu Dhabi on business, celebrating a special occasion or taking a well-deserved family vacation, you will find an unrivalled selection of luxury suites to accommodate all your needs with Emirates Palace special offers.
        +cta-btngroup('FUTHER INFORMATION','#','VIEW GALLERY','#').wide
      
  .item(data-type="type-3" data-index="2")
    +img('title', 'corporate/image-10.jpg')
    .slide-caption.container
      .content
        .title FITNESS CENTRE 3
        .editor-content
          p Emirates Palace is world-renowned for its luxurious surroundings, royalty service, and particularly for some of the most sought after hotel offers in Abu Dhabi. Whether you are visiting Abu Dhabi on business, celebrating a special occasion or taking a well-deserved family vacation, you will find an unrivalled selection of luxury suites to accommodate all your needs with Emirates Palace special offers.
        +cta-btngroup('FUTHER INFORMATION','#','VIEW GALLERY','#').wide
      
  .item(data-type="type-4" data-index="3")
    +img('title', 'corporate/image-10.jpg')
    .slide-caption.container
      .content
        .title FITNESS CENTRE 4
        .editor-content
          p Emirates Palace is world-renowned for its luxurious surroundings, royalty service, and particularly for some of the most sought after hotel offers in Abu Dhabi. Whether you are visiting Abu Dhabi on business, celebrating a special occasion or taking a well-deserved family vacation, you will find an unrivalled selection of luxury suites to accommodate all your needs with Emirates Palace special offers.
        +cta-btngroup('FUTHER INFORMATION','#','VIEW GALLERY','#').wide
      
  .item(data-type="type-5" data-index="4")
    +img('title', 'corporate/image-10.jpg')
    .slide-caption.container
      .content
        .title FITNESS CENTRE 5
        .editor-content
          p Emirates Palace is world-renowned for its luxurious surroundings, royalty service, and particularly for some of the most sought after hotel offers in Abu Dhabi. Whether you are visiting Abu Dhabi on business, celebrating a special occasion or taking a well-deserved family vacation, you will find an unrivalled selection of luxury suites to accommodate all your needs with Emirates Palace special offers.
        +cta-btngroup('FUTHER INFORMATION','#','VIEW GALLERY','#').wide
      
