.explore-more-places
  h1 Explore more of Emirates Palace
  .owl-carousel.explore-more-carousel
    +explore-more-carousel-item("explore/explore-more-1.jpg", "Elegant Accomodations", "<p>Lorem ipsum Sit Duis mollit velit nostrud nulla sit est ea exercitation elit veniam eu minim Ut eiusmod cupidatat adipisicing dolore.</p>", "Explore")
    +explore-more-carousel-item("explore/explore-more-2.jpg", "Photo Gallery", "<p>Lorem ipsum Sit Duis mollit velit nostrud nulla sit est ea exercitation elit veniam eu minim Ut eiusmod cupidatat adipisicing dolore.</p>", "Things to do")
    +explore-more-carousel-item("explore/explore-more-3.jpg", "Meetings & Events", "<p>Lorem ipsum Sit Duis mollit velit nostrud nulla sit est ea exercitation elit veniam eu minim Ut eiusmod cupidatat adipisicing dolore.</p>", "Explore now")
    +explore-more-carousel-item("explore/explore-more-4.jpg", "Get more with GHA", "<p>Lorem ipsum Sit Duis mollit velit nostrud nulla sit est ea exercitation elit veniam eu minim Ut eiusmod cupidatat adipisicing dolore.</p>", "Loyalty program")
    +explore-more-carousel-item("explore/explore-more-5.jpg", "Restaurants & Bars", "<p>Lorem ipsum Sit Duis mollit velit nostrud nulla sit est ea exercitation elit veniam eu minim Ut eiusmod cupidatat adipisicing dolore.</p>", "Explore")