+filter-select-sync([
  {
    "text": "FITNESS CENTRE"
  },
  {
    "text": "EMERITES SPA"
  },
  {
    "text": "EMIRATES PALACE BEACH CLUB"
  },
  {
    "text": "CAMEL RIDING"
  },
  {
    "text": "SWIMMING POOLS"
  }
])(data-sync=".owl-sync-content .room-slide")
.owl-sync-content
  .room-slide.owl-carousel.wow.fadeIn(data-wow-duraiton="0.5")
    +faciliti-item('facilities/emirates-palace.jpg', "Emirates SPA", "<p>The exclusive Emirates Palace Beach Club is the UAE’s ultimate resort experience. Offering you a unique combination of fun and luxury, these Abu Dhabi hotel facilities make our hotel a favourite leisure and activity destination in the UAE for friends, families and couples who love extravagance and exclusivity. Emirates Palace Beach Club is your answer to a hard day’s work or play, with services that make for a perfect experience offered by this Abu Dhabi hotel.</p>", 0)
    +faciliti-item('facilities/emirates-palace-2.jpg', "Emirates SPA", "<p>The exclusive Emirates Palace Beach Club is the UAE’s ultimate resort experience. Offering you a unique combination of fun and luxury, these Abu Dhabi hotel facilities make our hotel a favourite leisure and activity destination in the UAE for friends, families and couples who love extravagance and exclusivity. Emirates Palace Beach Club is your answer to a hard day’s work or play, with services that make for a perfect experience offered by this Abu Dhabi hotel.</p>", 1)
    +faciliti-item('facilities/emirates-palace-3.jpg', "Emirates SPA", "<p>The exclusive Emirates Palace Beach Club is the UAE’s ultimate resort experience. Offering you a unique combination of fun and luxury, these Abu Dhabi hotel facilities make our hotel a favourite leisure and activity destination in the UAE for friends, families and couples who love extravagance and exclusivity. Emirates Palace Beach Club is your answer to a hard day’s work or play, with services that make for a perfect experience offered by this Abu Dhabi hotel.</p>", 2)
    +faciliti-item('facilities/emirates-palace.jpg', "Emirates SPA", "<p>The exclusive Emirates Palace Beach Club is the UAE’s ultimate resort experience. Offering you a unique combination of fun and luxury, these Abu Dhabi hotel facilities make our hotel a favourite leisure and activity destination in the UAE for friends, families and couples who love extravagance and exclusivity. Emirates Palace Beach Club is your answer to a hard day’s work or play, with services that make for a perfect experience offered by this Abu Dhabi hotel.</p>", 3)
    +faciliti-item('facilities/emirates-palace.jpg', "Emirates SPA", "<p>The exclusive Emirates Palace Beach Club is the UAE’s ultimate resort experience. Offering you a unique combination of fun and luxury, these Abu Dhabi hotel facilities make our hotel a favourite leisure and activity destination in the UAE for friends, families and couples who love extravagance and exclusivity. Emirates Palace Beach Club is your answer to a hard day’s work or play, with services that make for a perfect experience offered by this Abu Dhabi hotel.</p>", 4)