.hotel-brief-intro
  .row
    .col-xs-12.col-md-8
      .hotel-foreword
        p.hotel-name Kempinski Emirates Palace
        h2.hotel-slogan A Magical Experience in Abu Dhabi
        .detail 
          p Emirates Palace offers you a magical place to enjoy the riches of the Arabian Gulf. Going beyond 5-star luxury, we ensure you are treated to an experience that is tailored to your needs. From our luxurious rooms and suites, to our award-winning culinary cuisine, Emirates Palace provides an unrivalled personal experience the minute you drive through the gates.Boasting one of the largest hotel conference centres, Emirates Palace is also a glamorous venue for inter- national events, conferences and exhibitions.
          p We look forward to welcoming you to Emirates Palace.
    .col-xs-12.col-xs-4
      .local-info
        p.weather-time 
          | 42&deg;C
          span.fa.fa-sun-o
          | 3:46:25 PM
        .location
          #local-map.local-map
          .detail-location Located in the Heart of Abu Dhabi
          .instruction Only 40 minutes from the Abu Dhabi International Airport, Emirates Palace, is located on the Corniche, in the heart of the city of Abu Dhabi.