.indulgent-offers
  h2 Indulgent Offers
  .row
    .col-xs-12.col-md-6
      +indulgent-offer-item("offer/indulgent-offer-1.jpg", "OCEAN VIEW SUITE OFFER", "Valentines’ Romance at the Ocean’s Edge", "Lorem ipsum Magna dolore dolore deserunt sint velit adipisicing adipisicing Excepteur culpa exercitation aute.", "Rates from", "$235")
      +indulgent-offer-item("offer/indulgent-offer-2.jpg", "VENDOME RESTAURANT", "Exquisite Treasures from the Sea Buffet", "Lorem ipsum Magna dolore dolore deserunt sint velit adipisicing adipisicing Excepteur culpa exercitation aute.", "Dinner Buffet", "$85")
      +indulgent-offer-item("offer/indulgent-offer-3.jpg", "ROOM & SPA OFFER", "Find your bliss in the Moroccan Hammam", "Lorem ipsum Magna dolore dolore deserunt sint velit adipisicing adipisicing Excepteur culpa exercitation aute.", "7 days from", "$1235")
      +indulgent-offer-item("offer/indulgent-offer-4.jpg", "LUXURY SUITE OFFER", "Enjoy splendour beyond your dreams", "Lorem ipsum Magna dolore dolore deserunt sint velit adipisicing adipisicing Excepteur culpa exercitation aute.", "Rates from", "$1235")