+filter-select-sync([
  {
    "text": "HOW TO SPA"
  },
  {
    "text": "SPA TREATMENTS"
  },
  {
    "text": "MEMBERSHIP"
  }
])(data-sync=".owl-sync-content .room-slide")
.owl-sync-content
  .room-slide.owl-carousel.wow.fadeIn(data-wow-duraiton="0.5")
    +meeting-room-item-no-btn('spa/slide/img-2.jpg', "How to Spa", "<p>Here you can find everything you need to know about Kempinski The Spa at Palais Hansen Kempinski Vienna.</p><br><p>Kempinski The Spa is open daily from 09:00 am to 09:00 pm.<br/>For more information, please call <a href='tel://43-1-2361000-8090'>+43 1 2361000 8090</a> or email to: <a href='mailto:spa.vienna@kempinski.com'>spa.vienna@kempinski.com.</a></p><br/><br/><ul class='list-style-1'><li>Our Philosophy</li><li>Spa Etiquette</li><li>How to contact us</li><li>Meet our Spa Manager: Nina Neumann</li></ul>", 1)
    +meeting-room-item-no-btn('spa/slide/img-2.jpg', "How to Spa", "<p>Here you can find everything you need to know about Kempinski The Spa at Palais Hansen Kempinski Vienna.</p><br><p>Kempinski The Spa is open daily from 09:00 am to 09:00 pm.<br/>For more information, please call <a href='tel://43-1-2361000-8090'>+43 1 2361000 8090</a> or email to: <a href='mailto:spa.vienna@kempinski.com'>spa.vienna@kempinski.com.</a></p><br/><br/><ul class='list-style-1'><li>Our Philosophy</li><li>Spa Etiquette</li><li>How to contact us</li><li>Meet our Spa Manager: Nina Neumann</li></ul>", 2)
    +meeting-room-item-no-btn('spa/slide/img-2.jpg', "How to Spa", "<p>Here you can find everything you need to know about Kempinski The Spa at Palais Hansen Kempinski Vienna.</p><br><p>Kempinski The Spa is open daily from 09:00 am to 09:00 pm.<br/>For more information, please call <a href='tel://43-1-2361000-8090'>+43 1 2361000 8090</a> or email to: <a href='mailto:spa.vienna@kempinski.com'>spa.vienna@kempinski.com.</a></p><br/><br/><ul class='list-style-1'><li>Our Philosophy</li><li>Spa Etiquette</li><li>How to contact us</li><li>Meet our Spa Manager: Nina Neumann</li></ul>", 3)