+filter-select-sync([
  {
    "text": "ATTRACTIONS &  SIGHTSEEING"
  },
  {
    "text": "SEAWINGS EXCURSIONS"
  }
])(data-sync=".owl-sync-content .room-slide")
.owl-sync-content
  .room-slide.owl-carousel.wow.fadeIn(data-wow-duraiton="0.5")
    +meeting-room-item-one-btn('local-information/img-2.jpg', "Attractions & Sightseeing", "<p>Explore and roam through Abu Dhabi’s traditional souks and the Heritage Village, enjoy a fragrant Arabic coffee while savouring a shisha, bash the dunes on an thrilling desert safari, or dive into staggering marine life – visit one of the largest mosques in the world or take a test drive at Formula1 Yas Marina circuit.</p>", 1)
    +meeting-room-item-one-btn('local-information/img-3.jpg', "Emirates Centre", "<p>Emirates Centre offers stunning conference rooms ranging in size from 36 sqm to 80 sqm. A spacious outdoor terrace is available to host groups for lunch, dinner, receptions and coffee breaks.</p><br/><p>For all enquiries, please contact us at <a title='mice@emiratespalace.ae' href='mailto:mice@emiratespalace.ae'>mice@emiratespalace.ae</a> or call us at <a title='tel://971-2-690-7951'' href='tel://971-2-690-7951'>+971 2 690 7951</a>.</p>", 2)