nav
  .logo
    a(href="#")
      +img("Emirates Palace", "images/hotel/emirate-palace-logo.png")
  ul
    li
      +link("Featured Offers", "featured-offers.html")
    li
      +link("Photo Galleries", "photo-galleries.html")
    li
      +link("Facilities", "facilities.html")
    li
      +link("Restaurants & Bars", "restaurants-bars.html")
    li
      +link("Meetings & Events", "meetings-events.html")
    li
      +link("Location", "location.html")
    li
      +link("Contact Us", "contact-us.html")