.press-room-detail-container
  +section-press-room-control()
  .press-room-detail-content
    .background-cover
      +img("Pressroom detail", "press-room-detail/press-room-detail.jpg")
    .content
      .container
        .block-wrap
          .block.top
            .date 29/10/2015 - Hotel Adlon Kempinski
            .title AMG DRIVING PERFORMANCE COOPERATION
            .description
              p AMG Driving Performance meets luxury à la Kempinski

          .block.bottom
            .title DRIVING TO 3 KEMPINSKI HOTEL OVER 300KM...
            .description
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis erat nec fringilla scelerisque. Curabitur bibendum lectus ac felis laoreet, eget imperdiet enim faucibus. Integer eu lorem id neque fermentum venenatis. Aliquam dictum, ante pulvinar accumsan finibus, libero quam dignissim eros, eget convallis magna ligula at libero. Etiam quis eros id orci luctus vestibulum. Nullam egestas sed sem in vehicula. Aenean vitae tellus quis ex condimentum ullamcorper. Nulla justo sapien, euismod eu tristique eget, bibendum sit amet tortor. Nullam nec metus sed orci placerat lacinia in a justo. Donec eu pharetra odio. Donec eleifend hendrerit quam accumsan finibus. Nunc maximus orci sapien, sed consectetur nibh semper ac. Vivamus at libero ut leo imperdiet semper a eu sem. Fusce dignissim dignissim quam eget auctor. Suspendisse luctus quam ut ex scelerisque vulputate.
              br
              p Donec sollicitudin diam quis enim tristique, semper cursus massa gravida. Nulla quis lorem in leo fermentum faucibus. Phasellus accumsan egestas nibh, a venenatis augue pharetra vel. Nam volutpat sapien justo, non porttitor enim elementum id. Morbi feugiat augue a nulla condimentum sollicitudin. Donec et libero facilisis, elementum purus a, mattis ligula. Vivamus ligula dolor, ullamcorper in elit ut, vestibulum congue ipsum. Sed in luctus erat. Donec ac ante ac risus iaculis sodales. Phasellus quis arcu non tortor rutrum varius. Proin aliquet sapien nec risus ornare mollis. Cras id odio id magna suscipit vulputate. Curabitur velit orci, aliquet vitae eros id, feugiat porttitor ligula.
              br
              p Nulla justo sapien, euismod eu tristique eget, bibendum sit amet tortor. Nullam nec metus sed orci placerat lacinia in a justo. Donec eu pharetra odio. Donec eleifend hendrerit quam accumsan finibus. Nunc maximus orci sapien, sed consectetur nibh semper ac. Vivamus at libero ut leo imperdiet semper a eu sem. Fusce dignissim dignissim quam eget auctor. Suspendisse luctus quam ut ex scelerisque vulputate.
  +section-press-room-control('false').control-bottom