.offers
  .container
    +offer-style-1('offer/offer-1.jpg', 'Christmas', '<p>Get away from the Christmas rush and enjoy your holidays in a more spectacular manner: Celebrate Christmas at Hotel Taschenbergpalais Kempinski Dresden</p>', 'Rates form', '$1570').wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s")
    +offer-style-1('offer/offer-2.jpg', 'Dresden Art & Culture', '<p>What would be more attractive than planning a stay in Saxony’s capital, choosing Hotel Taschenbergpalais Kempinski Dresden and finding a variety of packages and special offers?</p>', 'Rates form', '$1280').wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s")
    +offer-style-1('offer/offer-3.jpg', 'Semper Opera', '<p>Reside in a royal ambience, enjoy culinary delights and take pleasure in the most exquisite musical performances.</p>', 'Rates form', '$1190').wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s")