.conainer.rooms-feature
  ul
    li
      .key Size
      .value 48sqm
    li
      .key View
      .value Ocean
    li
      .key Beds
      .value Double or King
    li
      .key Occupancy
      .value 3 guest