.slider-header.owl-carousel(data-loop="true" data-responsive="false" data-items="1" data-auto-simpleinit="true" data-nav="false")
  .owl-item
    +img('' , "contact-us/img-1.jpg")
  .owl-item
    +img('' , "contact-us/img-2.jpg")
  .owl-item
    +img('' , "contact-us/img-3.jpg")