+filter-select-sync([
  {
    "text": "CONFERENCE CENTRE"
  },
  {
    "text": "ISLAND CENTRE"
  },
  {
    "text": "EMIRATES CENTRE"
  },
  {
    "text": "BUSINESS CENTRE"
  },
  {
    "text": "TERRACES & EXHBITION"  }
])(data-sync=".owl-sync-content .room-slide")
.owl-sync-content
  .room-slide.owl-carousel.wow.fadeIn(data-wow-duraiton="0.5")
    +meeting-room-item('meetings-events/slide-image-1.jpg', "Emirates Palace Marina 1", "<p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>For all enquiries, please cotnact us at<br/><a href='mailto:mice@emiratespalase.ae'>mice@emiratespalase.ae</a> or call us at <a href='tel://tel://971-2-690-7951'>+971 2 690 7951</a>.", 1)
    +meeting-room-item('meetings-events/slide-image-2.jpg', "Emirates Palace Marina 2", "<p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>For all enquiries, please cotnact us at<br/><a href='mailto:mice@emiratespalase.ae'>mice@emiratespalase.ae</a> or call us at <a href='tel://tel://971-2-690-7951'>+971 2 690 7951</a>.", 2)
    +meeting-room-item('meetings-events/slide-image-3.jpg', "Emirates Palace Marina 3", "<p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>For all enquiries, please cotnact us at<br/><a href='mailto:mice@emiratespalase.ae'>mice@emiratespalase.ae</a> or call us at <a href='tel://tel://971-2-690-7951'>+971 2 690 7951</a>.", 3)
    +meeting-room-item('meetings-events/slide-image-3.jpg', "Emirates Palace Marina 4", "<p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>For all enquiries, please cotnact us at<br/><a href='mailto:mice@emiratespalase.ae'>mice@emiratespalase.ae</a> or call us at <a href='tel://tel://971-2-690-7951'>+971 2 690 7951</a>.", 4)
    +meeting-room-item('meetings-events/slide-image-2.jpg', "Emirates Palace Marina 5", "<p>Emirates Palace Marina is the first of its kind in the country and region, combining luxury with comfort, and remains the destination of choice for luxurious yachts inside and outside the United Arab Emirates.</p><br><p>For all enquiries, please cotnact us at<br/><a href='mailto:mice@emiratespalase.ae'>mice@emiratespalase.ae</a> or call us at <a href='tel://tel://971-2-690-7951'>+971 2 690 7951</a>.", 5)