.icon-all-card-hover{
  background-position:-64px 0
}
.icon-all-card:hover,.icon-all-card{
  background-image:url(sprite.png);width:64px;height:64px
}
.icon-all-card{
  background-position:0 -128px
}.icon-gift-hover{
  background-position:0 -64px
}.icon-gift-hover,.icon-gift{
  background-image:url(sprite.png);width:64px;height:64px
}.icon-gift{
  background-position:-64px -64px
}.icon-money-hover{
  background-position:-128px 0
}.icon-money-hover,.icon-money{
  background-image:url(sprite.png);width:64px;height:64px
}.icon-money{
  background-position:-128px -64px
}.icon-plane-hover{
  background-position:0 0
}.icon-plane-hover,.icon-plane{
  background-image:url(sprite.png);width:64px;height:64px
}.icon-plane{
  background-position:-64px -128px
}.icon-ship-hover{background-position:-128px -128px}.icon-ship-hover,.icon-ship{background-image:url(sprite.png);width:64px;height:64px}.icon-ship{background-position:-192px 0}.icon-shopping-hover{background-position:-192px -64px}.icon-shopping-hover,.icon-shopping{background-image:url(sprite.png);width:64px;height:64px}.icon-shopping{background-position:-192px -128px}