extends layouts/layout

block vars
  -title = 'Contact Us Langding'
  -bodyClass = 'contact-us-landing' 

block pagestyle
  // build:css styles/icon-to-server.css
  link(rel="stylesheet", href="styles/icon-to-server.css")
  // endbuild

block container
  .about-page.contact-us-landing
    .sub-page-banner
      p 聯絡我們
      img(src='images/form/banner.jpg', title='', alt='')
  .contac-us-list
    .container
      .row
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-1.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-1.png").icon-contact-us.hover
              p 電郵至 <br/> info@crown-motors.com
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-2.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-2.png").icon-contact-us.hover
              p 實用電話
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-3.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-3.png").icon-contact-us.hover
              p 索取產品資料
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-4.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-4.png").icon-contact-us.hover
              p 預約試車
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-5.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-5.png").icon-contact-us.hover
              p 預約維修服務
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-6.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-6.png").icon-contact-us.hover
              p 車輛安全召回查詢
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-7.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-7.png").icon-contact-us.hover
              p 零件及配件查詢
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-8.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-8.png").icon-contact-us.hover
              p 其他查詢
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-9.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-9.png").icon-contact-us.hover
              p 預約租車
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-10.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-10.png").icon-contact-us.hover
              p 更改戶口資料
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-11.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-11.png").icon-contact-us.hover
              p 退出接收推廣訊息
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-12.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-12.png").icon-contact-us.hover
              p 退出接收推廣訊息
        .col-xs-6.col-sm-3.col-md-3.col-lg-3
          .block-service
            a(href='#', data-toggle='modal', data-target='#mySevice')
              .block-icon
                +img("icon", "after-sales/icon-13.png").icon-contact-us
                +img("icon", "after-sales/icon-hover-13.png").icon-contact-us.hover
              p 退出接收推廣訊息