extends layouts/layout

block vars
  -title = 'Form Personal Info'
  -bodyClass = 'home' 
    
block container

  .about-page
    .sub-page-banner
      p 關於豐田
      picture
        source(srcset='images/about/about-banner-mobile.jpg', media='(max-width: 767px)')
        source(srcset='images/about/about-banner.jpg', media='(max-width: 1280px)')
        img.master-banner-img.intel-scaling(src='images/about/about-banner.jpg', alt='', data-width='1920', data-height='411')
    .container
      // validate-form class is for js use, BE no use
      form.perosnal-info-form.info-form.validate-form(action='/', method='POST')
        .form-content
          .introduction
            h2.title Personal Information
            ul.trade-in-process
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/phone.png')
                p Contact our sales consultant
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/calculator.png')
                p Assess your vehicle's value
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/tool.png')
                p Vehicle check
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/checklist.png')
                p Final quotation
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/money.png')
                p Agree on the price
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/card.png')
                p Payment
              li
                img(alt='contact', src='http://www.toyota.com.hk/App_Themes/Toyota/images/trade-in-services/car.png')
                p Vehicle handover
        hr
        .form-content
          .form-head
            h2.title
              | Personal Info
            p.description
              | Required Fields 
              span.req-desc *
          .type-1
            .form-group.gender
              .field-title
                | Gender
                span.req-desc *
              #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpgender.EditingFormControlNestedControl.editing-form-control-nested-control
                span#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Gender_list.radio.radio-list-horizontal.radio-group
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Gender_list_0(type='radio', name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$Gender$list', value='Mr', checked='checked')
                  label(for='p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Gender_list_0') Mr
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Gender_list_1(type='radio', name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$Gender$list', value='Ms')
                  label(for='p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Gender_list_1') Ms
              // Each error message will be placed withint form-group: Here
          // Begin GivenName  FamilyName
          .type-2.clearfix
            .form-group.col.col-1-2
              .input-wrapper
                label.field-title
                  | Given Name
                  span.req-desc *
                #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpgivenname.EditingFormControlNestedControl.editing-form-control-nested-control
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_GivenName_txtText.form-control.WatermarkText(name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$GivenName$txtText', type='text', maxlength='200')
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_GivenName_exWatermark_ClientState(type='hidden', name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$GivenName$exWatermark_ClientState')
            .form-group.col.col-1-2
              .input-wrapper
                label.field-title
                  | Family Name
                  span.req-desc *
                #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpfamilyname.EditingFormControlNestedControl.editing-form-control-nested-control
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_FamilyName_txtText.form-control.WatermarkText(name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$FamilyName$txtText', type='text', maxlength='200')
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_FamilyName_exWatermark_ClientState(type='hidden', name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$FamilyName$exWatermark_ClientState')
          // End GivenName  FamilyName
          // Begin Email
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Email Address
                  span.req-desc *
                #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpemailaddress.EditingFormControlNestedControl.editing-form-control-nested-control
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_EmailAddress_txtEmailInput.form-control(name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$EmailAddress$txtEmailInput', type='text', maxlength='100')
          // End Email
          // Begin Mobile
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Mobile
                  span.req-desc *
                #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpmobile.EditingFormControlNestedControl.editing-form-control-nested-control
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Mobile_txtText.form-control(name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$Mobile$txtText', type='text', maxlength='200')
          // End Mobile
          // Begin Home
          .type-1
            .form-group
              .input-wrapper
                label.field-title Home
                #p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncphome.EditingFormControlNestedControl.editing-form-control-nested-control
                  input#p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_Home_txtText.form-control(name='p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$Home$txtText', type='text', maxlength='200')
          // End Home
          // Begin Home Phone
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Home Phone Number
                  span.req-desc *
                input.form-control(type='text', name='homephone', placeholder='Please type in english', data-rule-required='true', data-msg-required='Please input your Home Phone number', data-rule-phone='true', data-msg-phone='Please enter a valid phone number')
          // End Home Phone
          // Begin Company
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Company Name
                  span.req-desc *
                input.form-control(type='text', name='company', placeholder='Please type in english', data-rule-required='true', data-msg-required='Please input your Company Name')
          // End Company
          // Begin Company Phone
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Company Phone
                  span.req-desc *
                input.form-control(type='text', name='companyphone', placeholder='Please type in english', data-rule-required='true', data-msg-required='Please input your Company Phone Number')
          // End Company Phone
          // Begin Car model
          .type-3
            //
              <div class="form-group car-model">
              <h2 class="title">Car Model(s) interested in<span class="req-desc">*</span></h2>
              <div id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpinterestedin" class="EditingFormControlNestedControl editing-form-control-nested-control">
              <span id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list" class="checkbox checkbox-list-vertical checkbox-group">
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_0" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$0" value="Alphard"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_0">Alphard</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_1" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$1" value="Camry"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_1">Camry</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_2" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$2" value="Corolla"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_2">Corolla</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_3" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$3" value="Hiace"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_3">Hiace</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_4" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$4" value="Prado"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_4">Prado</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_5" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$5" value="Picnic"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_5">Picnic</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_6" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$6" value="Previa"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_6">Previa</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_7" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$7" value="Prius"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_7">Prius</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_8" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$8" value="Noah"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_8">Noah</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_9" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$9" value="RAV4"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_9">RAV4</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_10" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$10" value="Taxi"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_10">Taxi</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_11" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$11" value="Yaris"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_11">Yaris</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_12" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$12" value="IS250"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_12">IS250</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_13" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$13" value="IS F"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_13">IS F</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_14" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$14" value="GS300"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_14">GS300</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_15" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$15" value="GS450h"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_15">GS450h</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_16" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$16" value="LS460"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_16">LS460</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_17" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$17" value="LS460h"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_17">LS460h</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_18" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$18" value="LRX350"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_18">LRX350</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_19" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$19" value="RX450h"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_19">RX450h</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_20" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$20" value="SC"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_20">SC</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_21" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$21" value="Materia"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_21">Materia</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_22" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$22" value="Sirion Racy"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_22">Sirion Racy</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_23" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$23" value="Terios"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_23">Terios</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_24" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$24" value="300 Series"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_24">300 Series</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_25" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$25" value="500 Series"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_25">500 Series</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_26" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$26" value="700 Series"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_26">700 Series</label><br>
              <input id="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_27" type="checkbox" name="p$lt$ctl07$maincontent$p$lt$ctl00$editabletext$ucEditableText$widget1$ctl00$viewBiz$InterestedIn$list$27" value="Others"><label for="p_lt_ctl07_maincontent_p_lt_ctl00_editabletext_ucEditableText_widget1_ctl00_viewBiz_InterestedIn_list_27">Others</label></span>
              </div>
              </div>
          // End Car model
          // Begin Inquiry
          .type-1
            .form-group
              .input-wrapper
                label.field-title
                  | Inquiry
                  span.req-desc *
                textarea.form-control(name='inquiry', placeholder='Maximum 500 characters', maxlength='500')
              span.attributes.hide(data-rule-required='true', data-msg-required='Please filled in inquiry')
          // End Inquiry
          // Begin recaptcha
          .type-1
            +captcha().form-group
          // End recaptcha
          // Begin Agreement
          .type-4
            .form-group.agreement-radio
              .radio-group
                span.inline-text I
                #p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncppersonaldataprivacy.EditingFormControlNestedControl.editing-form-control-nested-control
                  span#p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_PersonalDataPrivacy_list.radio.radio-list-vertical
                    input#p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_PersonalDataPrivacy_list_0(type='radio', name='p$lt$ctl07$maincontent$p$lt$ctl01$editabletext$ucEditableText$widget1$ctl00$viewBiz$PersonalDataPrivacy$list', value='I agree', checked='checked')
                    label(for='p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_PersonalDataPrivacy_list_0') agree
                    input#p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_PersonalDataPrivacy_list_1(type='radio', name='p$lt$ctl07$maincontent$p$lt$ctl01$editabletext$ucEditableText$widget1$ctl00$viewBiz$PersonalDataPrivacy$list', value='Do not agree to the use of my personal data by your company and/or provision of my personal data to your affiliates, subsidiaries and/or associated companies in direct marketing.')
                    label(for='p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_PersonalDataPrivacy_list_1') Do not agree 
                span.inline-text
                  | to the use of my personal data by your company and/or provision of my personal data to your affiliates, subsidiaries and/or associated companies in direct marketing.
          .type-4
            .form-group.agreement-checkbox
              .checkbox-group
                #p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_ncpiagreedregister.EditingFormControlNestedControl.editing-form-control-nested-control(style='float: left; ')
                  span.CheckBoxField.checkbox
                    input#p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_IAgreedRegister_checkbox(type='checkbox', name='p$lt$ctl07$maincontent$p$lt$ctl01$editabletext$ucEditableText$widget1$ctl00$viewBiz$IAgreedRegister$checkbox', checked='checked')
                    label(for='p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_IAgreedRegister_checkbox')  
                .ExplanationText
                  | By checking this box, I agreed that I have read all the details on this form and certify that the reported changes in vehicle and registered particulars are correct.
              span.attributes.hide(data-rule-required='true', data-msg-required='Please check to agree')
          // End Agreement
          .submission
            a.common-btn.btn-gray(href='#') Cancel
            input#p_lt_ctl07_maincontent_p_lt_ctl01_editabletext_ucEditableText_widget1_ctl00_viewBiz_btnOK.FormButton.btn.btn-primary(type='submit', name='p$lt$ctl07$maincontent$p$lt$ctl01$editabletext$ucEditableText$widget1$ctl00$viewBiz$btnOK', value='Submit')
