extends layouts/layout

block vars
  -title = 'Site maps'
  -bodyClass = ''
block container
  main#main(style="min-height: 800px;margin-top: 150px;")
    .container
      .inner
        .sitemap
          h1 Site Maps
          ul(style="font-size: 20px")
            li: +link("homepage", homepage)(target="_blank")
            h2 Cars
            li: +link("carRactis", carRactis)(target="_blank")
            li: +link("carCamry", carCamry)(target="_blank")
            li: +link("carCorolla", carCorolla)(target="_blank")
            li: +link("carPriusC", carPriusC)(target="_blank")
            li: +link("carNoah", carNoah)(target="_blank")
            li: +link("carSienta", carSienta)(target="_blank")
            li: +link("carSpade", carSpade)(target="_blank")
            h2 Form
            li: +link("formAccountInfo", formAccountInfo)(target="_blank")
            li: +link("formPersonalInfo", formPersonalInfo)(target="_blank")
            li: +link("formTestDrive", formTestDrive)(target="_blank")
            h2 Other pager
            li: +link("afterSale", afterSale)(target="_blank")
            li: +link("promotionList", promotionList)(target="_blank")
            li: +link("promotionDetail", promotionDetail)(target="_blank")
            li: +link("priceList", priceList)(target="_blank")
            li: +link("contactUsLanding", contactUsLanding)(target="_blank")
            li: +link("storeLocator", storeLocator)(target="_blank")
            li: +link("about", about)(target="_blank")
            li: +link("searchResult", searchResult)(target="_blank")