extends layouts/template-1

block vars
  -title = 'Press-Room'
  -bodyClass = ''
  -bannerIMG = 'press-room-detail/banner-1.jpg'
  -page = 'pressroom'
block pagescript

block breadcrumb  
  .block-breadcrumb
    .container
      +breadcrumb([{
        "text": "HOME",
        "href":"#"
      },{
        "text": "EXPERIENCES",
        "href":"#"
      }])


block container
  .inner
    main#main
      .section-block.gray
        +page-title("LOREM IPSUM LABORUM CUPIDATAT", "Dolor ut cupidatat.", "Nostrud aute proident aliqua minim.").gray
      .section-block
        .content-detail-wrapper
          .container
            .editor-content
              h2 LOREM IPSUM AUTE AMET OCCAECAT FUGIAT ET ADIPISICING QUI.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              br
              h2 LOREM IPSUM AUTE AMET OCCAECAT FUGIAT ET ADIPISICING QUI.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              br
              h2 LOREM IPSUM AUTE AMET OCCAECAT FUGIAT ET ADIPISICING QUI.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              br
              h2 LOREM IPSUM AUTE AMET OCCAECAT FUGIAT ET ADIPISICING QUI.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.
              p Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.Lorem ipsum Commodo labore eiusmod aliquip fugiat esse ea irure consequat ea elit dolore dolore dolor magna magna ex qui labore aute et do enim nisi incididunt sint aliqua id sit.