extends layouts/template-1

block vars
  -title = 'Home'
  -bodyClass = ''
  -bannerIMG = 'guest-experience/banner.jpg'
  -page = 'guest-experience'
block container    
  .inner
    main#main
      .section-block.gray
        +page-title("GUEST REVIEWS", "Help us improve", "SHARE YOUR OPINION WITH US TODAY!").gray
      
      .section-guest-experience
        .guest-experience__detail
          .container
            .row
              .col-md-4
                .title GUEST REVIEWS
                .description
                  p Don't just take our word for it, see what our guests are saying about their experiences at Kempinski Hotels. We think that meeting our guests on social media is a wonderful way to listen to unsolicited feedback. And of course this feedback helps guide us at Kempinski, as we strive to create memorable journeys for our guests.
              .col-md-4
                .title SHARE YOUR OPINION
                .description
                  +img('media', 'guest-experience/img-1.jpg')
              .col-md-4
                .description
                  +img('media', 'guest-experience/img-2.jpg')
        .guest-experience__comment
          .container
            .row.comment-item
              .col-xs-12.col-sm-6.col-md-2
                .title BOOKING.COM
              .col-xs-12.col-sm-6.col-md-3    
                .date 28/10/2015
              .col-xs-12.col-sm-6.col-md-4
                .star-block
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon                 
              .col-xs-12.col-sm-6.col-md-3.text-right
                a(href="#" title="Emirates Palace Profile").link Emirates Palace Profile >>
              .col-xs-12
                .row
                  .col-xs-12.col-md-9.comment.match-height "Positive: this hotel has an incredibly majestic sense of place. The staff are friendly, well spoken and have gorgeous uniforms. All of our speci..."
                  .col-xs-12.col-md-3.text-right.author.match-height 
                    span - Laura from United Arab Emirates
            .row.comment-item
              .col-xs-12.col-sm-6.col-md-2
                .title BOOKING.COM
              .col-xs-12.col-sm-6.col-md-3    
                .date 28/10/2015
              .col-xs-12.col-sm-6.col-md-4
                .star-block
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon                 
              .col-xs-12.col-sm-6.col-md-3.text-right
                a(href="#" title="Emirates Palace Profile").link Emirates Palace Profile >>
              .col-xs-12
                .row
                  .col-xs-12.col-md-9.comment.match-height "Positive: this hotel has an incredibly majestic sense of place. The staff are friendly, well spoken and have gorgeous uniforms. All of our speci..."
                  .col-xs-12.col-md-3.text-right.author.match-height 
                    span - Laura from United Arab Emirates
            .row.comment-item
              .col-xs-12.col-sm-6.col-md-2
                .title BOOKING.COM
              .col-xs-12.col-sm-6.col-md-3    
                .date 28/10/2015
              .col-xs-12.col-sm-6.col-md-4
                .star-block
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon                 
              .col-xs-12.col-sm-6.col-md-3.text-right
                a(href="#" title="Emirates Palace Profile").link Emirates Palace Profile >>
              .col-xs-12
                .row
                  .col-xs-12.col-md-9.comment.match-height "Positive: this hotel has an incredibly majestic sense of place. The staff are friendly, well spoken and have gorgeous uniforms. All of our speci..."
                  .col-xs-12.col-md-3.text-right.author.match-height 
                    span - Laura from United Arab Emirates
            .row.comment-item
              .col-xs-12.col-sm-6.col-md-2
                .title BOOKING.COM
              .col-xs-12.col-sm-6.col-md-3    
                .date 28/10/2015
              .col-xs-12.col-sm-6.col-md-4
                .star-block
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon                 
              .col-xs-12.col-sm-6.col-md-3.text-right
                a(href="#" title="Emirates Palace Profile").link Emirates Palace Profile >>
              .col-xs-12
                .row
                  .col-xs-12.col-md-9.comment.match-height "Positive: this hotel has an incredibly majestic sense of place. The staff are friendly, well spoken and have gorgeous uniforms. All of our speci..."
                  .col-xs-12.col-md-3.text-right.author.match-height 
                    span - Laura from United Arab Emirates
            .row.comment-item
              .col-xs-12.col-sm-6.col-md-2
                .title BOOKING.COM
              .col-xs-12.col-sm-6.col-md-3    
                .date 28/10/2015
              .col-xs-12.col-sm-6.col-md-4
                .star-block
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon
                  span.star-icon                 
              .col-xs-12.col-sm-6.col-md-3.text-right
                a(href="#" title="Emirates Palace Profile").link Emirates Palace Profile >>
              .col-xs-12
                .row
                  .col-xs-12.col-md-9.comment.match-height "Positive: this hotel has an incredibly majestic sense of place. The staff are friendly, well spoken and have gorgeous uniforms. All of our speci..."
                  .col-xs-12.col-md-3.text-right.author.match-height 
                    span - Laura from United Arab Emirates