extends layouts/layout

block vars
  -title = 'Site maps'
  -bodyClass = ''
  -bannerIMG = 'home/banner.jpg'
  style(type="text/css")
    | .container .inner h1 {font-size: 40px !important; margin: 20px 0; color: orange;}
    | .container .inner ul {margin-top: 20px;}
    | .container .inner ol {padding-left: 28px;}
    | .container .inner li {margin-bottom: 20px; font-size: 20px; color: #f37a1f;}
    | .container .inner li > ul {list-style-type: disc;}
    | .container .inner a {text-transform: capitalize;}
    | .container .inner a:hover, .container a:active {color: violet;}

block header
  div

block container
  main#main(style="min-height: 800px")
    .container
      .inner
        h1 Site Maps 
        ol(start="1")

          li: +link("homepage", homepage)(target="_blank", value="1") 
          li: +link("contactus", contactus)(target="_blank", value="1")
          li: +link("about", 'about.html')(target="_blank", value="1")
          li: +link("facilities", facilities)(target="_blank", value="1")
          li: +link("faq", 'faq.html')(target="_blank", value="1")
          li: +link("guest-experience", 'guest-experience.html')(target="_blank", value="1")
          li: +link("local-information", 'local-information.html')(target="_blank", value="1")
          li: +link("photo-gallery", 'photo-gallery.html')(target="_blank", value="1")
          li: +link("residences", 'residences.html')(target="_blank", value="1")
          li: +link("sitemap", 'sitemap.html')(target="_blank", value="1")
          h2 Meetings Events
          li: +link("meetings events", meetingsevents)(target="_blank", value="1")
          li: +link("meetings events detail venues", meetingseventsdetail)(target="_blank", value="1")
          li: +link("meetings events detail weddings", meetingseventsdetailweddings)(target="_blank", value="1")
          h2 Restaurant 
          li: +link("restaurant-bar-landing-1", 'restaurant-bar-landing-1.html')(target="_blank", value="1")
          li: +link("restaurant-bar-landing-2", 'restaurant-bar-landing-2.html')(target="_blank", value="1") 
          h2 Press-Room
          li: +link("pressroom", pressroom)(target="_blank", value="1") 
          li: +link("pressroom detail", pressroomdetail)(target="_blank", value="1") 
          h2 Bar
          li: +link("bar-landing", 'bar-landing.html')(target="_blank", value="1") 
          li: +link("bar detail", 'bar-detail.html')(target="_blank", value="1") 
          h2 Book Room
          li: +link("book-room", 'book-room.html')(target="_blank", value="1")
          li: +link("choose-room", 'choose-room.html')(target="_blank", value="1")
          h2 Room & Suite
          li: +link("room-suite", 'room-suite.html')(target="_blank", value="1")
          li: +link("room-suite-detail", 'room-suite-detail.html')(target="_blank", value="1")
          h2 Spa
          li: +link("spa", 'spa.html')(target="_blank", value="1")
          li: +link("spa-offers", 'spa-offers.html')(target="_blank", value="1")
          li: +link("special-offers", 'special-offers.html')(target="_blank", value="1")
          h2 Corp Hotel
          li: +link("corp-home", 'corp-home.html')(target="_blank", value="1")
          li: +link("corp-destination", 'corp-destination.html')(target="_blank", value="1")
          li: +link("corp-special-offers", 'corp-special-offers.html')(target="_blank", value="1")
          
  // build:js scripts/cdn.js
  script(src='/bower_components/jquery/dist/jquery.js')
  // endbuild

  // build:js scripts/dep.js
  script(src='/bower_components/pubsub/odfc-pubsub.js')
  script(src='/scripts/filter-select.js')
  script(src='/scripts/utils.js')
  script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
  script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
  script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
  script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
  script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
  script(src='/scripts/jquery.sticky.js')
  script(src='/bower_components/matchHeight/jquery.matchHeight-min.js')
  script(src='/bower_components/moment/min/moment.min.js')
  script(src='/scripts/date-range-picker.js')
  script(src='/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js')
  script(src='/bower_components/picturefill/dist/picturefill.js')
  script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
  script(src='/bower_components/bootstrap-daterangepicker/daterangepicker.js')
  script(src='/bower_components/owl-carousel2/src/js/owl.carousel.js')
  script(src='/bower_components/owl-carousel2/src/js/owl.lazyload.js')
  script(src='/bower_components/owl-carousel2/src/js/owl.navigation.js')
  script(src='/scripts/libs-js/owl.equalize.js')
  // endbuild
  
  // build:js scripts/main.js
  script(src='/scripts/main.js')
  // endbuild

  // build:js scripts/photo-gallery.js
  script(src='/bower_components/photoswipe/dist/photoswipe.js')
  script(src='/bower_components/photoswipe/dist/photoswipe-ui-default.js')
  script(src='/scripts/photo-gallery.js')
  // endbuild