// Typography
$font-family-sans-serif:    Helvetica, Arial, sans-serif
$font-arial:                Arial, sans-serif
$font-family-serif:         Georgia, "Times New Roman", Times, serif
$font-family-monospace:     Monaco, Menlo, Consolas, "Courier New", monospace
$font-size-base:            14px

// fontface
$gillsans-light:            'Gill Sans Light', $font-family-sans-serif

$font-family-base:          $gillsans-light

// Color
$color-darker:              lighten(#000, 13.5%) // #222
$color-dark:                lighten(#000, 20%)   // #333
$color-dark-light:          lighten(#000, 33.5%) // #666
$dusty-gray:                lighten(#000, 60%)   // #999
$color-lighter:             lighten(#000, 93.5%) // #eee
$white:                     #fff // white
$black:                     #000 // black


$cardbar-color: #fff
//discuss color
$discuss-border: #ffde14
$discussbar-bg: #ffde14
$discusspopup-bar-bg:  #fff2a1

//consider color
$considerbar-bg: #96d6ee
$considerpopup-bar-bg:  #c5eaf8

//agree color
$agreebar-bg: #26ad4a


// color default
$card-text:        #4d4e4d

$comfirm-bg: #e7e7e7

$header-bg: 				#7ac362
$logo-bg: 					#26ad4a
$landingpage-bg:			#4d4e4d
$stepicon-color:			#fff
$steplabel-color:			#fff

$activity-bg:         #cbcbcb
$actitivybar-bg:         #838484
$actitivybar-color:         #fff
$activity-card-text:        $card-text

$titlebar-bg:				#ffde14
$titlebar-color:			#838484

$tooltip-color:				#4d4e4d
$tooltip-bg:				#cbcbcb

$processbar-agree:			#26ad4a
$processbar-discuss:		#ffde14
$processbar-bg:				#96d6ee

$color:                     #444
$congress-blue:             #005295
$catskill-white:            #e4edf4
$black-squeeze:             #dde8f2
$board-bg:       #fff

$text-default:              $color
$text-active:               $congress-blue

// color btn
$bg-color:                  #4d4e4d
$nomar-text:  #4d4e4d
//background
$menu-hover-bg:             $black-squeeze

// font size
$h1         : 56px
$h2         : 29px
$h3         : 20px
$h4         : 16px
$h5         : 14px
$h6         : 12px
$title      : $h1
$sub-title-1: $h2
$sub-title-2: $h3
$content-1  : $h4 // content-1, nav
$content-2  : $h5 // content-2, button, filter
$footer     : $h6 // footer
$font-20    : $h3
$font-16    : $h4
$font-14    : $h5
$font-12    : $h6


// path
$fontsPath:                 "../fonts/"
$imgPath:                   "../images/"
