extends layouts/layout

block vars
  -title = 'Component Libraries'
  -bodyClass = 'libraries'
block container
  .section
    .container
      h1 Heading 1
      h2 Heading 2
      h3 Heading 3
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis atque minima earum at quae. Possimus enim quas corrupti accusantium libero fugiat alias ratione fugit molestiae vitae perspiciatis consectetur autem, quibusdam.
  .section.section-masonry-component
    .container
      .masonry-wrap
        include includes/masonry-sale-document
  .section.section-masonry-garelly
    .container
      .masonry-wrap.clearfix
        include includes/masonry-garelly
  .section.section-map
      include includes/map-section
  .section.section-garelly-list
    .container
      .garelly-list-wrap
        include includes/garelly-list
  .section.section-sales-info
    .container
      .sales-info-wrap
        +introduction-text('SALES INFORMATION').sales-info-text
          p Donec quam risus, ornare ac semper vitae, pellentesque non purus. Donec sollicitudin pellentesque sapien, at lobortis risus. Integer quis ultrices diam. Aenean orci urna, sagittis nec nunc non, placerat scelerisque tellus. Phasellus varius sodales quam ac mollis. Vivamus eu pretium neque. Suspendisse porta nulla rutrum risus facilisis, quis sagittis lacus viverra. Nullam ac magna pharetra, bibendum dui nec, vestibulum eros.
          p Vivamus eleifend, orci sed vestibulum sagittis, nisi elit porta nisl, eget elementum eros dui at tortor. Proin consequat sollicitudin bibendum. In non velit nisi. Donec condimentum eros diam, vel vestibulum mi sodales a. Fusce nec commodo magna. Donec nec massa quis turpis auctor iaculis quis ac nisl. Nam augue dui, auctor a sapien vel, tincidunt mattis ligula. Nam in tortor vel velit rhoncus congue vitae a lacus.
  .section.section-contact
    .container
      .contact-wrap
        include includes/contact
  //- Parallax example
  .section
    +parallax-video("Video parallax", "the-story/video-bg.jpg", "images/the-story/modern.mp4", "video/mp4")
  .section
    +parallax("The address", "images/the-address/address-bg.jpg")
  .section.section-intro-text
    +introduction-text('The Address')
      p Donec quam risus, ornare ac semper vitae, pellentesque non purus. Donec sollicitudin pellentesque sapien, at lobortis risus. Integer quis ultrices diam. Aenean orci urna, sagittis nec nunc non, placerat scelerisque tellus. Phasellus varius sodales quam ac mollis. Vivamus eu pretium neque. Suspendisse porta nulla rutrum risus facilisis, quis sagittis lacus viverra. Nullam ac magna pharetra, bibendum dui nec, vestibulum eros.
      p Vivamus eleifend, orci sed vestibulum sagittis, nisi elit porta nisl, eget elementum eros dui at tortor. Proin consequat sollicitudin bibendum. In non velit nisi. Donec condimentum eros diam, vel vestibulum mi sodales a. Fusce nec commodo magna. Donec nec massa quis turpis auctor iaculis quis ac nisl. Nam augue dui, auctor a sapien vel, tincidunt mattis ligula. Nam in tortor vel velit rhoncus congue vitae a lacus.
  .section
    +parallax-content("The address", "images/the-address/address-img-4.jpg")
      +introduction-text('The Address')
        p Donec quam risus, ornare ac semper vitae, pellentesque non purus. Donec sollicitudin pellentesque sapien, at lobortis risus. Integer quis ultrices diam. Aenean orci urna, sagittis nec nunc non, placerat scelerisque tellus. Phasellus varius sodales quam ac mollis. Vivamus eu pretium neque. Suspendisse porta nulla rutrum risus facilisis, quis sagittis lacus viverra. Nullam ac magna pharetra, bibendum dui nec, vestibulum eros.
        p Vivamus eleifend, orci sed vestibulum sagittis, nisi elit porta nisl, eget elementum eros dui at tortor. Proin consequat sollicitudin bibendum. In non velit nisi. Donec condimentum eros diam, vel vestibulum mi sodales a. Fusce nec commodo magna. Donec nec massa quis turpis auctor iaculis quis ac nisl. Nam augue dui, auctor a sapien vel, tincidunt mattis ligula. Nam in tortor vel velit rhoncus congue vitae a lacus.
  //- City list
  .section.section-city-list
    include  includes/city-list
  //- Unit list
  .section.section-unit-list
    include  includes/unit-list
  //- Room list
  .section.section-room-list
    include  includes/room-list
  //- Room gallery
  .section.section-room-gallery
    include  includes/room-gallery
  .section.section-loading
    include  includes/loading

  script.
    var galeryMasonryData = [{
      "item": [{
        "imgthumb": "images/the-garelly/ReT_2145775.png",
        "imgsrc": "images/the-garelly/ReT_2145775-full.png",
        "title": "title 1",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1126.png",
        "imgsrc": "images/the-garelly/ReT_1126-full.png",
        "title": "title 2",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_2135722.png",
        "imgsrc": "images/the-garelly/ReT_2135722-full.png",
        "title": "title 3",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0801.png",
        "imgsrc": "images/the-garelly/ReT_0801-full.png",
        "title": "title 4",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0962.png",
        "imgsrc": "images/the-garelly/ReT_0962-full.png",
        "title": "title 5",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0608.png",
        "imgsrc": "images/the-garelly/ReT_0608-full.png",
        "title": "title 6",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1222B.png",
        "imgsrc": "images/the-garelly/ReT_1222B-full.png",
        "title": "title 7",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0541.png",
        "imgsrc": "images/the-garelly/ReT_0541-full.png",
        "title": "title 8",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0066.png",
        "imgsrc": "images/the-garelly/ReT_0066-full.png",
        "title": "title 9",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0665.png",
        "imgsrc": "images/the-garelly/ReT_0665-full.png",
        "title": "title 10",
        "caption": "caption"
      }]
    },{
      "item": [{
        "imgthumb": "images/the-garelly/ReT_2145775.png",
        "imgsrc": "images/the-garelly/ReT_2145775-full.png",
        "title": "title 1",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1126.png",
        "imgsrc": "images/the-garelly/ReT_1126-full.png",
        "title": "title 2",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_2135722.png",
        "imgsrc": "images/the-garelly/ReT_2135722-full.png",
        "title": "title 3",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0801.png",
        "imgsrc": "images/the-garelly/ReT_0801-full.png",
        "title": "title 4",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0962.png",
        "imgsrc": "images/the-garelly/ReT_0962-full.png",
        "title": "title 5",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0608.png",
        "imgsrc": "images/the-garelly/ReT_0608-full.png",
        "title": "title 6",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1222B.png",
        "imgsrc": "images/the-garelly/ReT_1222B-full.png",
        "title": "title 7",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0541.png",
        "imgsrc": "images/the-garelly/ReT_0541-full.png",
        "title": "title 8",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0066.png",
        "imgsrc": "images/the-garelly/ReT_0066-full.png",
        "title": "title 9",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0665.png",
        "imgsrc": "images/the-garelly/ReT_0665-full.png",
        "title": "title 10",
        "caption": "caption"
      }]
    },{
      "item": [{
        "imgthumb": "images/the-garelly/ReT_2145775.png",
        "imgsrc": "images/the-garelly/ReT_2145775-full.png",
        "title": "title 1",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1126.png",
        "imgsrc": "images/the-garelly/ReT_1126-full.png",
        "title": "title 2",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_2135722.png",
        "imgsrc": "images/the-garelly/ReT_2135722-full.png",
        "title": "title 3",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0801.png",
        "imgsrc": "images/the-garelly/ReT_0801-full.png",
        "title": "title 4",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0962.png",
        "imgsrc": "images/the-garelly/ReT_0962-full.png",
        "title": "title 5",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0608.png",
        "imgsrc": "images/the-garelly/ReT_0608-full.png",
        "title": "title 6",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1222B.png",
        "imgsrc": "images/the-garelly/ReT_1222B-full.png",
        "title": "title 7",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0541.png",
        "imgsrc": "images/the-garelly/ReT_0541-full.png",
        "title": "title 8",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0066.png",
        "imgsrc": "images/the-garelly/ReT_0066-full.png",
        "title": "title 9",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0665.png",
        "imgsrc": "images/the-garelly/ReT_0665-full.png",
        "title": "title 10",
        "caption": "caption"
      }]
    },{
      "item": [{
        "imgthumb": "images/the-garelly/ReT_2145775.png",
        "imgsrc": "images/the-garelly/ReT_2145775-full.png",
        "title": "title 1",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1126.png",
        "imgsrc": "images/the-garelly/ReT_1126-full.png",
        "title": "title 2",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_2135722.png",
        "imgsrc": "images/the-garelly/ReT_2135722-full.png",
        "title": "title 3",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0801.png",
        "imgsrc": "images/the-garelly/ReT_0801-full.png",
        "title": "title 4",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0962.png",
        "imgsrc": "images/the-garelly/ReT_0962-full.png",
        "title": "title 5",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0608.png",
        "imgsrc": "images/the-garelly/ReT_0608-full.png",
        "title": "title 6",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_1222B.png",
        "imgsrc": "images/the-garelly/ReT_1222B-full.png",
        "title": "title 7",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0541.png",
        "imgsrc": "images/the-garelly/ReT_0541-full.png",
        "title": "title 8",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0066.png",
        "imgsrc": "images/the-garelly/ReT_0066-full.png",
        "title": "title 9",
        "caption": "caption"
      },{
        "imgthumb": "images/the-garelly/ReT_0665.png",
        "imgsrc": "images/the-garelly/ReT_0665-full.png",
        "title": "title 10",
        "caption": "caption"
      }]
    }];

block pagescript
  // build:js scripts/masonry.js
  script(src='/bower_components/masonry/dist/masonry.pkgd.min.js')
  // endbuild

  // build:js scripts/handlebars.js
  script(src='/bower_components/handlebars/handlebars.min.js')
  // endbuild
  
  // build:js scripts/garelly-masonry.js
  script(src='/scripts/garelly-masonry.js')
  // endbuild
  
  

