.innovation-casestudy-block.grey-bgc
	.container
		.innovation-casestudy-block-introcude.tac
			.title-block
				h3.grey.bold Innovations and Case Studies
				.divider
					span
		.row.innovation-casestudy-slide
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.col-sm-7.col-xs-12
							.slide-img.has-action.img
								a
									img(src="images/home/innovations-slide-image.png")
								.action
									.heart-icon
									.share-icon.toggleClick.share-toggle(target=".share-popup-block")
									include ../share_popup.jade
									a(href="#").button.view.rainbow 
										div.bgw View
						.col-sm-5.col-xs-12
							.slide-content
								.slide-content-title
									a(href='#')
										p.p.bold Designer Home in Queensland
								.slide-content-body
									p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
								.slide-content-button
									a(href="#").button.rainbow
										div.bgw View Case Study
								.slide-content-used-product
									.used-product-title
										p.p.bold Used Products
									.row.used-product-items
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#")
												span.p Designer Series Urban Grey
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#")
												span.p Slimline Slate
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#")
												span.p Smooth Mocha
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#")
												span.p Textured Sandstone
					.swiper-slide
						.col-sm-7.col-xs-12
							.slide-img.has-action.img
								a
									img(src="images/home/innovations-slide-image.png")
								.action
									.heart-icon
									.share-icon.toggleClick.share-toggle(target=".share-popup-block")
									include ../share_popup.jade
									a(href="#").button.view.rainbow 
										div.bgw View
						.col-sm-5.col-xs-12
							.slide-content
								.slide-content-title
									a(href='#' target='_blank')
										p.p.bold Designer Home in Queensland
								.slide-content-body
									p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
								.slide-content-button
									a(href="#").button.rainbow
										div.bgw View Case Study
								.slide-content-used-product
									.used-product-title
										p.p.bold Used Products
									.row.used-product-items
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Designer Series Urban Grey
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Slimline Slate
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Smooth Mocha
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Textured Sandstone
					.swiper-slide
						.col-sm-7.col-xs-12
							.slide-img.has-action.img
								a
									img(src="images/home/innovations-slide-image.png")
								.action
									.heart-icon
									.share-icon.toggleClick.share-toggle(target=".share-popup-block")
									include ../share_popup.jade
									a(href="#").button.view.rainbow 
										div.bgw View
						.col-sm-5.col-xs-12
							.slide-content
								.slide-content-title
									a(href='#' target='_blank')
										p.p.bold Designer Home in Queensland
								.slide-content-body
									p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
								.slide-content-button
									a(href="#").button.rainbow
										div.bgw View Case Study
								.slide-content-used-product
									.used-product-title
										p.p.bold Used Products
									.row.used-product-items
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Designer Series Urban Grey
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Slimline Slate
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Smooth Mocha
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Textured Sandstone
					.swiper-slide
						.col-sm-7.col-xs-12
							.slide-img.has-action.img
								a
									img(src="images/home/innovations-slide-image.png")
								.action
									.heart-icon
									.share-icon.toggleClick.share-toggle(target=".share-popup-block")
									include ../share_popup.jade
									a(href="#").button.view.rainbow 
										div.bgw View
						.col-sm-5.col-xs-12
							.slide-content
								.slide-content-title
									a(href='#' target='_blank')
										p.p.bold Designer Home in Queensland
								.slide-content-body
									p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
								.slide-content-button
									a(href="#").button.rainbow
										div.bgw View Case Study
								.slide-content-used-product
									.used-product-title
										p.p.bold Used Products
									.row.used-product-items
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Designer Series Urban Grey
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Slimline Slate
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Smooth Mocha
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Textured Sandstone
					.swiper-slide
						.col-sm-7.col-xs-12
							.slide-img.has-action.img
								a
									img(src="images/home/innovations-slide-image.png")
								.action
									.heart-icon
									.share-icon.toggleClick.share-toggle(target=".share-popup-block")
									include ../share_popup.jade
									a(href="#").button.view.rainbow 
										div.bgw View
						.col-sm-5.col-xs-12
							.slide-content
								.slide-content-title
									a(href='#' target='_blank')
										p.p.bold Designer Home in Queensland
								.slide-content-body
									p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
								.slide-content-button
									a(href="#").button.rainbow
										div.bgw View Case Study
								.slide-content-used-product
									.used-product-title
										p.p.bold Used Products
									.row.used-product-items
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Designer Series Urban Grey
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Slimline Slate
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Smooth Mocha
										.col-sm-6.col-xs-12.item
											<i class="fa fa-angle-right used-product-items-icon p xsmall"></i>
											a(href="#" target='_blank')
												span.p Textured Sandstone
				.swiper-pagination