.innovate-block
	.innovate-block-inner.text-center.grey-bgc
		.container
			.row
				.col-sm-10.col-sm-offset-1
					.innovate-block-introcude.tac
						.title-block
							h3.grey.bold Innovate and distinctive building solutions
							.divider.innovate-divider
								span
						.block-inner-description
							p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				.innovate-block-image.first-image-block
							.row
								.col-sm-2.col-xs-12.first-items
									.items
										a(href='#')
											img(src="images/home/lightweight.png")
											p.p Lightweight
								.col-sm-2.col-xs-12.first-items.data-delay-300
									.items
										a(href='#')
											img(src="images/home/durable.png")
											p.p Durable
								.col-sm-2.col-xs-12.first-items.data-delay-500
									.items
										a(href='#')
											img(src="images/home/guarantee.png")
											p.p Guarantee
								.col-sm-2.col-xs-12.first-items.data-delay-500
									.items
										a(href='#')
											img(src="images/home/innovative.png")
											p.p Innovative
								.col-sm-2.col-xs-12.first-items.data-delay-900
									.items
										a(href='#')
											img(src="images/home/support.png")
											p.p Support
	.innovate-block-image.second-image-block.text-center
		.container
			.second-image-block-inner
				.col-md-3.col-sm-6.col-xs-12
					.second-items.items.data-delay-100
						.second-items-img
							a.img.circle(href="#")
								img(src="images/home/facade.png")
						.second-items-title
							a(href="#" target='_blank')
								p.p.bold Facades
						.second-items-content
							p.p Lorem ipsum dolor sit amet consecter adipiscing elit aenean euismod bibendum laoreet.
				.col-md-3.col-sm-6.col-xs-12
					.second-items.items.data-delay-300
						.second-items-img
							a.img.circle(href="#")
								img(src="images/home/ceiling.png")
						.second-items-title
							a(href="#" target='_blank')
								p.p.bold Ceiling
						.second-items-content
							p.p Lorem ipsum dolor sit amet consecter adipiscing elit aenean euismod bibendum laoreet.
				.col-md-3.col-sm-6.col-xs-12
					.second-items.items.data-delay-500
						.second-items-img
							a.img.circle(href="#")
								img(src="images/home/flooring.png")
						.second-items-title
							a(href="#" target='_blank')
								p.p.bold Flooring
						.second-items-content
							p.p Lorem ipsum dolor sit amet consecter adipiscing elit aenean euismod bibendum laoreet.
				.col-md-3.col-sm-6.col-xs-12
					.second-items.items.data-delay-600
						.second-items-img
							a.img.circle(href="#")
								img(src="images/home/walling.png")
						.second-items-title
							a(href="#" target='_blank')
								p.p.bold Walling
						.second-items-content
							p.p Lorem ipsum dolor sit amet consecter adipiscing elit aenean euismod bibendum laoreet.
			.second-image-block-findmore
				a(href="#").button.rainbow
					div.bgw Find out more
          
			

