.latest-new-block
	.container
		.division
		.row
			.latest-new
				.col-md-3.col-sm-3.info-col
					h3.bold Latest News
					ul
						li 
							a(href="#" target='_blank') The Search Continues for Australia’s Next Top Designer

						li 
							a(href="#" target='_blank') Cemintel Modifies Systems for BCA Changes

						li 
							a(href="#" target='_blank') Urban Density and the future of the small block
					a(href="#").button.rainbow
						div.bgw View all News
				.col-md-3.col-sm-3
					.social-block.twitter
						.logo-btns
							.col-md-4.col-sm-4.col-xs-4.left-col
								i.fa.fa-twitter
							.col-md-8.col-sm-8.right-col
								a(href="#").button.solid-btn.bold.twitter-btn Follow us
						.feeds
							.col-md-4.col-sm-4.col-xs-4.left-col
								a(href="#").feed-logo
							.col-md-8.col-sm-8.feed-block.right-col
								.feed.p.xsmall
									p CSR Cemintel<span> ‏@Cemintel</span> CeminSeal™ Waterblock Technology repels water & offers stronger paint & joint adhesion. <a href="http://goo.gl/Gh37JR">http://goo.gl/Gh37JR</a>
									img(src="images/tweet.jpg")
								.feed.p.xsmall
									p CSR Cemintel<span> ‏@Cemintel</span> CeminSeal™ Waterblock Technology repels water & offers stronger paint & joint adhesion. <a href="http://goo.gl/Gh37JR">http://goo.gl/Gh37JR</a>
									img(src="images/tweet.jpg")

				.col-md-3.col-sm-3
					.social-block.facebook
						.logo-btns
							.col-md-4.col-sm-4.col-xs-4.left-col
								i.fa.fa-facebook
							.col-md-8.col-sm-8.right-col
								a(href="#").button.solid-btn.bold.facebook-btn Like
						.feeds
							.col-md-4.col-sm-4.col-xs-4.left-col
								a(href="#").feed-logo
							.col-md-8.col-sm-8.feed-block.right-col
								.feed.p.xsmall
									p 
										span CSR Cemintel 
										| Another funky job from Cemintel. 
									img(src="images/tweet.jpg")
								.feed.p.xsmall
									p 
										span CSR Cemintel 
										| Another funky job from Cemintel. 
									img(src="images/tweet.jpg")
				.col-md-3.col-sm-3
					.social-block.pinterest
						.logo-btns
							.col-md-4.col-sm-4.col-xs-4.left-col
								i.fa.fa-pinterest-p
							.col-md-8.col-sm-8.right-col
								a(href="#").button.solid-btn.bold.pinterest-btn Like
						.feeds
							.col-md-12.feed-block
								.feed.p.xsmall
									h4.bold Home build inspiration - Cemintel
									p 
										span CSR Cemintel 
									img(src="images/tweet.jpg")
								.feed.p.xsmall
									h4.bold Home build inspiration - Cemintel
									p 
										span CSR Cemintel 
									img(src="images/tweet.jpg")