.styliser-block
	.container.desktop
		.row.top-row
			.col-md-8.col-md-offset-2.clearfix.text-center
				.title-block
					h3.grey.bold Styliser Tool
					.divider.innovate-divider
						span
			.col-md-4
				.styliser-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.title.p.bold Urban Industrial
								p.p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi distinctio provident quos inventore cumque dignissimos consectetur nihil minima, nisi quae voluptate vero culpa exercitationem at suscipit reiciendis quaerat impedit beatae.
							.swiper-slide
								.title.p.bold Natural Imitation
								p.p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi distinctio provident quos inventore cumque dignissimos consectetur nihil minima, nisi quae voluptate vero culpa exercitationem at suscipit reiciendis quaerat impedit beatae.
							.swiper-slide
								.title.p.bold Australian Contemporary
								p.p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi distinctio provident quos inventore cumque dignissimos consectetur nihil minima, nisi quae voluptate vero culpa exercitationem at suscipit reiciendis quaerat impedit beatae.
				.row
					.col-md-7.styliser-button-list
						.button.grey-btn.bold.active(target="urban-industrial", index="0")
							.bgw Urban Industrial
						.button.grey-btn.bold(target="natural-imitation", index="1")
							.bgw Natural Imitation
						.button.grey-btn.bold(target="australian-contemporary", index="2")
							.bgw Australian Contemporary
			.col-md-8.list-model-container
				.styliser-visual-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.model-container#urban-industrial
									.relative-container
										//- .overlay
										img(src="images/home/model/model1/model1.png", alt="")
										.wall-1.item-render-box
											img#model1_imgRender1.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender2.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender3.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
											img#model1_imgRender4.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender5.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender6.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
										.wall-2.item-render-box
											img#model1_imgRender7.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender8.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender9.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
											img#model1_imgRender10.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender11.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender12.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
										.wall-3.item-render-box
											img#model1_imgRender13.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender14.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender15.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
											img#model1_imgRender16.img-rendered(src="images/home/model/model1/model1-render1.png", alt="")
											img#model1_imgRender17.img-rendered(src="images/home/model/model1/model1-render2.png", alt="")
											img#model1_imgRender18.img-rendered(src="images/home/model/model1/model1-render3.png", alt="")
										.hotspot(data-container='body', style='top: 60%; left: 50%;', data-toggle='popover', data-trigger='click', data-placement='left', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender1'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender2'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender3'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender4'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender5'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-1' data-id='#model1_imgRender6'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
										.hotspot(data-container='body', style='top: 80%; left: 20%;', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender7'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender8'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender9'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender10'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender11'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-2' data-id='#model1_imgRender12'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
										.hotspot(data-container='body', style='top: 20%; left: 80%;', data-toggle='popover', data-trigger='click', data-placement='left', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender13'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender14'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender15'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender16'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender17'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center' boxTarget='.wall-3' data-id='#model1_imgRender18'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
							.swiper-slide
								.model-container#natural-imitation
									.relative-container
										//- .overlay
										img(src="images/3d-model-img.png", alt="")
										.hotspot(data-container='body', style='top: 60%; left: 50%;', data-toggle='popover', data-trigger='click', data-placement='left', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
										.hotspot(data-container='body', style='top: 50%; left: 50%;', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
							.swiper-slide
								.model-container#australian-contemporary
									.relative-container
										//- .overlay
										img(src="images/3d-model-img.png", alt="")
										.hotspot(data-container='body', style='top: 60%; left: 50%;', data-toggle='popover', data-trigger='click', data-placement='left', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
										.hotspot(data-container='body', style='top: 40%; left: 40%;', data-toggle='popover', data-trigger='click', data-placement='right', data-html='true', data-content="<div class='hotspot-container text-center'>\
						<div class='p bold title'>Urban Industrial</div>\
						<div class='divider innovate-divider'><span></span></div>\
						<div class='item-row'>\
						<p class='p text-left'>Designer Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> i-Cube\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Textured\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Slimline\
						</div>\
						</div>\
						<div class='item-row'>\
						<p class='p text-left'>Creative Series <sup>TM</sup></p>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> BareStone<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Expresswall<sup>TM</sup>\
						</div>\
						<div class='item-thumb text-center'>\
						<img src='images/thum1.png' alt=''> Residential Expresswall<sup>TM</sup>\
						</div>\
						</div>\
						</div>", data-original-title='', title='')
		.row.bottom-row
			.col-md-8.col-md-offset-2.clearfix.text-center
				.title-block
					h3.grey.bold Matching Styles, Cases and Inspiration 
					.divider.innovate-divider
						span
			.col-md-10.col-md-offset-1
				.grid-article.row
					//- .grid-sizer
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image1.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.australian-contemporary
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image2.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Smooth Mocha
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt enim reiciendis inventore repudiandae ducimus magni porro, iusto amet, debitis, consectetur! Quae non culpa tempore molestias laboriosam sunt obcaecati, veniam.
					.article-item.urban-industrial.double-size
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quaerat, quae! Exercitationem praesentium laborum iste, nulla, ad harum voluptas magnam nobis deleniti, quos debitis sed eos excepturi facilis, reprehenderit autem.
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptatem saepe cumque, sed esse. Asperiores veniam saepe incidunt magni velit eaque minima vel ratione cum eveniet? Provident soluta, et laboriosam!
					.article-item.natural-imitation
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur fugiat sunt, adipisci! Illo repudiandae ut voluptates, eligendi, numquam consequuntur voluptas atque exercitationem quas, reiciendis tempore dolore laudantium itaque architecto!
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image1.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image2.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Smooth Mocha
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt enim reiciendis inventore repudiandae ducimus magni porro, iusto amet, debitis, consectetur! Quae non culpa tempore molestias laboriosam sunt obcaecati, veniam.
					.article-item.australian-contemporary.double-size
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptatem saepe cumque, sed esse. Asperiores veniam saepe incidunt magni velit eaque minima vel ratione cum eveniet? Provident soluta, et laboriosam!
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur fugiat sunt, adipisci! Illo repudiandae ut voluptates, eligendi, numquam consequuntur voluptas atque exercitationem quas, reiciendis tempore dolore laudantium itaque architecto!
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.natural-imitation
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.australian-contemporary
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur fugiat sunt, adipisci! Illo repudiandae ut voluptates, eligendi, numquam consequuntur voluptas atque exercitationem quas, reiciendis tempore dolore laudantium itaque architecto!
					.article-item.natural-imitation
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.australian-contemporary
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image2.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Smooth Mocha
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nesciunt enim reiciendis inventore repudiandae ducimus magni porro, iusto amet, debitis, consectetur! Quae non culpa tempore molestias laboriosam sunt obcaecati, veniam.
					.article-item.urban-industrial
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptatem saepe cumque, sed esse. Asperiores veniam saepe incidunt magni velit eaque minima vel ratione cum eveniet? Provident soluta, et laboriosam!
					.article-item.natural-imitation.double-size
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur fugiat sunt, adipisci! Illo repudiandae ut voluptates, eligendi, numquam consequuntur voluptas atque exercitationem quas, reiciendis tempore dolore laudantium itaque architecto!
					.article-item.australian-contemporary
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptatem saepe cumque, sed esse. Asperiores veniam saepe incidunt magni velit eaque minima vel ratione cum eveniet? Provident soluta, et laboriosam!
					.article-item.natural-imitation
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
					.article-item.australian-contemporary
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image3.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Minions ipsum ti aamoo
							p.article-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et pariatur fugiat sunt, adipisci! Illo repudiandae ut voluptates, eligendi, numquam consequuntur voluptas atque exercitationem quas, reiciendis tempore dolore laudantium itaque architecto!
					.article-item.natural-imitation
						.article-img.img.has-action
							a(href="#")
								img(src="images/case-study/case-detail/realted-case-study-image4.png")
							.action
								.heart-icon
								.share-icon.toggleClick.share-toggle(target=".share-popup-block")
								include ../share_popup.jade
								a(href="#").button.view.rainbow 
									div.bgw View
						.article-info
							a(href="#" target='_blank').article-title.bold Designer Series™ Textured Ebony
							p.article-des Tank yuuu! Aute. Me want bananaaa! potatoooo ut hahaha velit minim gelatooo irure hana dul sae ullamco wiiiii.
	.container.mobile.feature-block
		.row
			.col-xs-12.feature-block-item
				.feature-block-inner
					.feature-block-img
						.img
							img(src="images/styliser-intro-mobile.jpg")
					.feature-block-content
						.feature-block-content-title
							span.bold Styliser Tool
						.feature-block-content-body
							p.p Change textures, colours, lorem ipsum dolor sit amet, consectet adipiscing elit.
					.feature-block-content-button
						.button.rainbow(id="show-styliser-mobile")
							div.bgw.bold Get started
		.styliser-mobile-container
			.top-header
				a.logo(href="#")
					img(src="images/logo.png", alt="")
				.back-button
					span Go back to website
					.close-icon
			.portrait-screen
				img.intro-text(src="images/styliser-mobile-text.png", alt="")
				br
				img.rotate-icon(src="images/rotate-icon.png", alt="")
				p Rotate your screen to landscape mode to get started.
			.landscape-screen
				p To get started minions ipsum qui tank yuuu! Occaecat hahaha baboiii tempor aliquip consequat baboiii hana dul sae. Sit amet aliquip poulet tikka masala qui. 
				.list-item-selector
					.item-selector
						img(src="images/urban-industrial.png", alt="")
						.button-selector(cate="urban-industrial")
							| Urban Industrial
					.item-selector
						img(src="images/natural-imitation.png", alt="")
						.button-selector(cate="natural-imitation")
							| Natural Imitation
					.item-selector
						img(src="images/australian-contemporary.png", alt="")
						.button-selector(cate="australian-contemporary")
							| Australian Contemporary
				.guide-screen
					.go-back
						span Select other collection
						.back-icon
					.guide-content
						.guide-item
							img(src="images/tap-guide.png", alt="")
						.guide-item
							img(src="images/swipe-guide.png", alt="")
					.button-selector.button-got-it
							| I got it!
				.styliser-mobile-slider-container
					.relative-container
						.header-info
							span.product-name
							.go-back
								span Select other collection
								.back-icon
						.swiper-container(cate="urban-industrial")
							.swiper-wrapper
								.swiper-slide(product-name="Product 1")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 2")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 3")
									img(src="images/guide-screen-bg.jpg", alt="")
						.swiper-container(cate="natural-imitation")
							.swiper-wrapper
								.swiper-slide(product-name="Product 4")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 5")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 6")
									img(src="images/guide-screen-bg.jpg", alt="")
						.swiper-container(cate="australian-contemporary")
							.swiper-wrapper
								.swiper-slide(product-name="Product 7")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 8")
									img(src="images/guide-screen-bg.jpg", alt="")
								.swiper-slide(product-name="Product 9")
									img(src="images/guide-screen-bg.jpg", alt="")


					