.activity-section
      //- .min
      .activity-window.min
        .title-bar 
          .text RECENT ACTIVITY
          a(href="javascript:").btn.btn-avtivity-show
          a(href="javascript:").btn.btn-avtivity-hide
        .wrapper
          .content
            .card-wrapper
              +card().card-activity
              +card().card-activity
              +card().card-activity
              +card().card-activity
              +card().card-activity
              +card().card-activity
              +card().card-activity
