.card-content
  .label
    span.user.user1 J
    span 4.02
  .body
    .title.ip Mary 5:35am 12/6/15 
    .text
      p Donec nec condimentum diam. Vivamus facilisis velit a nisi finibus efficitur. Curabitur efficitur lacus malesuada, tempor leo eget, pulvinar ante. 
      p fringilla tortor nibh. Cras ut nulla purus. Nulla vel orci id est cursus faucibus. Suspendisse porttitor, augue non finibus consequat,
  .action.animated.fadeIn
    a(href="javascript:").btn.btn-check
    a(href="javascript:").btn.btn-msg
    a(href="javascript:").btn.btn-remove
  .overlay
    a(href="javascript:").btn.btn-close
    .btn-wrap
      a(href="javascript:").btn.btn-check-large
      a(href="javascript:").btn.btn-msg-large
      a(href="javascript:").btn.btn-remove-large
      a(href="javascript:").btn.btn-edit-large
      a(href="javascript:").btn.btn-history-large
