#edit-modal.modal
  .modal-overlay
  .modal-body
    .modal-content
      +card-discuss-edit()
      .modal-action
        .title Change the contribution type
        .action
          ul
            li
              a(href="javascript:").btn-type-1 INTELLECTUAL PROPERTY
                span
            li
              a(href="javascript:").btn-type-2 MONETARY CONTRUTION
                span
            li
              a(href="javascript:").btn-type-3 INTANGIBLE
                span
            li
              a(href="javascript:").btn-type-4 TIME
                span
            li
              a(href="javascript:").btn-type-5 OTHER
                span
        .title To complete choose your suggestion status
        .btn-confirm-group
          a(href="javascript:").btn.btn-check-large AGREE
          a(href="javascript:").btn.btn-msg-large DISCUSS