#equity-modal.modal.equity-modal
  .modal-overlay
  .modal-body
    .modal-content
      .table-equity-wrap
        table
          tr
            th.type 
              span Type
            th  
              span Description
            th.money  
              span.show-tooltip Value
          tr
            td.type
              label.ip INTELLECTUAL PROPERTY
            td
              p Phasellus scelerisque neque ante, et eleifend libero vehicula id. Vivamus neque neque, interdum vitae arcu vitae, aliquet lacinia urna. Quisque ut eros tristique.
            td.money
              span.unit $
              span.value  
          tr  
            td.type
              label.time TIME
            td
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac dolor nec velit facilisis facilisis sed vitae mi. Phasellus scelerisque neque ante, et eleifend libero vehicula id. Vivamus neque neque, interdum vitae arcu vitae, aliquet lacinia urna. Quisque ut eros tristique, feugiat ante ut, tempor lacus.
            td.money
              span.unit $
              span.value
          tr  
            td.type
              label.money MONETARY CONTRUTION
            td
              p
            td.money
              span.unit $
              span.value
          tr
            td.type
              label.could INTANGIBLE
            td
              p Mauris ac dolor nec velit facilisis facilisis sed vitae mi. Phasellus scelerisque neque ante, et eleifend libero vehicula id. Vivamus neque neque, interdum vitae arcu vitae.a urna. Quisque ut eros tristique, feugiat ante ut, tempor lacus.
            td.money
              span.unit $
              span.value
          tr
            td.type
              label.other OTHER
            td
              p Mauris ac dolor nec velit facilisis facilisis sed vitae mi. Phasellus scelerisque neque ante, et eleifend libero vehicula id. Vivamus neque neque, interdum vitae arcu vitae. a urna. Quisque ut eros tristique, feugiat ante ut, tempor lacus.
            td.money
              span.unit $
              span.value
          tr.total
            th(colspan="2") Total
            td.money
              span.unit $
              span.value
      .modal-action
        .btn-confirm-group
          a(href="javascript:").btn.btn-print Print
          a(href="javascript:").btn.btn-save-pdf Save PDF