.landing-page-section
      .title-bar 
        .text ACME CO. CO-FOUNDER AGREEMENT
      .list-steps
        ul
          li
            span.icon.details 1
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Co-Founder Details
            a(href="demo-details.html#1").icon.edit
          li
            span.icon.standard 2
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE             
            label Business Description
            a(href="demo-standard.html#2").icon.edit
          li
            span.icon.standard 3
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE      
            label Business Name
            a(href="demo-standard.html#3").icon.edit
          li
            span.icon.types 4
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Objectives
            a(href="demo-types.html#4").icon.edit

          li
            span.icon.details 5
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE    
            label Directors
            a(href="demo-details.html#5").icon.edit

          li
            span.icon.types 6
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Contributions to Date
            a(href="demo-types.html#6").icon.edit
          li
            span.icon.types 7
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Roles & Ongoing Contributions
            a(href="demo-types.html#7").icon.edit
          li
            span.icon.equity 8
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label(data-modal="equity") Equity Split
            a(href="demo-equity.html#8").icon.edit
          li
            span.icon.options 9
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Unanimous Decisions
            a(href="demo-options.html#9").icon.edit
          li
            span.icon.options 10
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Termination of Agreement
            a(href="demo-options.html#10").icon.edit
          li
            span.icon.options 11
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Termination Effects
            a(href="demo-options.html#11").icon.edit
          li
            span.icon.options 12
            .tooltip
              p NEEDS YOUR APPROVAL 
                a(href="javascript:") CLICK HERE
            label Events of Default
            a(href="demo-options.html#12").icon.edit

      .process-bar
        .process-bar-wrap
          div(style="width: 25%").agree.bar-line
            span(title="25% FINISHED").tooltip 25% FINISHED
          div(style="width: 25%").discuss.bar-line
            span(title="50% STARTED").tooltip 50% STARTED
          .consider-percent