.solution-slider.hidden-xs.desktop-swiper
	.container
		.row
			.solution-slider-wrapper
				.top-left
				.right-bottom
				.col-sm-8.col-sm-offset-2
					.row
						#solution-swiper
							.swiper-container
								.swiper-wrapper
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											.share-icon.toggleClick.share-toggle(target=".share-popup-block")
											include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
				.prev
				.next
			//- .solution-slider-pagination.visible-xs
.solution-slider.visible-xs.mobile-swiper
	.container
		.row
			.solution-slider-wrapper
				.top-left
				.right-bottom
				.col-sm-8.col-sm-offset-2
					.row
						#solution-swiper-mobile
							.swiper-container
								.swiper-wrapper
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											//- .share-icon.toggleClick.share-toggle(target=".share-popup-block")
											//- include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											//- .share-icon.toggleClick.share-toggle(target=".share-popup-block")
											//- include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											//- .share-icon.toggleClick.share-toggle(target=".share-popup-block")
											//- include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
									.swiper-slide.img.has-action
										img(src="images/case-study/case-detail/solution-big-image.jpg", alt="")
										.action
											.heart-icon
											//- .share-icon.toggleClick.share-toggle(target=".share-popup-block")
											//- include ../share_popup.jade
											a.button.view.rainbow 
												div.bgw View
				.prev
				.next
			.solution-slider-pagination.visible-xs
.solution-thumb-slider
	.container
		.row
			.col-sm-8.col-sm-offset-2
				.row
					.swiper-container#solution-thumb-swiper.hidden-xs
						.swiper-wrapper
							.swiper-slide.col-sm-3(target="0")
								.img.active
									img(src="images/case-study/case-detail/solution-small-image1.jpg")
							.swiper-slide.col-sm-3(target="1")
								.img
									img(src="images/case-study/case-detail/solution-small-image2.jpg")
							.swiper-slide.col-sm-3(target="2")
								.img
									img(src="images/case-study/case-detail/solution-small-image3.jpg")
							.swiper-slide.col-sm-3(target="3")
								.img
									img(src="images/case-study/case-detail/solution-small-image4.jpg")
							.swiper-slide.col-sm-3(target="4")
								.img
									img(src="images/case-study/case-detail/solution-small-image4.jpg")
							.swiper-slide.col-sm-3(target="5")
								.img
									img(src="images/case-study/case-detail/solution-small-image4.jpg")
					.prev
					.next