footer#footer
  .footer-top-section
    .container
      .social-links
        p Follow Toyota Hong Kong
        ul
          li
            a.facebook(href='#', title='facebook') facebook
          li
            a.youtube(href='#', title='youtube') youtube
          li
            a.instagram(href='#', title='instagram') instagram
      .footer-main-content
        .models
          h4 All models
          table
            tr
              td
                a(href='#', title='86') 86
              td
                a(href='car-ractis.html', title='Ractis') Ractis
              td
                a(href='#', title='Prius C') Prius C
            tr
              td
                a(href='#', title='Spade') Spade
              td
                a(href='car-corolla.html', title='Corolla') Corolla
              td
                a(href='car-camry.html', title='Camry') Camry
            tr
              td
                a(href='#', title='Mark X') Mark X
              td
                a(href='#', title='Prius') Prius
              td
                a(href='#', title='RAV4') RAV4
            tr
              td
                a(href='#', title='Pardo') Pardo
              td
                a(href='#', title='Sienta') Sienta
              td
                a(href='#', title='Wish') Wish
            tr
              td
                a(href='#', title='Noah') Noah
              td
                a(href='#', title='Prius V') Prius V
              td
                a(href='#', title='Previa') Previa
            tr
              td
                a(href='#', title='Alphard') Alphard
              td
                a(href='#', title='Vellfire') Vellfire
              td
                a(href='#', title='Hiace') Hiace
            tr
              td
                a(href='#', title='Coaster') Coaster
              td
                a(href='#', title='Taxi') Taxi
              td
                a(href='price-list.html', title='Price list') Price list
            tr
              td
                a(href='promotion-list.html', title='Promotion List') Promotion List
              td
                a(href='#', title='Trade-in Services') Trade-in Services
              td
        .links
          .external-links-col.w11p
            h4 
              a(href='#' , title='Used Cars') Used Cars
          .external-links-col.w11p
            h4 
              a(href='#', title='TRAC') TRAC
          .external-links-col.w22p
            h4 Aftersales
            ul
              li
                a(href='#', title='Recall Inquiry') Recall Inquiry
              li
                a(href='#', title='Maintenance Service') Maintenance Service
              li
                a(href='#', title='Aftersales Service Package & Promotion') Aftersales Service Package <br/> & Promotion
              li
                a(href='#', title='Maintenance & Driving Tips') Maintenance & Driving Tips
              li
                a(href='#', title='Warranty') Warranty
              li
                a(href='#', title='Toyota 1st time Check Up') Toyota 1st time Check Up
          .external-links-col
            h4 Finance & Insurance
            ul
              li
                a(href='#', title='Finance Intro') Finance Intro
              li
                a(href='#', title='Insurance Programs') Insurance Programs
          //- .external-links-col
          //-   h4 About Toyota
          //-   ul
          //-     li
          //-       a(href='#', title='Innovation') Innovation
          //-     li
          //-       a(href='#', title='Vision') Vision
          //-     li
          //-       a(href='#', title='History') History
          //-     li
          //-       a(href='#', title='Awards') Awards
          //-     li
          //-       a(href='#', title='Technology') Technology
          .external-links-col.w22p.subscribe
            h4 Media Center 
            ul
              li
                a(href='#', title='News & events') News & events
            h4 
              a(href='#', title='Contact Us') Contact Us
            .subscription
              h4 Subscribe e-Newsletter
              p For recieve ourlatest promotion, event and activity at once.
              a(href='#') Go
  .footer-bottom-section
    .container
      .copyright
        p © 2015 Toyota Motor Corporation. All Rights Reserved. 
      .terms
        ul
          li
            a(href='#', title='Sitemap') Sitemap
          li
            a(href='#', title='Legal Claims') Legal Claims
          li
            a(href='#', title='Privacy Policy') Privacy Policy

include survey-popup
include survey-thankyou-popup