.section-interest-content
  .container
    .title YOU MAY ALSO HAVE INTEREST
    .block-lists-interest
      .item-interest
        a(href="#" , title="Prius C")
          .block-img
            +img('car interest 1' , 'car-detail/car-interest-1.jpg')
          span Prius C
      .item-interest
        a(href="#" , title="Prius")
          .block-img
            +img('car interest 2' , 'car-detail/car-interest-2.jpg')
          span Prius
      .item-interest
        a(href="#" , title="RAV4")
          .block-img
            +img('car interest 3' , 'car-detail/car-interest-3.jpg')
          span RAV4
