.owl-carousel-car-view
  .item(data-hash="picnic")
    +img('home-4' , 'car-detail/banner-1.jpg')
    .content
      .owl-caption
        .block-top-middle
          .title-small Open minded
          .title RACTIS
            .price $168,890 up
          .description
            .editor-content
              p It’s fun to go-out and embrace your surroundings, laoreet dolore
              p magna aliquam erat volutpat
  .item(data-hash="beach")
    +img('home-4' , 'car-detail/banner-2.jpg')
    .content
      .owl-caption
        .block-top-middle
          .title-small Open minded
          .title RACTIS
            .price $168,890 up
          .description
            .editor-content
              p It’s fun to go-out and embrace your surroundings, laoreet dolore
              p magna aliquam erat volutpat

.owl-carousel-car-view-nav
  .block-content
    span Picnic view
    div.nav
      a(href="#picnic").active
      a(href="#beach")
    span Beach view