.section-components-car-content
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12.first
        .block-component.first
          .block-img
            +img('Component 1','car-detail/components-car-1.png')
          .block-title 16-inch Alloy wheels
        .block-component
          .block-img
            +img('Component 1','car-detail/components-car-2.png')
          .block-title Smart entry & push start system
      .col-lg-4.col-md-4.col-sm-12.col-xs-12.second
        .block-img
          +img('Component 1','car-detail/components-car-3.png')
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .block-description
          .small-text Code
          .title-text 1NZ-FE

          .small-text Type
          .title-text L4 DOHC 16-valve VVT-i Engine with Smart Stop System

          .small-text Displacement
          .title-text 1,497cc

          .small-text Max. Output
          .title-text 80 (109) / 6,000 KW (PS) / rpm

          .small-text Max. Torque
          .title-text 136 (13.8) / 4,800 Nm (kg-m) / rpm

      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .block-downlink
          a(href="#" , title='Download e-Catalogue')
            i.fa.fa-download
            | Download e-Catalogue

          +img('Download' , 'car-detail/cat-small.png')

          a(href="#" , title='Download Specification Sheet')
            i.fa.fa-download
            | Download Specification Sheet