.section-change-color-car-content
  .container
    .block-lists-car
      .car.white.active
        +img('Car 1' , 'car-detail/car-1.png')
      .car.satin-blue
        +img('Car 1' , 'car-detail/car-2.png')
    .block-desctiption
      .editor-content
        p Lorem ipsum dolor sit consectetuer, adipiscing elit diam nonummy nibh euismod tincidunt ut
    .block-lists-color
      .color-item(data-color="silver")
        .icon.silver
        span Silver
      .color-item(data-color="white-perarlcs")
        .icon.white-perarlcs
        span White PerarlCS
      .color-item(data-color="gery-metallic")
        .icon.gery-metallic
        span Gery Metallic
      .color-item(data-color="black")
        .icon.black
        span Black
      .color-item(data-color="bronze")
        .icon.bronze
        span Bronze
      .color-item(data-color="light-blue")
        .icon.light-blue
        span Light Blue <br/>Mica Metcallic
      .color-item(data-color="satin-blue")
        .icon.satin-blue
        span Satin Blue
      .color-item(data-color="white").active
        .icon.white
        span White
      .color-item(data-color="deep-amethyst")
        .icon.deep-amethyst
        span Deep Amethyst
