.section-car-detail-content-exterior 
  .block-img.image-vertical-middle
    +img('Car detail' , 'car-detail/img-3.png')
    .block-content
      .description Lorem ipsum dolor sit amet consectetuer adipiscing elit, <br/>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
    .block-tooltip
      .tooltip-1(data-tooltip='1')
        .icon-tooltip.top
      .tooltip-2(data-tooltip='2')
        .icon-tooltip.left
      .tooltip-3(data-tooltip='3')
        .icon-tooltip.left
      .tooltip-4(data-tooltip='4')
        .icon-tooltip.right
      .tooltip-5(data-tooltip='5')
        .icon-tooltip.right