.section-car-detail-content-performance
  .block-img
    +img('Car detail' , 'car-detail/img-9.jpg')
    .block-tooltip
      .tooltip-1(data-tooltip='1')
        .icon-tooltip.top
      .tooltip-2(data-tooltip='2')
        .icon-tooltip.top
      .tooltip-3(data-tooltip='3')
        .icon-tooltip.top
  .block-description
    .editor-content 
      p Lorem ipsum dolor sit amet consectetuer adipiscing elit, <br/>sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
