.section-super-wide-content
  .block-img.image-vertical-middle
    +img('Wide 1' , 'car-detail/img-1.png')
    .block-caption
      .small-text Lorem ipsum dolor sit amet consectetuer adipising, <br/>elitsed diam nonummy nibh euismod tincid
      .title 59 INCH
      .sub-title SUPER WIDE PANORAMIC MOONROOF <br/>WITH POWERED SHADE
      .note-text *Exclusive for Ractis Plus Verso
  .block-img.image-vertical-middle
    +img('Wide 2' , 'car-detail/img-2.png')
    .block-caption
      .small-text Lorem ipsum dolor sit amet consectetuer adipising, <br/>elitsed diam nonummy nibh euismod tincid
      .title 59 INCH
      .sub-title SUPER WIDE PANORAMIC MOONROOF <br/>WITH POWERED SHADE
      .note-text *Exclusive for Ractis Plus Verso