.section-car-detail-content-safety
  .owl-carousel-car-safety
    .item
      +img('Car detail' , 'car-detail/img-10.jpg')
    .item
      +img('Car detail' , 'car-detail/img-10.jpg')

  .owl-carousel-car-safety-nav
    .mask-dark
    .container
      .block-description
        .editor-content
          p Driver seat and front passenger airbags 
      .block-content
        span.prev
        span.next
