extends layouts/template-1

block vars
  -title = 'Home'
  -bodyClass = ''
  -bannerIMG = 'home/banner.jpg'
block container    
  .inner
    main#main
      section.slider-header
        include includes/slider-header
        .info-slider-header
          .banner-header
            p.text-big Kempinski Corporate
            p.intro
              span.glyphicon.glyphicon-map-marker  
              span Address: Maximilianstrasse 17, 80539 Munich
              br
              span.glyphicon.glyphicon-earphone
              span Phone: +49 89 2125 2650
      .full-width-article-list
        +full-width-article('dining/dining-1.jpg')
          +short-article("Welcome to the", "Kempinski Gourmet Experience", "Our passion for food, produce and beverages, made from the most painstakingly sourced ingredients, is rooted in our heritage. We go to extraordinary lengths to share our love affair with food.", "Lorem ipsum Do ea est mollit non cillum aliquip ut dolore mollit consequat minim id fugiat voluptate dolore officia ullamco proident in ea incididunt aliqua Ut dolor consequat.")
