footer#footer
  .container
    .row
      .col-md-6
        .block-logo-footer
          +link-img("images/logo-footer.png", "Far East", "#")
        .block-about
          .title About Far East Organisation
          .content 
            .editor
              p We are the largest private property developer in Singapore and the only in the world to be bestowed 8 FIABCI Prix d’Excellence Awards.
              p We build innovative, functional spaces that  create value for our customers.
        .block-link 
          ul 
            li
              a(href="#") Site Map
            li
              a(href="#") Privacy
            li
              a(href="#") Terms & Conditions
          .copy-right
            | © All rights reserved 2015 Far East Organization
      .col-md-3.col-our
        .block-col-link
          .title Our Entities
          ul 
            li
              a(href="#") Far East Orchard Limited
            li
              a(href="#") Far East Hospitality Trust
            li
              a(href="#") Yeo Hiap Seng Limited
            li
              a(href="#") Sino Land Group
        .block-col-link
          .title Related sites 
          ul 
            li
              a(href="#") Far East Orchard Limited
            li
              a(href="#") Far East Hospitality Trust
            li
              a(href="#") Yeo Hiap Seng Limited
            li
              a(href="#") Sino Land Group
      .col-md-3.col-connect
        .block-social
          .title Connect with us 
          .content-link
            ul
              li
                a.facebook(href='#', title='facebook')
                  //- i.fa.fa-facebook-square
              li
                a.twitter(href='#', title='twitter')
                  //- i.fa.fa-twitter-square
              li
                a.youtube(href='#', title='youtube')
                  //- i.fa.fa-youtube-square
              li
                a.pinterest(href='#', title='pinterest')
                  //- i.fa.fa-pinterest-square
              li
                a.linkedin(href='#', title='linkedin')
                  //- i.fa.fa-linkedin-square
        .block-col-link
          .title Quick links for : 
          ul 
            li
              a(href="#") PROPERTY BUYERS
            li
              a(href="#") FAR EAST HOMEOWNER
            li
              a(href="#") RETAIL OWNERS
            li
              a(href="#") CORPORATE INVESTORS
            li
              a(href="#") PROPERTY AGENTS
            li
              a(href="#") JOB SEEKERS

    