#lates-section
  .container
    .text-center.what-the-lates WHAT'S THE LATEST
    .filter-control
      .btn-group(role="group", aria-label="...")
        button.btn.active(type="button") NEWS
        button.btn(type="button") PROPERTY MARKET
        button.btn(type="button") TOOLS & RESOURCES
    .slide-wrap.owl-carousel(data-margin='2')
      .slide-item
        .cover
          a(href="#" title="New lates")
            img(src="images/news-1.jpg", alt="")
        .content
          .date 13 Jan 2015
          .description Far East Land and Sino Land Joint Venture acquires The Westin Sydney and Heritage Retail
          a.read-more(href="#", title="") Read more
      .slide-item
        .cover
          a(href="#" title="New lates")
            img(src="images/news-2.jpg", alt="")
        .content
          .date 13 Jan 2015
          .description Far East Land and Sino Land Joint Venture acquires The Westin Sydney and Heritage Retail
          a.read-more(href="#", title="") Read more
      .slide-item
        .cover
          a(href="#" title="New lates")
            img(src="images/news-3.jpg", alt="")
        .content
          .date 13 Jan 2015
          .description Far East Land and Sino Land Joint Venture acquires The Westin Sydney and Heritage Retail
          a.read-more(href="#", title="") Read more
      .slide-item
        .cover
          a(href="#" title="New lates")
            img(src="images/news-3.jpg", alt="")
        .content
          .date 13 Jan 2015
          .description Far East Land and Sino Land Joint Venture acquires The Westin Sydney and Heritage Retail
          a.read-more(href="#", title="") Read more