//- script(src="http://brm.io/js/libs/matchHeight/jquery.matchHeight-min.js")
section.residental-property-section
  .container
    .row
      .col-md-12
        .residental-property-block.col-xs-12.hidden-sm.hidden-xs
          .main-img-strip
            img(src="images/Properties_big_img.jpg", alt="main residental img")
          .information-strip
            .icon-banner-div
              a(href="#")
                img(src="images/GreenwoodMews_logo.jpg", alt="Greenwood mews icon")
            .link-img-div
              a(href="#")
                img(src="images/sm_img1.jpg", alt="link1")
            .link-img-div
              a(href="#")
                img(src="images/sm_img2.jpg", alt="link2")
            .view-all-div
              .words-div
                h3 VIEW ALL
                  span.fa.fa-angle-right
                p FAR EAST PROPERTIES
        .visible-sm.visible-xs
          .mobile-slide
            .slide-wrap.owl-carousel(data-nav='true')
              .slide-item
                img(src="images/residential/greenwood_mews_mobile_1.jpg", alt="")
              .slide-item
                img(src="images/residential/greenwood_mews_mobile_1.jpg", alt="")
              .slide-item
                img(src="images/residential/greenwood_mews_mobile_1.jpg", alt="")