#main-slide-section
  .slide-wrap.owl-carousel
    .slide-item
      a(href="#", title="GREENWOOD NEWS")
        img(src="images/slide-2.jpg", alt="Slide 1")
    //- .slide-item
      //- .video-wrap(video-src="images/greenwood_mews_4_plus_1_bedroom_showflat.mp4")
