.contact-map-section
	.img
		.map-block
			.map-container
			.row
				.col-md-4.col-sm-6.locations-section-inside-map
					.locations
						.location
							span.letter A
							.h4-wrapper
								h4.bold New South Wales Region
							i.fa.fa-long-arrow-down
							.info
								.p.black
									p 23 Street Name Darlinghurst 2010
									p <span class="bold">Phone:</span> 0434 123 456 789
									p <span class="bold">Fax:</span> 0434 123 456 789
									p <span class="bold">Email:</span> 
										a(href="mailto:info.sydney@cemintel.com.au") info.sydney@cemintel.com.au
								.map-info-buttons.hidden-sm.hidden-md.hidden-lg
									a(href="#").button.rainbow
										div.bgw Get Directions
									a(href="tel:0434123456789").button.rainbow
										div.bgw Call
						.location
							span.letter B
							.h4-wrapper
								h4.bold Victoria / Tasmania Region
							i.fa.fa-long-arrow-down
							.info
								.p.black
									p 23 Street Name Darlinghurst 2010
									p <span class="bold">Phone:</span> 0434 123 456 789
									p <span class="bold">Fax:</span> 0434 123 456 789
									p <span class="bold">Email:</span> 
										a(href="mailto:info.sydney@cemintel.com.au ") info.sydney@cemintel.com.au
								.map-info-buttons.hidden-sm.hidden-md.hidden-lg
									a(href="#").button.rainbow
										div.bgw Get Directions
									a(href="tel:0434123456789").button.rainbow
										div.bgw Call
						.location
							span.letter C
							.h4-wrapper
								h4.bold Western Australia Region
							i.fa.fa-long-arrow-down
							.info
								.p.black
									p 23 Street Name Darlinghurst 2010
									p <span class="bold">Phone:</span> 0434 123 456 789
									p <span class="bold">Fax:</span> 0434 123 456 789
									p <span class="bold">Email:</span> 
										a(href="mailto:info.sydney@cemintel.com.au ") info.sydney@cemintel.com.au
								.map-info-buttons.hidden-sm.hidden-md.hidden-lg
									a(href="#").button.rainbow
										div.bgw Get Directions
									a(href="tel:0434123456789").button.rainbow
										div.bgw Call
						.location
							span.letter D
							.h4-wrapper
								h4.bold Queensland Region
							i.fa.fa-long-arrow-down
							.info
								.p.black
									p 23 Street Name Darlinghurst 2010
									p <span class="bold">Phone:</span> 0434 123 456 789
									p <span class="bold">Fax:</span> 0434 123 456 789
									p <span class="bold">Email:</span> 
										a(href="mailto:info.sydney@cemintel.com.au ") info.sydney@cemintel.com.au
								.map-info-buttons.hidden-sm.hidden-md.hidden-lg
									a(href="#").button.rainbow
										div.bgw Get Directions
									a(href="tel:0434123456789").button.rainbow
										div.bgw Call
						.location
							span.letter E
							.h4-wrapper
								h4.bold Southern Australia<br>
									|/ Northern Territory
							i.fa.fa-long-arrow-down
							.info
								.p.black
									p 23 Street Name Darlinghurst 2010
									p <span class="bold">Phone:</span> 0434 123 456 789
									p <span class="bold">Fax:</span> 0434 123 456 789
									p <span class="bold">Email:</span> 
										a(href="mailto:info.sydney@cemintel.com.au ") info.sydney@cemintel.com.au
								.map-info-buttons.hidden-sm.hidden-md.hidden-lg
									a(href="#").button.rainbow
										div.bgw Get Directions
									a(href="tel:0434123456789").button.rainbow
										div.bgw Call

