extends layouts/default

block content
	.casestudy-list
		.casestudy-banner
			.container
				.title
					h3.white.bold Case Studies
					.sub-title
						.p.white.dotdotdot
							p Minions ipsum eiusmod aute potato sit amet enim officia voluptate. Minions ipsum eiusmod aute potato sit amet enim officia voluptate. Minions ipsum eiusmod aute potato sit amet enim officia voluptate.
							.expand-subtitle
								<i class="fa fa-long-arrow-down visible-xs" title="Expand the sub-title"></i>
						.p.original.white
							.collapse-subtitle
								<i class="fa fa-long-arrow-up visible-xs" title="Collapse the sub-title"></i>
		.casestudy-list-items
			.container
				.row
					.item.active-item
						.col-xs-12
							.item-inner
								.item-img.img.has-action
									a(href="/casestudy-detail.html")
										img.hidden-xs(src="images/case-study/case-list/active-image.jpg")
										img.visible-xs(src="images/case-study/case-list/other-case-study-1.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											span.p.bold.title-index Case Study 1 
											span.p.bold.title-name.hidden-xs Tasmanian builder uses CSR Cemintel to achieve a stunning contemporary look on his own home
									.item
										p.p Minions ipsum la bodaaa poulet tikka masala ullamco commodo potatoooo laboris et duis. Ad reprehenderit laboris pepete gelatooo. Bee do bee do bee do sit amet nisi wiiiii voluptate ut minim et. 
					.item.other-item
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-1.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html")
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 2
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-2.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 3
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-3.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 4
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
						
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-4.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 5
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-5.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 6
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
						.col-md-4.col-sm-6.col-xs-12
							.item-inner
								.item-img.has-action.img
									a(href="/casestudy-detail.html")
										img(src="images/case-study/case-list/other-case-study-6.jpg")
									.action
										.heart-icon
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include includes/share_popup.jade
										a.button.view.rainbow(href="/casestudy-detail.html") 
											div.bgw View
								.item-content
									.item-title
										a(href="/casestudy-detail.html" target='_blank')
											p.p.bold Case Study 7
									.item-content
										p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.