extends layouts/default

block content
	.installation-block
		.installation-guide-block
			.installation-guide-header.header
				.container
					.row
						.col-sm-1.hidden-xs
							img(src="images/installation-guide/installation.png", alt="Installation Guides")
						.col-sm-3
							h3.h3.bold Installation Guides
			.installation-guide-content.content
				.container
					.row
						.col-sm-4.col-xs-12.installation-search
							p.p Lorem ipsum dolor sit amet, consectetur adipis elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
							.search
								input#installation-guide-search.search-input(type='text' placeholder = 'Find your product')
								img.search-mirror(src="images/installation-guide/search.png" title="Click to search")
						.col-sm-8.col-xs-12.installation-guide-thumbs
							.row
								.overlay
									.relative-container
										img(src="images/loading.png" alt="Loading")
								.installation-guide-thumbs-items.items
									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Designer Series™ Installation Guide
									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Woodgrain Cladding Installation Guide
									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Texture Coating System Installation Guide
									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Constructa Floor Installation Guide

									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Designer Series™ Icube Onyx Installation Guide

									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Designer Series™ Urban Grey Installation Guide

									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Mosaic Cladding Installation Guide

									.col-md-3.col-sm-4.col-xs-6.installation-guide-thumb-inner.item-inner.equalHeight
										.installation-guide-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image1.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.installation-guide-thumb-content
											a(href='#' target='_blank')
												p.p.bold Scarborough Weatherboard Installation Guide
								.loadmore-items.installation-guide-loadmore.tac.visibile-xs
									a(href="#").button.rainbow
										div.bgw View all Installation Guides

		.other-pdf-blockt
			.other-pdf-header.header
				.container
					.row
						.col-sm-1.hidden-xs
							img(src="images/installation-guide/installation.png", alt="Installation Guides")
						.col-sm-2
							h3.h3.bold Other PDFs
			.other-pdf-content.content
				.container
					.row
						.col-sm-4.col-xs-12.installation-search
							p.p Lorem ipsum dolor sit amet, consectetur adipis elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
							.search
								input#other-pdf-search.search-input(type='text' placeholder = 'Find your product')
								img.search-mirror(src="images/installation-guide/search.png" title="Click to search")
						.col-sm-8.col-xs-12.installation-guide-thumbs
						.col-sm-8.col-xs-12.other-pdf-thumbs
							.row
								.overlay
									.relative-container
										img(src="images/loading.png" alt="Loading")
								.other-pdf-thumbs-items.items
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
									.col-md-3.col-sm-4.col-xs-6.other-pdf-thumb-inner.item-inner.equalHeight
										.other-pdf-thumb-image.image.has-action.img
											a
												img(src="images/installation-guide/image2.jpg")
											.action
												.share-icon.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="helloworld.pdf" download='hello.pdf').button.view.rainbow.download-pdf
													div.bgw Download PDF
												a(href="helloworld.pdf" target="_blank").button.view.rainbow.view-online
													div.bgw View Online
										.vertical-grey-image
											img.grey-vertical(src="images/installation-guide/grey-vertical.png")
										.other-pdf-thumb-content
											a(href='#' target='_blank')
												p.p.bold Lorem ipsum dolor sit amet
								.loadmore-items.other-pdf-loadmore.tac
									a(href="#").button.rainbow
										div.bgw View all Other PDFs