extends layouts/default

block content
	.news-block
		.news-header
			.container
				.row
					.col-md-1.col-sm-2.hidden-xs
							img(src="images/news-icon.png", alt="Site Map")
					.col-sm-2
						h3.bold News
		.news-content
			.container
				.news-content-items
					.news-list-block
						.row
							.col-sm-3.col-xs-12.news-list-month
								h3.h3 September 2015
							.col-sm-9.col-xs-12.new-list-content
								.row
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-1.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  12th September 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Entries now open for 2015 CSR Cemintel 9 Dots Award
										.new-list-content-body.dotdotdot
											p.p Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-2.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th September 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-3.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th September 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-2.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th September 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-3.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th September 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
					.news-list-block
						.row
							.col-sm-3.col-xs-12.news-list-month
								h3.h3 August 2015
							.col-sm-9.col-xs-12.new-list-content
								.row
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-1.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  12th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Entries now open for 2015 CSR Cemintel 9 Dots Award
										.new-list-content-body.dotdotdot
											p.p Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-2.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-3.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-2.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-3.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											a(href="#")
												img(src="images/case-study/case-list/other-case-study-2.jpg")
												.action
													.heart-icon
													.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
													include includes/share_popup.jade
													a(href="#").button.view.rainbow 
														div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-3.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th August 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
					.news-list-block
						.row
							.col-sm-3.col-xs-12.news-list-month
								h3.h3 July 2015
							.col-sm-9.col-xs-12.new-list-content
								.row
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-1.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  12th July 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Entries now open for 2015 CSR Cemintel 9 Dots Award
										.new-list-content-body.dotdotdot
											p.p Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel's Creative Product range in the annual 9 Dots Award. Entries now!
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-2.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  23th July 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold The Coffee Club Chooses Cemintel for National Fit-out
										.new-list-content-body.dotdotdot
											p.p Seeking a look similar to the prevalent 'urban industrial' trend, The Coffee Club selected Cemintel Designer Series Urban Grey as the cladding of choice for their national.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
									.col-sm-4.col-xs-12.new-list-content-inner
										.new-list-image.img.has-action
											img(src="images/case-study/case-list/other-case-study-3.jpg")
											.action
												.heart-icon
												.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
												include includes/share_popup.jade
												a(href="#").button.view.rainbow 
													div.bgw.bold View
										.new-list-date.p.xsmall.bold
											p  31th July 2015
										.new-list-title
											a(href="/news-detail.html" target='_blank')
												p.p.bold Cemintel Leads Forecasted Design Trends 2015
										.new-list-content-body.dotdotdot
											p.p Respected DIA organisation, Colourways, announced its 2015 colour forecasts based on trending products in the market such as Designer Series Woodgrain Teak and potatoooo sit amet enim officia voluptate.
										.new-list-readmore
											a(href="#").button.rainbow
												div.bgw.bold Read More
				.news-load-previous.tac
					a(href="#").button.rainbow
						div.bgw.bold Load Previous
