extends layouts/default

block content
	.detail-layout-1.news-detail-page
		.news-detail-banner.detail-layout-1-banner(style="background-image: url(images/news-detail/feature-image-lg.png);")
			.container
				.banner-inner
					.title
						span.db.p.small.white News
						h3.white.bold The search continues for Australia’s Next Top Designer
					.banner-icon.casestudy-detail-icon
						.action.psr
							.share.toggleClick.share-toggle(target=".share-popup-block")
							include includes/share_popup.jade
							.fav.toggleActive
		.news-detail-content
			.container
				.row
					.col-xs-12.col-md-5
						.main-news-content
							.feature-image.visible-xs.visible-sm
								img(src="images/news-detail/feature-image.png", alt="feature image")
							p.date 12th September 2015
							.editor-content
								p 
									|	Minions ipsum pepete po kass 
									a(href="#") jiji uuuhhh daa bee do bee 
									| do bee do uuuhhh bananaaaa
									strong tulaliloo ti aamoo!
									| Tulaliloo tulaliloo jeje 
									em uuuhhh bananaaaa
									| bee do bee do bee do. Para tú aaaaaah hahaha ti aamoo! Uuuhhh chasy potatoooo potatoooo. Aaaaaah jiji poopayee tank yuuu! Jeje belloo! Belloo! Wiiiii poopayee po kass bee do bee do bee do.
								h1 Heading 1
								p Bananaaaa uuuhhh tatata bala tu me want bananaaa! Uuuhhh para tú chasy aaaaaah. Poulet tikka masala poopayee underweaaar poopayee poopayee gelatooo poopayee underweaaar bee do bee do bee do. Chasy bee do bee do bee do tank yuuu! Tank yuuu! Bee do bee do bee do me want bananaaa! Wiiiii. Poulet tikka masala underweaaar uuuhhh daa tulaliloo baboiii aaaaaah poulet tikka masala ti aamoo! Bappleees hahaha hahaha po kass jeje wiiiii belloo! Po kass underweaaar butt hahaha.
								.readmore.text-center.visible-xs.visible-sm.visible-md
									button.button.rainbow 
										.bgw 
											strong Read More
								.visible-md.visible-lg
									h2 Heading 2
									p Poopayee tank yuuu! Potatoooo tulaliloo bappleees poopayee bappleees. Tank yuuu! baboiii jiji bee do bee do bee do para tú poulet tikka masala uuuhhh aaaaaah aaaaaah. Underweaaar butt jiji bappleees. Butt uuuhhh poulet tikka masala ti aamoo! Tank yuuu! Jeje bappleees baboiii me want bananaaa! Tatata bala tu tank yuuu! Para tú ti aamoo! Hahaha bananaaaa butt potatoooo. Pepete tatata bala tu poulet tikka masala bananaaaa tatata bala tu po kass bee do bee do bee do baboiii bappleees me want bananaaa! Poulet tikka masala. Hana dul sae wiiiii aaaaaah gelatooo.
									p Bananaaaa uuuhhh tatata bala tu me want bananaaa! Uuuhhh para tú chasy aaaaaah. Poulet tikka masala poopayee underweaaar poopayee poopayee gelatooo poopayee underweaaar bee do bee do bee do. Chasy bee do bee do bee do tank yuuu! Tank yuuu! Bee do bee do bee do me want bananaaa! Wiiiii. Poulet tikka masala underweaaar uuuhhh daa tulaliloo baboiii aaaaaah poulet tikka masala ti aamoo! Bappleees hahaha hahaha po kass jeje wiiiii belloo! Po kass underweaaar butt hahaha.
									h3 Heading 3
									p Ti aamoo! bee do bee do bee do pepete jiji. Ti aamoo! aaaaaah jeje butt bappleees chasy tulaliloo po kass. Hahaha jeje hahaha po kass bananaaaa. Poulet tikka masala tatata bala tu bee do bee do bee do poulet tikka masala bananaaaa chasy jiji. Tank yuuu! uuuhhh ti aamoo! Po kass bappleees chasy pepete jiji tulaliloo wiiiii. Belloo! pepete pepete baboiii hahaha hahaha bananaaaa poulet tikka masala chasy wiiiii hana dul sae. Wiiiii potatoooo tulaliloo jiji me want bananaaa! Jeje baboiii poulet tikka masala.
									h4 Heading 4
									p Bananaaaa uuuhhh tatata bala tu me want bananaaa! Uuuhhh para tú chasy aaaaaah. Poulet tikka masala poopayee underweaaar poopayee poopayee gelatooo poopayee underweaaar bee do bee do bee do.
									h5 Heading 5
									p Minions ipsum pepete po kass jiji uuuhhh daa bee do bee do bee do uuuhhh bananaaaa tulaliloo ti aamoo! Tulaliloo tulaliloo jeje uuuhhh bananaaaa bee do bee do bee do. Para tú aaaaaah hahaha ti aamoo! Uuuhhh chasy potatoooo potatoooo. Aaaaaah jiji poopayee tank yuuu! Jeje belloo! Belloo! Wiiiii poopayee po kass bee do bee do bee do.
									p Poopayee tank yuuu! Potatoooo tulaliloo bappleees poopayee bappleees. Tank yuuu! baboiii jiji bee do bee do bee do para tú poulet tikka masala uuuhhh aaaaaah aaaaaah. Underweaaar butt jiji bappleees. Butt uuuhhh poulet tikka masala ti aamoo! Tank yuuu! Jeje bappleees baboiii me want bananaaa! Tatata bala tu tank yuuu! Para tú ti aamoo! Hahaha bananaaaa butt potatoooo. Pepete tatata bala tu poulet tikka masala bananaaaa tatata bala tu po kass bee do bee do bee do baboiii bappleees me want bananaaa! Poulet tikka masala. Hana dul sae wiiiii aaaaaah gelatooo.
									p Ti aamoo! bee do bee do bee do pepete jiji. Ti aamoo! aaaaaah jeje butt bappleees chasy tulaliloo po kass. Hahaha jeje hahaha po kass bananaaaa. Poulet tikka masala tatata bala tu bee do bee do bee do poulet tikka masala bananaaaa chasy jiji. Tank yuuu! uuuhhh ti aamoo! Po kass bappleees chasy pepete jiji tulaliloo wiiiii. Belloo! pepete pepete baboiii hahaha hahaha bananaaaa poulet tikka masala chasy wiiiii hana dul sae. Wiiiii potatoooo tulaliloo jiji me want bananaaa! Jeje baboiii poulet tikka masala.
									h6 Heading 6
									h3 Unordered List
									ul
										li Item 1
										li Item 2
										li Item 3
										li Item 4
									h3 Ordered List
									ol
										li Item 1
										li Item 2
										li Item 3
										li Item 4
					.col-xs-12.col-md-7.extra-info
						.feature-image.visible-md.visible-lg.img
							img(src="images/news-detail/feature-image.png", alt="feature image")
						.video-wrapper
							#news-detail-video-player.video-player(data-id='HQzu7NYlZNQ')
							.if-overlay
								img(src="images/search/overlay.jpg", alt="")
							.play-btn
							.video-time.p
								span.white
						.division-block
							.division
						.latest-news
							.row
								.col-xs-12.col-md-10.col-md-offset-2
									h3 Latest News
									ul.latest-news-list
										li
											a(href="#" target='_blank') The Search Continues for Australia’s Next Top Designer
											p Minions ipsum pepete po kass jiji uuuhhh daa bee do bee do bee do uuuhhh bananaaaa tulaliloo ti aamoo! Tulaliloo tulaliloo jeje uuuhhh bananaaaa bee do bee do bee do. 
										li
											a(href="#" target='_blank') Cemintel Modifies Systems for BCA Changes
											p Minions ipsum pepete po kass jiji uuuhhh daa bee do bee do bee do uuuhhh bananaaaa tulaliloo ti aamoo! Tulaliloo tulaliloo jeje uuuhhh bananaaaa bee do bee do bee do. 
										li
											a(href="#" target='_blank'	) Urban Density and the future of the small block
											p Minions ipsum pepete po kass jiji uuuhhh daa bee do bee do bee do uuuhhh bananaaaa tulaliloo ti aamoo! Tulaliloo tulaliloo jeje uuuhhh bananaaaa bee do bee do bee do. 
									a.button.rainbow 
										.bgw 
											strong View all News