extends layouts/default

block content
  .ouroffer-page
    
    .ouroffer-banner
      .img 
        img(src="images/our-offer/big-image-1.jpg", alt="")
      .block-info
        .container
          .title-block.title.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
            h1.white.bold Freedom to Choose
            .divider
              span
            .description.bold Solutions for every challenge
    
    .ouroffer-service
      .container
        .row
          .ouroffer-service__item.col-md-4.col-sm-4.col-xs-12.data-delay-100.first-items
            .img.img-circle
              img(src="images/our-offer/image1.png", alt="")
              .title We are different
            .description
              p Cemintel offers a fresh approach to fibre cement with a unique & innovative product offer.
          .ouroffer-service__item.col-md-4.col-sm-4.col-xs-12.data-delay-100.first-items
            .img.img-circle
              img(src="images/our-offer/image2.png", alt="")
              .title High-Quality <br/>Products
            .description
              p Cemintel provides an extensive range of all the products you need to create great looking buildings.
          .ouroffer-service__item.col-md-4.col-sm-4.col-xs-12.data-delay-100.first-items
            .img.img-circle
              img(src="images/our-offer/image3.png", alt="")
              .title Business & Creative Partners
            .description
              p Cemintel offers an integrated service from product to resources including expert design advice.
    
      .ouroffer-service_detail
        .container.custom
          .row
            .ouroffer-service-detail__item.col-md-4.col-sm-4.col-xs-12
              a(href="#" target='_blank')
                p <b>Resources</b>
              a(href="#" target='_blank')
                p Market-leading literature
              a(href="#" target='_blank')
                p CAD/Revit Files
              a(href="#" target='_blank')
                p Website
              a(href="#" target='_blank')
                p Social Media
              a(href="#" target='_blank')
                p Point Of Sale
              a(href="#" target='_blank')
                p Promotions
            .ouroffer-service-detail__item.col-md-4.col-sm-4.col-xs-12
              a(href="#" target='_blank')
                p <b>Design Support</b>
              a(href="#" target='_blank')
                p Design Trends
              a(href="#" target='_blank')
                p Rendering Service
              a(href="#" target='_blank')
                p Colourways
              a(href="#" target='_blank')
                p 9 Dots Award
              a(href="#" target='_blank')
                p Visualiser
              a(href="#" target='_blank')
                p Case Studies
            .ouroffer-service-detail__item.col-md-4.col-sm-4.col-xs-12
              a(href="#" target='_blank')
                p <b>Business Support</b>
              a(href="#" target='_blank')
                p DesignLink
              a(href="#" target='_blank')
                p CSR Connect
              a(href="#" target='_blank')
                p Manufactured for Life
              a(href="#" target='_blank')
                p 24-48 Hour Delivery
              a(href="#" target='_blank')
                p Estimating Service
              a(href="#" target='_blank')
                p Lead Generation
    
    .ouroffer-banner
      .img 
        img(src="images/our-offer/big-image-2.jpg", alt="")
      .block-info
        .container
          .title-block.title.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
            h1.white.bold Freedom to Enjoy
            .divider
              span
            .description Solutions for every challenge
    
    .ouroffer-step
      .container
        .row
          .col-md-3.col-sm-3.col-xs-12
            .img.img-circle.second-items.data-delay-200
              img(src="images/our-offer/image4.jpg", alt="")
            .img.img-circle.second-items.data-delay-300
              img(src="images/our-offer/image5.jpg", alt="")
          .col-md-8.col-md-offset-1.col-sm-8.col-sm-offset-1.col-xs-12
            .title Cemintel is the number one choice for builders, architects <br/>& specifiers who want to build quicker, smarter and easier.
            .content 
              p Cemintel products are designed specifically to incorporate the very best installation techniques <br/>the industry has to offer; including the revolutionary cavity system.
              p No more than 3 days install when applying our pre-finished products & with the added support of our qualified DesignLink team, installation has never been easier. So easy in fact, your task is complete in two easy steps.
            .block-step
              a.button.rainbow.not-hover
                .bgw.step.step-1 
                  span Step 1
                  .title FIX
              a.button.rainbow.not-hover
                .bgw.step.step-2
                  span Step 2
                  .title THAT’S IT
            .content 
              p As simple as that. <br/>When using Cemintel solutions, you have the freedom to enjoy.
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
              p El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.

    .ouroffer-banner
      .img 
        img(src="images/our-offer/big-image-3.jpg", alt="")
      .block-info
        .container
          .title-block.title.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
            h1.white.bold Freedom to Create
            .divider
              span
            .description Solutions for every challenge

    .ouroffer-explore
      .container
        .row
          .col-md-8.col-md-offset-2
            .content
              p Focused on taking a fresh look at the building market, CSR Cemintel™ has a range of creative products that give you the design freedom to create a stunning building. Whether it is the unique colours and textures provided by Designer Series™ or the traditional weatherboard look of Scarborough™ with Cemintel, you have the flexibility to create the look that you desire.
              p Cemintel are the only fibre cement provider leading colour trends with a range of design & colour resources, including;
              ul 
                li 
                  a(href='#' target='_blank') Design Trends 2014 Guide
                li 
                  a(href='#' target='_blank') 9 Dots Design Award
                li 
                  a(href='#' target='_blank') Colourways Partnership
                li 
                  a(href='#' target='_blank') Cemintel Visualiser
                li 
                  a(href='#' target='_blank') DesignLink
                li 
                  a(href='#' target='_blank') Samples & displays
                li 
                  a(href='#' target='_blank') Installation / product videos    
              h3 Explore the unexpected & start creating with Cemintel now.            
