extends layouts/pdf

block content
	.favourite-block
		.favourite-header
			.container
				.row
					.header-item
						.col-md-1.hidden-sm.hidden-xs.favourite-icon
							.image.inner
								img(src="images/favourite/favourite.png")
						.col-md-2.favourite-title
							.content.inner
								h3.bold My Favourites
								.print.hidden-sm.hidden-xs
									img.print-favourite(src="images/favourite/print.png" title="Click to print this page")
									p.small.bold Print
		.favourite-content
			.container
				.row
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image1.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image2.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image3.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image4.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image5.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image6.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image7.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
					.col-md-3.col-sm-6.col-xs-12.favourite-content-item
						.favourite-content-item-inner.equalHeight
							.favourite-content-images.has-action.img
								a(href="#")
									img(src="images/favourite/image8.jpg")
								.action
									a(href="#").share-icon
									a.button.view.rainbow 
										div.bgw View
							.favourite-content-item-header
								p.p.bold Designer Series Smooth Mocha
							.favourite-content-item-body
								p.p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate. Chasy voluptate ullamco aliquip ex aaaaaah tulaliloo.
		.division-block
				.container
					.division
		include includes/feature.jade