extends layouts/default

block content
	.sitemap-block
		.sitemap-header
			.container
				.row
					.col-md-1.col-sm-2.hidden-xs
							img(src="images/sitemap-icon.png", alt="Site Map")
					.col-sm-2
						h3.bold Sitemap
		.sitemap-content
			.container
				.row
					.sitemap-product
						.sitemap-product-title.tac.title
							.col-sm-8.col-sm-offset-2.col-xs-12.title-block.bold
								h3.bold Products
								.divider
									span
						.sitemap-product-items.items
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Designer Series: i-Cube
									.item-inner-sub-title
										a(href='#')
											p.p.bold Facades
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Eaves Lining
									.item-inner-sub-title
										a(href='#')
											p.p.bold Flooring
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Tile Underlay
									.item-inner-sub-title
										a(href='#')
											p.p.bold Flooring
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Compressed Sheet 
									.item-inner-sub-title
										a(href='#')
											p.p.bold Flooring
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Compressed Sheet Wet Area 
									.item-inner-sub-title
										a(href='#')
											p.p.bold Flooring
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Constructafloor
									.item-inner-sub-title
										a(href='#')
											p.p.bold Walling
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Cladding
									.item-inner-sub-title
										a(href='#')
											p.p.bold Walling
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold CeminSeal
									.item-inner-sub-title
										a(href='#')
											p.p.bold Walling
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-product-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Plank
									.item-inner-sub-title
										a(href='#')
											p.p.bold Walling
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
					.sitemap-headline
						.sitemap-headline-title.tac.title
							.col-sm-8.col-sm-offset-2.col-xs-12.title-block.bold
								h3.bold Case Studies
								.divider
									span
						.sitemap-headline-items.items
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Headline 1
									.item-inner-sub-title
										a(href='#')
											p.p.bold Headline 2
									.item-inner-content.hidden-xs
										p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
					.sitemap-headline
						.sitemap-headline-title.tac.title
							.col-sm-8.col-sm-offset-2.col-xs-12.title-block.bold
								h3.bold Other Sections
								.divider
									span
						.sitemap-headline-items.items
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Installation Guides
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Safety
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Warranty
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Sample Request
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Contact Us
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page
							.col-md-3.col-sm-6.col-xs-12.item
								.sitemap-headline-item-inner.item-inner.equalHeight
									.item-inner-title
										a(href='#')
											h4.h4.black.bold Find a Stockist Installer or Builder
									.item-inner-link
										a(href="#").button.rainbow
											div.bgw Link to Page