extends layouts/default

block content
	.detail-layout-1
		.video-banner.detail-layout-1-banner
			.container
				.banner-inner
					.title
						h3.white.bold Videos
		.video-resource-detail-content
			.video-block
				.container
					.video-wrapper
						#resource-video-player.video-player(data-id='HQzu7NYlZNQ')
						.if-overlay
							img(src="images/search/overlay.jpg", alt="")
						.play-btn
						.video-time.p
							span.white
					.row
						.col-xs-12.col-md-2.col-md-push-10
							.video-icon.pull-right.video-resource-detail-icon
								.action.psr
									.toggleClick.video-share.share-toggle(target=".share-popup-block")
									include includes/share_popup.jade
									a.heart-icon.video-favourite.cup(title="Add Video To Favorite")
						.col-xs-12.col-md-10.col-md-pull-2
							.video-descriptions
								.description(data-id="HQzu7NYlZNQ")
									.video-title 
										a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 1
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="nVCubhQ454c")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 2
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="hJYGddE0vHc")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 3
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="sCDdQwVRwxM")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 4
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="adR_kNnFURo")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 5
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="g2in1D5ySrg")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 6
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="09R8_2nJtjg")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 7
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
								.description.hide(data-id="OPf0YbXqDm0")
									.video-title 
									a.bold(href='#' target='_blank') Tutorial How to install Urban Designer Series? 8
									.detail
										p Minions ipsum veniam underweaaar consequat adipisicing consequat underweaaar quis me want bananaaa! Voluptate jiji bee do bee do bee do tempor quis gelatooo incididunt magna enim ut. Ut dolor bappleees poopayee ti aamoo! Cillum. Irure pepete pepete officia sit amet bappleees. Butt pepete enim et veniam. Cillum me want bananaaa! Para tú dolor sit amet la bodaaa. Voluptate tulaliloo enim ullamco cillum esse pepete.
					.clearfix
			.video-list
				.container
					.row
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="HQzu7NYlZNQ").selected
								.video-thumb
									img(src="images/video-resource/video-thumb-1.jpg" alt="video 1").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="nVCubhQ454c")
								.video-thumb
									img(src="images/video-resource/video-thumb-2.jpg" alt="video 2").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="hJYGddE0vHc")
								.video-thumb
									img(src="images/video-resource/video-thumb-3.jpg" alt="video 3").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="sCDdQwVRwxM")
								.video-thumb
									img(src="images/video-resource/video-thumb-4.jpg" alt="video 4").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="adR_kNnFURo")
								.video-thumb
									img(src="images/video-resource/video-thumb-5.jpg" alt="video 5").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="g2in1D5ySrg")
								.video-thumb
									img(src="images/video-resource/video-thumb-6.jpg" alt="video 6").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="09R8_2nJtjg")
								.video-thumb
									img(src="images/video-resource/video-thumb-7.jpg" alt="video 7").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat
						.col-xs-12.col-sm-6.col-md-3.equalHeight
							.video(data-id="OPf0YbXqDm0")
								.video-thumb
									img(src="images/video-resource/video-thumb-8.jpg" alt="video 8").image-fill
									span.thumb-overlay
										span.status 
											span.icon-elastic
											span.msg(data-play-status-msg="Play" data-playing-status-msg="Video is ON" data-loading-status-msg="Loading...")
												| Play
									span.video-time 0:00
								.video-title Minions ipsum veniam underwear consequat adipisicing consequat

			.division-block
				.container
					.division

			include includes/feature.jade