extends layouts/default

block content
	.who-is-cemintel
		.page-title
			h3.white.bold Cemintel Background 
		.content-page
			.about-product
				.container
					.row
						.col-sm-10.col-sm-offset-1.intro
							.p.tac
								h3.brief Since 1996, we at CSR Cemintel have offered architects, builders, designers & homeowners a range of lightweight, durable building materials to meet building and renovating needs.

								p Our range of external facades, internal linings, flooring and ceiling systems provide an opportunity to create a real point of difference in both residential & commercial applications.
						.products
							section.left
								.col-sm-4
									.img.circle.who-eqh
										img(src="images/whoiscemintel/img1.png", alt="")
								.col-sm-7
									.info.p.who-eqh
										a(href='#')
											span.bold Facades
										p Minions ipsum qui tank yuuu! Occaecat hahaha baboiii tempor aliquip consequat baboiii hana dul sae. Sit amet aliquip poulet tikka masala qui. Daa ex sed para tú dolore hana dul sae chasy. Sit amet daa la bodaaa ullamco duis consequat occaecat duis tulaliloo bappleees irure. Ut pepete incididunt baboiii baboiii eiusmod voluptate commodo uuuhhh ad. Po kass ut hahaha pepete wiiiii et. Aliqua belloo! La bodaaa veniam occaecat.
										a(href="#").button.rainbow.small
											div.bgw View Products
							section.right
								.col-sm-4.col-sm-push-8
									.img.circle.who-eqh
										img(src="images/whoiscemintel/img2.png", alt="")
								.col-sm-7.col-sm-offset-1.col-sm-pull-4
									.info.p.who-eqh
										a(href='#')
											span.bold Ceiling
										p Minions ipsum qui tank yuuu! Occaecat hahaha baboiii tempor aliquip consequat baboiii hana dul sae. Sit amet aliquip poulet tikka masala qui. Daa ex sed para tú dolore hana dul sae chasy. Sit amet daa la bodaaa ullamco duis consequat occaecat duis tulaliloo bappleees irure. Ut pepete incididunt baboiii baboiii eiusmod voluptate commodo uuuhhh ad. Po kass ut hahaha pepete wiiiii et. Aliqua belloo! La bodaaa veniam occaecat.
										a(href="#").button.rainbow.small
											div.bgw View Products
							section.left
								.col-sm-4
									.img.circle.who-eqh
										img(src="images/whoiscemintel/img3.png", alt="")
								.col-sm-7
									.info.p.who-eqh
										a(href='#')
											span.bold Flooring
										p Minions ipsum qui tank yuuu! Occaecat hahaha baboiii tempor aliquip consequat baboiii hana dul sae. Sit amet aliquip poulet tikka masala qui. Daa ex sed para tú dolore hana dul sae chasy. Sit amet daa la bodaaa ullamco duis consequat occaecat duis tulaliloo bappleees irure. Ut pepete incididunt baboiii baboiii eiusmod voluptate commodo uuuhhh ad. Po kass ut hahaha pepete wiiiii et. Aliqua belloo! La bodaaa veniam occaecat.
										a(href="#").button.rainbow.small
											div.bgw View Products
							section.right
								.col-sm-4.col-sm-push-8
									.img.circle.who-eqh
										img(src="images/whoiscemintel/img4.png", alt="")
								.col-sm-7.col-sm-offset-1.col-sm-pull-4
									.info.p.who-eqh
										a(href='#')
											span.bold Walling
										p Minions ipsum qui tank yuuu! Occaecat hahaha baboiii tempor aliquip consequat baboiii hana dul sae. Sit amet aliquip poulet tikka masala qui. Daa ex sed para tú dolore hana dul sae chasy. Sit amet daa la bodaaa ullamco duis consequat occaecat duis tulaliloo bappleees irure. Ut pepete incididunt baboiii baboiii eiusmod voluptate commodo uuuhhh ad. Po kass ut hahaha pepete wiiiii et. Aliqua belloo! La bodaaa veniam occaecat.
										a(href="#").button.rainbow.small
											div.bgw View Products
		.innovate-block
			.innovate-block-inner.text-center
				.container
					.col-sm-10.col-sm-offset-1
						.innovate-block-introcude.tac
							.title-block.bold
								h3.grey Innovate and distinctive building solutions
								.divider.innovate-divider.white
									span
							.block-inner-description
								p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						.innovate-block-image.first-image-block
							.row
								.col-md-offset-1.col-sm-2.col-xs-12.first-items
									.items
										a(href='#')
											img(src="images/home/lightweight.png")
											p.p Lightweight
								.col-sm-2.col-xs-12.first-items.data-delay-300
									.items
										a(href='#')
											img(src="images/home/durable.png")
											p.p Durable
								.col-sm-2.col-xs-12.first-items.data-delay-500
									.items
										a(href='#')
											img(src="images/home/guarantee.png")
											p.p Guarantee
								.col-sm-2.col-xs-12.first-items.data-delay-500
									.items
										a(href='#')
											img(src="images/home/innovative.png")
											p.p Innovative
								.col-sm-2.col-xs-12.first-items.data-delay-900
									.items
										a(href='#')
											img(src="images/home/support.png")
											p.p Support
		.about-cemintel.grey-bgc
			.container
				.row
					.col-sm-6
						ul
							li 
								a(href='#' target='_blank') Aspect Cladding & Mosaic Cladding - providing a versatile and durable finish to any residential facade application.

							li 
								a(href='#' target='_blank') The Cemintel Designer Series range is a collection of pre-finished facades with a unique combination of textures and colours for internal walling and external cladding

							li 
								a(href='#' target='_blank') Cemintel BareStone is an internal and external walling material with a contemporary raw cement finish as seen on Channel 9's The Block in 2014

							li 
								a(href='#' target='_blank') Cemintel ExpressWall Facade System provides various design possibilities with countless applications providing a modern and sophisticated finish
					.col-sm-6
						ul
							li 
								a(href='#' target='_blank') Cemintel Scarborough, Headland & Endeavour Weatherboards offer a durable facade system for a quintessential Australian look

							li 
								a(href='#' target='_blank') CeminSeal Wallboard features waterblock technology that prevents water from penetrating the sheet providing a stronger product.

							li 
								a(href='#' target='_blank') Specialising in colour & design, we offer the full service from planning to construction - backed by technical expertise & grounded in the knowledge of CSR.

							li 
								a(href='#' target='_blank') Supported by a national network of distributors and manufacturers for a lifetime guarantee.