extends layout

block layoutCriticalCSS

block pagescript  

block vars
  -title = 'Corp Template'

block header
  include ../includes/corp-header
  block breadcrumb

block container
  h1 Corp Template