extends layouts/agreement-print

block vars
  -title = 'One page app'
  -bodyClass = 'app'
block container
  main#main
    .container
      .text-center.app-name THE LEMONADE TRADERS
      .text-center.header FOUNDERS AGREEMENT
      .tr
        .col
          .col-head Date
        .col
          .text
            p Date of Electronic Signature to be inserted
      .tr
        .col
          .col-head Founders
          .lemon-name Lemon 1
        .col
          .text
            ul
              li 1. 
                b [INSERT NAME]
                | of  
                b [INSERT ADDRESS]
              li 2. 
                b [INSERT NAME]
                | of  
                b [INSERT ADDRESS]
              li 3. 
                b [INSERT NAME]
                | of  
                b [INSERT ADDRESS]
      .tr(style="margin-bottom: 20px;")
        .col
          .col-head Proposed Business Name
          .lemon-name (Lemon 2)
        .col
          p
            b [INSERT NAME]
      .tr
        .col
          .col-head Background
        .col
          .text
            ul
              li 
                p 1.  The Founders have agreed to come together with the common intention of developing a Business and (if applicable) eventually creating a Company to run the Business.
              li 
                p 1.  The Founders have agreed to come together with the common intention of developing a Business and (if applicable) eventually creating a Company to run the Business.
              li 
                p 1.  The Founders have agreed to come together with the common intention of developing a Business and (if applicable) eventually creating a Company to run the Business.
      .tr
        .col
          .col-head Business
          .lemon-name (Lemon 3)
        .col
          .text
            p The business to be explored and operated initially by the Founders and then by the Company (if applicable) will be the .
              b [INSERT DESCRIPTION]
      .tr
        .col
          .col-head Term
          .lemon-name (Lemon 3)
        .col
          .text
            p These terms are effective from the date of signing this Founders Agreement until the date of termination of this Founders Agreement or execution of a Shareholders Agreement in respect of the Company, whichever is earliest.

      .tr
        .col
          .col-head Termination
          .lemon-name (Lemon 10)
        .col
          .text  
            p This agreement will terminate if the following things happen:
            ul
              li 
                p 1.   [INSERT EVENTS OF TERMINATION]; 
      .tr
        .col
          .col-head Effect of of Termination
          .lemon-name (Lemon 11)
        .col
          .text  
            p If this Founders Agreement is terminated for any reason other than the incorporation of the Company and the execution of a formal Shareholders Agreement then the Founders agree that:
            ul
              li
                p 1.   
                  b [INSERT WHAT IS TO HAPPEN AFTER TERMINATION]
      .tr
        .col
          .col-head Contributions to the Business
          .lemon-name (Lemon 6)
        .col
          .text
            p The Founders acknowledge and agree that as at the date of this Founders Agreement they each have contributed the following to the Business:
            p Founder #1 [INSERT DESCRIPTION – this is the descriptions from all found1 cards]; and
            p Founder #2 [INSERT DESCRIPTION].
            p Founder #3 [INSERT DESCRIPTION].
            p The Founders agree that they each will provide the following to the Business from the date of this Founders Agreement:

      .tr
        .col
          .lemon-name (Lemon 7)
        .col
          .text 
            p The Founders acknowledge and agree that as at the date of this Founders Agreement they each have contributed the following to the Business:
            p Founder #1 [INSERT DESCRIPTION – this is the descriptions from all found1 cards]; and
            p Founder #2 [INSERT DESCRIPTION].
            p Founder #3 [INSERT DESCRIPTION].
      .tr
        .col
          .col-head Equity Split
          .lemon-name (Lemon 8)
        .col
          .text 
            p The Founders agree that they are the only parties presently entitled to  an equity share of the Business and that based on their common understanding and the contributions they have each made to date the equity spilt of the Business as between themselves is:
            p Founder #1 [INSERT AMOUNT] % of the Business; 
            p Founder #2 [INSERT AMOUNT] % of the Business; and
            p Founder #3 [INSERT AMOUNT] % of the Business.
            p The Founders agree to revisit and reconsider this splitting of equity in the Business from time to time prior to the incorporation of the Company. 
      .tr
        .col
          .col-head Objectives of the Business
          .lemon-name (Lemon 4)
        .col
          .text 
            p The Founders agree that the objectives of the Business are to:
            p
              b Short Term ([INSERT WHAT SHORT TERM])
            ul
              li 1.  
                b [INSERT];
              li 2.  
                b [INSERT];
              li 3.  
                b [INSERT].
            p
              b Long Term ([INSERT WHAT LONG TERM])
              li 1.  
                b [INSERT];
              li 2.  
                b [INSERT];
              li 3.  
                b [INSERT].
      .tr
        .col
          .col-head (Objectives) Directors
          .lemon-name (Lemon 5)
        .col
          .text The Founders agree that upon incorporation of the Company, the directors of the Company will be: 
           ul
            li 1. 
              b [INSERT];
            li 2. 
              b [INSERT]; and
            li 3. 
              b [INSERT].
      .tr
        .col
          .col-head Unanimous Approval
          .lemon-name (Lemon 9)
        .col
          .text 
            p The Founders agree that they must all agree before the following decisions can be made:
            ul
              li 1. 
                b INSERT
              li 2.  
      .tr
        .col
          .col-head Transfer of Interests 
        .col
          .text 
            p The Founders agree that they will not transfer their equity to any third party without first giving the other Founder/s a right to purchase that interest on the same terms being offered to the third party. 
            p The Founders may at any time agree for one Founder to transfer his/her equity share to another Founder for an agreed price or, failing that, for Fair Market Value.
      .tr
        .col
          .col-head Events of Default
          .lemon-name (Lemon 12)
        .col
          .text  
            p The following are the agreed Events of Default.
            ul
              li 1.  
                b INSERT
      .tr
        .col
          .col-head Triggers for Transfer
          .lemon-name (Lemon 12 by category FMV OR nominal) 
        .col
          .text
            p The Founders agree that if:
            ul 
              li 
                p (a) the following Events of Default occur in respect of them, their portion of the Equity Split will be offered for sale to the other Founder/s for transfer price of a Fair Market Value:
                 ul
                  li
                    p (i) [INSERT which ones of the above will attract FMV];
              li 
                p (b) the following Events of Default occur in respect of them, their portion of the Equity Split will be offered for sale to the other Founder/s for a transfer price valued at $1.00:
                ul
                  li
                    p (i) [INSERT which ones of the above will attract $1.00];
      .tr
        .col
          .col-head Fair Market Value
        .col
          .text
            p The Founders agree that if their equity is to be transferred pursuant to this Founders Agreement, then the purchase price payable will be calculated as follows:
            ul 
              li 
                p 2.  by an independent chartered accountant (Independent Valuer) having regard to the following principles:
                 ul
                  li (a) on a going concern basis and including an allowance for goodwill;
                  li (b) as between willing but not anxious sellers and buyers;
                  li (c) having no regard to the fact that a minority or majority (that is, controlling) interest may result from a sale;
                  li (d) by applying valuation principles generally accepted in relation to the valuation of shares; and
                  li (e) by the Independent Valuer otherwise adopting any procedure he or she thinks appropriate for determining the Fair Market Value of the Shares.
      .tr
        .col
          .col-head Dispute Resolution
        .col
          .text
            p The Founders agree to act in good faith and use their best efforts to resolve any dispute or difference between them arising out of or in respect of this Founders Agreement (Dispute) in a spirit of mutual goodwill and understanding. 
            p The Founders agree to attend a face to face meeting within 15 days to seek to resolve any Dispute on request in writing by any Founder.
            p If any Dispute is unable to be resolved by the Founders after the above meeting within 30 days after a Founder first brings the Dispute to the attention of the other Founder/s, the Founders will, acting in good faith, refer the Dispute to mediation facilitated by a mediator agreed by the Founders (Mediation).  If the Founders are unable to agree on a mediator, the mediator shall be a person appointed by the President for the time being of the Law Society of Victoria.  If following the expiration of 14 days after the Mediation the Dispute remains unresolved, the Founders may pursue their rights at law. 
            p The Founders can seek urgent interlocutory relief at any time.
      .tr
        .col
          .col-head Confidential 
        .col
          .text
            p Confidential Information means any information provided by a party 
      .tr
        .col
          .col-head Information
        .col
          .text
            p (Discloser) or any of its employees, officers or contractors, or otherwise obtained by the other party (Recipient) or any of its employees, officers or contractors, whether obtained before or after the Term, in connection with the Business.
            p Confidential Information includes the terms of this Founders Agreement and all confidential business information, documents, records, financial information, reports, technical information and forecasts which relate to the Business, the intellectual property of any party, the terms of this Founders Agreement and the Business.  
            p Confidential Information does not include information which is in or becomes part of the public domain, other than through a breach of this Founders Agreement or an obligation of confidence owed to either party; or was known to the Recipient at the time of disclosure, unless such knowledge arose through breach of an obligation of confidence; or the Recipient can prove by contemporaneous written documentation was independently acquired or developed without breaching any of the obligations set out in this Founders Agreement.

      .tr
        .col
          .col-head Confidentiality 
        .col
          .text
            p The parties agree to: (a) keep Confidential Information secret and confidential; (b) not use, disclose or reproduce the Confidential Information for any purpose other than the purposes of the Objectives; (c) not, without the other party’s written consent, disclose Confidential Information to any person other than its employees, officers or contractors who need the information for the purposes of the Objectives; and (d) establish and maintain effective security measures to safeguard the Confidential Information from unauthorised access, use, copying or disclosure.  The confidentiality obligations set out in this sectCion survive the termination or expiry of this Founders Agreement.
      .tr
        .col
          .col-head Severance 
        .col
          .text
            p If any provision of this document is invalid or not enforceable in accordance with its terms, all other provisions which are self-sustaining and capable of separate enforcement without regard to the invalid provision, shall be and continue to be valid and forceful in accordance with their terms.
      .tr
        .col
          .col-head Entire Agreement & Amendment  
        .col
          .text
            p This Founders Agreement constitutes the entire agreement between the parties about its subject matter and supersedes all prior contracts, arrangements and understandings.
            p This Founders Agreement can only be altered in writing signed by all parties.
      .tr
        .col
          .col-head Waiver
        .col
          .text
            p A waiver by a party of any of its rights under this Founders Agreement:
            ul
              li  
                p (a) must be in writing; and
              li  
                p (b) does not operate as a waiver of any other right or as a future waiver of that or any other right.
      div(style="page-break-after:always")
      .tr
        .col
          .col-head Assignment and Encumbrances 
        .col
          .text
            p Other than as permitted under this agreement, no party may deal with its rights under this agreement in any way without the prior consent of all the other parties.
      .tr
        .col
          .col-head Relationship  
        .col
          .text
            p The parties mutually acknowledge and agree that for the purposes of this Founders Agreement they are joint venture partners for the purposes of their common intention to explore, create and operate the Business and the Company.  
      .tr
        .col
          .col-head Law 
        .col
          .text
            p This Founders Agreement will be governed by and construed in accordance with the laws applicable in Victoria and the parties hereby submit to the exclusive jurisdiction of the courts of Victoria in respect of all matters arising under or relating to this agreement.
      .tr
        .col
          .col-head Counterparts  
        .col
          .text
            p This Founders Agreement may be executed in any number of counterparts and all of those counterparts taken together constitute one and the same instrument.  An executed counterpart may be delivered by email or facsimile.
      .tr
        p
          b (Name and date when agreement electronically signed – record status notification as each person signs. Mark as complete when all parties have signed)
      .tr
        hr
      .tr
        p
          b Execution
        hr
      .tr
        p 
          b Executed 
          | as an agreement.
      .tr
        p 
          b Executed 
          |by
      .row
        .col-6
          .tr
            p
              .line
                b [INSERT FOUNDER #1 NAME]
                span.text-right )
              
              .line 
                span in the
                span.text-right )

              .line 
                span.text-right )
              .line 
                span.text-right )
                .line
                  hr 
            .line.mt-20  Signature of Witness
            .line 
              br
            .line 
              br
            .line 
              br
            .line 
              br
            hr
            p Signature of Witness
            .line 
              br
            .line 
              br
        .col-6
          br
          br
          br
          br
          br
          br
          br
          hr
          p Signature of Witness
          br
          br
          br
          br
          
      .tr
        p 
          b Executed 
          |by
      .row
        .col-6
          .tr
            p
              .line
                b [INSERT FOUNDER #2 NAME]
                span.text-right )
              
              .line 
                span in the
                span.text-right )

              .line 
                span.text-right )
              .line 
                span.text-right )
                .line
                  hr 
            .line.mt-20  Signature of Witness
            .line 
              br
            .line 
              br
            .line 
              br
            .line 
              br
            hr
            p Signature of Witness
            .line 
              br
            .line 
              br
        .col-6
          br
          br
          br
          br
          br
          br
          br
          hr
          p Signature of Witness
          br
          br
          br
          br
      .tr
        p 
          b Executed 
          |by
      .row
        .col-6
          .tr
            p
              .line
                b [INSERT FOUNDER #3 NAME]
                span.text-right )
              
              .line 
                span in the
                span.text-right )

              .line 
                span.text-right )
              .line 
                span.text-right )
                .line
                  hr 
            .line.mt-20  Signature of Witness
            .line 
              br
            .line 
              br
            .line 
              br
            .line 
              br
            hr
            p Signature of Witness
            .line 
              br
            .line 
              br
        .col-6
          br
          br
          br
          br
          br
          br
          br
          hr
          p Signature of Witness
          br
          br
          br
          br













