extends layouts/layout

block vars
  -title = 'One page app'
  -bodyClass = 'app'
block container
  main#main
    include includes/landing-page-section
    include includes/activity-section
    include includes/board-section-discuss-tool
    include includes/edit-modal





