.feature-block
	.container
		.row
			.col-sm-4.col-xs-12.feature-block-item
				.feature-block-inner
					.feature-block-img
						a.img(href='#')
							img(src="images/home/login.jpg")
					.feature-block-content
						.feature-block-content-title
							a(href="#" target="_blank")
								span.bold Our Latest Resources Asset
						.feature-block-content-body.hidden-xs
							p.p Register or Log in into our Resources to download professional asset as CAD files, specification sheets, DWG files and more. We will inform you when we regulary upload new asset.
					.feature-block-content-button
						a(href="#").button.rainbow
							div.bgw Log in now
			.col-sm-4.col-xs-12.feature-block-item
				.feature-block-inner
					.feature-block-img
						a.img(href='#')
							img(src="images/home/stockist.jpg")
					.feature-block-content
						.feature-block-content-title
							a(href="#" target="_blank")
								span.bold Find a Stockist, Installer or Builder 
						.feature-block-content-body.hidden-xs
							p.p Lorem ipsum dolor sit amet, consecte adipiscing elit. Aenean euismod bibdum laoreet.
					.feature-block-content-button
						a(href="#").button.rainbow
							div.bgw View locations
			.col-sm-4.col-xs-12.feature-block-item
				.feature-block-inner
					.feature-block-img
						a.img(href='#')
							img(src="images/home/designer.jpg")
					.feature-block-content
						.feature-block-content-title
							a(href="#" target="_blank")
								span.bold Designer Series™ 
						.feature-block-content-body.hidden-xs
							p.p A new pre-finished walling solution that's lightweight, incredibly durable, and fast and easy to install.
					.feature-block-content-button
						a(href="#").button.rainbow
							div.bgw Find out more