footer
	.small-footer.hidden-xs
		.container
			.row
				.col-md-6.col-sm-6
					.footer-info
						ul
							li.p.small.dib
								a(href="/contact.html").white Contact
							li.p.small.dib
								a(href="#").white Security and Privacy Statement
							li.p.small.dib
								a(href="#").white Website Terms of Use
							li.p.small.dib
								a(href="/sitemap.html").white Site Map
						.info.p.bold.ttu.white
							p 1300 CEMINTEL 
								span.tdu (1300 236 468)
				.col-md-2.col-sm-2
					.sign-up-section
						.tac
							.button.solid-btn.signup-btn-ft.toggleClick(target=".newsletter-form")#signup-btn-ft Sign-up
						.newsletter-form
							.button.rainbow.cud.tal.not-hover
								.bgw
									.box
										h3 Newsletter Sign-up
										.p
											p Receive Newslatters lorem ipsum dolor sit amet, consectetur adipiscing elit.
										form#small-footer-form(action="")
											input.gl-input(type="text" required placeholder="Your Name" name="yourName")
											input.gl-input#smallFooterEmail(type="email" required placeholder="Email Address" name="yourEmail")
											input.gl-input(type="email" required placeholder="Repeat Email Address" name="yourConfirmEmail" data-rule-equalto="#smallFooterEmail")
											button(type="submit").button.rainbow.ft-signup-submit.button-having-loading
												.overlay
													.relative-container
														img(src="images/loading.png" alt="Loading")
												div.bgw Sign up
											.error-mess.tac
												span.small You've entered wrong password !
				.col-md-4.col-sm-4.col-lg-3.col-lg-offset-1
					.social-section
						ul
							li
								a(href="#").fb-icon
							li
								a(href="#").tw-icon
							li
								a(href="#").you-icon
							li
								a(href="#").pin-icon
							li
								a(href="#").icon-icon
.fully-footer
		.container
			.row
				.col-md-3.col-sm-3.contact-info.equalHeight.footer-col1
					h3.white.hidden-xs Contact
					.p.white.hidden-xs.contact
						p We welcome your input. Questions, ask for samples, comments or feedback, we are here to help you.
						a(href="#").button.solid-btn.write-us-btn Write us
						p For general enquiries please call:
							span.p.bold.dib 1300 CEMINTEL 
							span.p.bold.dib.tdu (1300 236 468)
					ul.white.links
						li.hidden-sm.hidden-md.hidden-lg
							a(href="/contact.html").white Contact
						li
							a(href="#").white Security and Privacy Statement
						li
							a(href="#").white Website Terms of Use
						li
							a(href="/sitemap.html").white Site Map
				.col-md-1.col-sm-1.psr.equalHeight.footer-col2
					.vertical-line
				.col-md-4.col-sm-4.equalHeight.footer-col3.newsletter
					.fully-footer-form
						h3.white Newsletter Sign-up
							.p.white
								p Receive Newslatters lorem ipsum dolor sit amet, consectetur adipiscing elit.
							form(action="" id="fully-footer-form")
								input.gl-input(type="text" required placeholder="Your Name" name="yourname")
								input.gl-input#fully-footer-email(type="email" required placeholder="Email Address" name="email")
								input.gl-input(type="email" required placeholder="Repeat Email Address" name="confirmemail" data-rule-equalto="#fully-footer-email")
								button(type="submit").button.solid-btn.fully-submit-btn Sign up
				.col-md-1.col-sm-1.psr.equalHeight.footer-col4
					.vertical-line
				.col-md-3.col-sm-3.equalHeight.footer-col5.reserved
					.social-section
						ul
							li
								a(href="#").fb-icon
							li
								a(href="#").tw-icon
							li
								a(href="#").you-icon
							li
								a(href="#").pin-icon
							li
								a(href="#").icon-icon
					a(href="#").csr
						img(src="images/footer/csr.jpg", alt="")
					.p.small.white.copy-right
						span.db ©2015 CSR Cemintel. All rights reserved.<br/>
						span.db For general enquiries call<br/>
						span.dib 1300 CEMINTEL 
						span.dib.tdu (1300 236 468) <br/>

		