.search-block.white
	.search-block-container
		.col-md-12
			.search-input-box
				form
					input(type="submit").search-submit
					input(type="text").search-input
					.close-search
			.product-related.white
				.loader
					img(src="images/loading-w.png", alt="")
				.p.bold
					p Products related to your search
				.items
					.items-row
						.row
							.col-md-6.col-xs-5.col-sm-6
								.img.has-action
									img(src="images/search/img1.jpg", alt="")
									.action
										.heart-icon.hidden-xs
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include ../includes/share_popup.jade
										a(href="#").button.view.rainbow 
											div.bgw.bold View
							.col-md-6.col-xs-7.search-text-col.col-sm-6
								.p.bold
									a(href="#").white ExpressWall™
								.p
									p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
					.items-row
						.row
							.col-md-6.col-xs-5.col-sm-6
								.img.has-action
									img(src="images/search/img1.jpg", alt="")
									.action
										.heart-icon.hidden-xs
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include ../includes/share_popup.jade
										a(href="#").button.view.rainbow 
											div.bgw.bold View
							.col-md-6.col-xs-7.search-text-col.col-sm-6
								.p.bold
									a(href="#").white BareStone™
								.p
									p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
				.tac
					a(href="#").button.solid-btn View all Products
			.installation-related
				.loader
					img(src="images/loading-w.png", alt="")
				.p.bold.white
					p Products related to your search
				.video
					.items-row
						.row
							.col-md-6.col-xs-5.col-sm-6
								a(href="#")
									.video-wrapper.yt-video-duration-retrieve(data-id='nfWlot6h_JM')
										.if-overlay
											img(src="images/search/overlay.jpg", alt="")
										.play-btn.fake
										.video-time
											span
							.col-md-6.col-xs-5.search-text-col.col-sm-6
								.video-wrapper
									.video-content
										.p.bold
											a(href="#").white Designer Series™ Tutorial Installation Video
										.action.psr
											.fav.toggleActive
											.share.toggleClick.share-toggle(target=".share-popup-block")
											include share_popup.jade
					.items-row
						.row
							.col-md-6.col-xs-5.col-sm-6
								a(href="#")
									.video-wrapper.yt-video-duration-retrieve(data-id='nfWlot6h_JM')
										.if-overlay
											img(src="images/search/overlay.jpg", alt="")
										.play-btn.fake
										.video-time
											span
							.col-md-6.col-xs-5.search-text-col.col-sm-6
								.video-wrapper
									.video-content
										.p.bold
											a(href="#").white Designer Series™ Tutorial Installation Video Designer Series™ Tutorial Installation Video Designer Series™ Tutorial Installation Video
										.action.psr
											.fav.toggleActive
											.share.toggleClick.share-toggle(target=".share-popup-block")
											include share_popup.jade
				.article
					.article-item
						.art-icon
						.art-content
							.p.bold
								a(href="#").white Cemintel™ Weatherboard Installation Guide PDF
							.p.hidden-xs
								p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
					.article-item
						.art-icon
						.art-content
							.p.bold
								a(href="#").white Cemintel™ Weatherboard Installation Guide PDF
							.p.hidden-xs
								p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
				.tac
					a(href="#").button.solid-btn View all Installation Guides
			.case-studies-related
				.loader
					img(src="images/loading-w.png", alt="")
				.p.bold.white
					p Case Studies related to your search
				.case-studies
					.case-study
						.row
							.col-md-6.col-xs-5.col-sm-6
								.img.has-action
									img(src="images/search/img1.jpg", alt="")
									.action
										.heart-icon.hidden-xs
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include ../includes/share_popup.jade
										a(href="#").button.view.rainbow 
											div.bgw View
							.col-md-6.col-xs-7.search-text-col.col-sm-6
								.case-content
									.p.bold
										a(href="#").white Designer Series™ Tutorial Installation Video
									.p
										p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
					.case-study
						.row
							.col-md-6.col-xs-5.col-sm-6
								.img.has-action
									img(src="images/search/img1.jpg", alt="")
									.action
										.heart-icon.hidden-xs
										.share-icon.hidden-xs.toggleClick.share-toggle(target=".share-popup-block")
										include ../includes/share_popup.jade
										a(href="#").button.view.rainbow 
											div.bgw View
							.col-md-6.col-xs-7.search-text-col.col-sm-6
								.case-content
									.p.bold
										a(href="#").white Designer Series™ Tutorial Installation Video
									.p
										p Minions ipsum eiusmod aute potatoooo sit amet enim officia voluptate.
				.tac
					a(href="#").button.solid-btn View all Case Studies
			.news-related
				.loader
					img(src="images/loading-w.png", alt="")
				.p.bold.white.title
					p News related to your search
				.news-related-items
					a(href="#").news-related-item.p.white
						span.p.item-title.bold Entries now open for 2015 CSR Cemintel 9 Dots Award
						p Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel’s...
					a(href="#").news-related-item.p.white
						span.p.item-title.bold Entries now open for 2015 CSR Cemintel 9 Dots Award
						p Cemintel is offering architects, designers and students from across the country the opportunity to create and showcase their own innovative design projects featuring CSR Cemintel’s...
				.tac
					a(href="#").button.solid-btn View all News
			.find-supplier-block
				.find-supplier
					.loader
						img(src="images/loading-w.png", alt="")
					.p.bold.white.title
						p Supplier related to your search
					ul
						li
							a(href="#") Matraville - NSW
						li
							a(href="#") Kogarah - NSW
						li
							a(href="#") Revesby - NSW
						li
							a(href="#") Thornleigh - NSW
						li
							a(href="#") Chatswood - NSW
						li
							a(href="#") Marrickville - NSW 
						li
							a(href="#") Botany - NSW
						li
							a(href="#") Botany - NSW
						li
							a(href="#") Balmain - NSW
						li
							a(href="#") Bankstown - NSW
					.tac
						a(href="#").button.solid-btn View all
				.find-supplier
					.loader
						img(src="images/loading-w.png", alt="")
					.p.bold.white.title
						p Builder related to your search
					ul
						li
							a(href="#") Matraville - NSW
						li
							a(href="#") Kogarah - NSW
						li
							a(href="#") Revesby - NSW
						li
							a(href="#") Thornleigh - NSW
						li
							a(href="#") Chatswood - NSW
						li
							a(href="#") Marrickville - NSW 
					.tac
						a(href="#").button.solid-btn View all
				.find-supplier
					.loader
						img(src="images/loading-w.png", alt="")
					.p.bold.white.title
						p Installer related to your search
					ul
						li
							a(href="#") Matraville - NSW
						li
							a(href="#") Kogarah - NSW
						li
							a(href="#") Revesby - NSW
						li
							a(href="#") Thornleigh - NSW
					.tac
						a(href="#").button.solid-btn View all







