.share-popup-block
	.button.rainbow.cilcle.not-hover
		div.bgw.cilcle.tac
			.p.bold.tac.share-text
				span Share
			.share-fb.icon
				img(src="images/share-fb.png")
			.share-tw.icon
				img(src="images/share-tw.png")
			.share-mail.icon
				img(src="images/share-mail.png")