// Created by Huy on 5/6/2015.
.award-section
  .container
    .award-content
      .award-block.first
        .award-thumb
          +img('KPF', 'images/the-house/kpf-thumb.png')
        .award-info This architectural tour de force is a triumph of style and functionality and was created by Kohn Pedersen Fox Associates, USA.
      .award-block.second
        .award-thumb
          +img('US Green', 'images/the-house/us-green-thumb.png')
        .award-info The project was awarded a Gold Level certificate under the Leadership in Energy and Environmental Design (LEED) for Homes program by the US Green Building Council.  It is the first project in Hong Kong or mainland China to attain this certification and also the largest project on the mainland to be recognized to this date.
