// Created by Huy on 4/6/2015.
//- The overlay used by before or after of block to cover entire item
.clearfix
.city-list
  .city-block
    +img('', 'images/the-address/city-bg-1.jpg').desktop
    +img('', 'images/the-address/m-city-bg-1.jpg').mobile
    +link('', '#').open-link
      span.caption Mayfair, London
    .city-info
      .editor-content
        h1.title Mayfair, London
        p Similarly, Mayfair’s townhouses, set in the vibrant heart of the city are part of London’s historic soul. Bustling avenues and tranquil squares are the ideal setting for leading commercial centers and exclusive homes, much sought after by many of the world’s most eminent families.
    +link('Close', '#').close
  .city-block
    +img('', 'images/the-address/city-bg-2.jpg').desktop
    +img('', 'images/the-address/m-city-bg-2.jpg').mobile
    +link('', '#').open-link
      span.caption Upper East Side, New York
    .city-info
      .editor-content
        h1.title Upper East Side, New York
        p Like Happy Valley in Hong Kong, Manhattan’s Upper East Side stands out from the crowded streets of the city with charming townhouses and leafy views of Central Park. In a city of superlatives, its balance of location and style has helped make the area New York’s most desirable place to live.
    +link('Close', '#').close
  .city-block
    +img('', 'images/the-address/city-bg-3.jpg').desktop
    +img('', 'images/the-address/m-city-bg-3.jpg').mobile
    +link('', '#').open-link
      span.caption Happy Valley, Hong Kong
    .city-info
      .editor-content
        h1.title Happy Valley, Hong Kong
        p Hong Kong is one of the world’s great cities, worthy of its place alongside global metropolises like New York and London. And what the Upper East Side is to New York, what Mayfair is to London, so Happy Valley is to Hong Kong. Like these other urban quarters Happy Valley is an intrinsic part of Hong Kong’s bustling center.  Yet this cultured district buzzes with a more genteel vibe, for this area lies at the crossroads of rural grace and urban vibrancy.
    +link('Close', '#').close
.clearfix

