.container
  .section-contact
    +introduction-custom('The Contact').contact-content
      p Enquiry Hotline: 2879 0333
      p Email:&nbsp
        a(href="mailto:marketing@hanglung.com") marketing@hanglung.com
      p Leasing Hotline: 2879 0333
      p Email:&nbsp
        a(href="mailto:marketing@hanglung.com") marketing@hanglung.com

