footer#footer.section
	.container
	.footer-content
		.editor-content
			.footer-box
				p Name of the Street and the Street Number: No. 23, 25, 27, 29, 31, 33, 35, 37 and 39 Blue Pool Road
				p District: Wong Nai Chung
				p The photographs, images, drawings or sketches shown in this advertisement/ promotional material represent an artist’s impression of the development concerned only. They are not drawn to scale and/or may have been edited and processed with computerized imaging techniques. Prospective purchasers should make reference to the sales brochure for details of the development. The vendor also advises prospective purchasers to conduct an on-site visit for a better understanding of the development site, its surrounding environment and the public facilities nearby
			.footer-box
				p The photographs shown in this website were taken from xxx to xxx at the Development. These photographs have been edited and processed by computerized imaging techniques to show approximate layout and surrounding of the Development.
			.footer-box
				p Vendor: Lockoo Limited| Holding company of Vendor: Hung Lung Group Limited, Hang Lung Properties
				p Limited, Newhart Investment Limited & Spring Investment Limited| The authorized person for the development: Dr. Ronald Lu of Ronald Lu & Partners (Hong Kong) Ltd.| Building Contractor: Tysan Building Construction Company Ltd.| The firm of solicitors acting for the Owner in relation to the sale of residential properties in the Development: Mayer Brown JSM| Authorized institution that has made a loan, or has undertaken to provide finance, for the construction of the phase of the development: Not Applicable| Any other person who has made a loan for the construction of the development: HLP Treasury Limited
			.footer-box
				p Please refer to the Sales Brochure for details.| This advertisement is published by the Vendor.
				p Copyright and Trade Mark©2015 Hang Lung Properties Limited. All rights reserved.| Information to Purchasers and Disclaimer
			.footer-box
				p Last updated: xzx xx xxxx