.garelly-list
  .item
    .detail
      +link-img('images/the-garelly/garelly-list-1.png', 'garelly-list 1', '#')(data-id="0")
  .item
    .detail
      +link-img('images/the-garelly/garelly-list-2.png', 'garelly-list 2', '#')(data-id="1")
  .item
    .detail
      +link-img('images/the-garelly/garelly-list-3.png', 'garelly-list 3', '#')(data-id="2")
  .item
    .detail
      +link-img('images/the-garelly/garelly-list-4.png', 'garelly-list 4', '#')(data-id="3")
.garelly-more
  .scroll-down-cta
    h2 Sed non quam ut elit
  +img('Sed non quam ut elit', 'images/icon-chevron-down.png')