.map-section-container
  +img('map section image', 'images/the-address/map-img.jpg').desktop
  +img('map section image', 'images/the-address/m-map-img.jpg').mobile
  +link('Open', '#').open
  .map-section-content
    .block-address-content
      .block-content
        +link('Close', '#').close.close-popup
        .editor-content
          h2.title-location-map LOCATION MAP
          h3.caption-location-map Happy Valley has traditionally been home to some of Hong Kong’s finest educational institutions and prestigious clubhouses.
          h4.plus Clubhouses
          ul
            li - The Hong Kong Jockey Club
            li - Craigengower Cricket Club
            li - Hong Kong Football Club
            li - South China Athletic Association
          h4.plus Primary School
          ul
            li - Hennessy Road Government Primary School
            li - Marymount Primary School
            li - Pun U Assn Wah Yan Primary School
            li - St Francis' Canossian School
            li - St Joseph’s Primary School
            li - St Paul’s Primary Catholic School
          h4.plus Secondary School
          ul
            li - Marymount Secondary School
            li - Queen's College
            li - Skh Tang Shiu Kin Secondary School
            li - St Francis' Canossian College
            li - St Paul's Secondary School
            li - True Light Middle School Of Hong Kong
            li - Wah Yan College, Hong Kong
          h4.plus International / Private School
          ul
            li - Bradbury School (Operated By Esf)
            li - Le Lycee Francais International De Hong Kong (The Franch Int'l School Of Hong Kong)
            li - Raimondi College Primary Section
            li - St Paul’s Primary Convent School (Primary Section)
            li - True Light Middle School Of Hong Kong
.map-section-mobile 
  p The location map has been simplified, is not to scale and is for reference only 
  p 地圖經簡化處理及不按比例，只供參考
