.masonry-container.sales-document
  .grid-sizer
  #sales-brochure.item
    .detail
      h3.title SALES BROCHURE
      .detail
        ul
          li
            a(href="#") - Sales Brochure part 01
          li
            a(href="#") - Sales Brochure part 02
          li
            a(href="#") - Sales Brochure part 03
          li
            a(href="#") - Sales Brochure part 04
          li
            a(href="#") - Sales Brochure part 05
          li
            a(href="#") - Sales Brochure part 06
          li
            a(href="#") - Sales Brochure part 07
        p Hang Lung Properties herewith presents comprehensive sales information for 29-39 Blue Pool Road, Happy Valley.
  #price-list.item
    .detail
      h3.title PRICE LIST
      .detail
        ul
          li
            a(href="#") - Price List 2015/03/25
          li
            a(href="#") - Price List 2015/02/20
          li
            a(href="#") - Price List 2015/01/05
  #transactions.item
    .detail
      h3.title REGISTER OF TRANSACTIONS
      .detail
        ul
          li
            a(href="#") Click to download PDF
  #mutual-covenant.item
    .detail
      h3.title DEED OF MUTUAL COVENANT
      .detail
        ul
          li
            a(href="#") Click to download PDF
  #tender-documents.item
    .detail
      h3.title Tender Documents
      .detail
        ul
          li
            a(href="#") Click to download PDF
  #sales-arrangements.item
    .detail
      h3.title SALES ARRANGEMENTS
      .detail
        ul
          li
            a(href="#") - Sales Arrangements 01
          li
            a(href="#") - Sales Arrangements 02
          li
            a(href="#") - Sales Arrangements 03
          li
            a(href="#") - Sales Arrangements 04
          li
            a(href="#") - Sales Arrangements 05
  #aerial-photograph.item
    .detail
      h3.title AERIAL PHOTOGRAPH
      .detail
        ul
          li
            a(href="#") Click to download PDF
  