.masonry-container.masonry-garelly
  .grid-sizer
  .item
    .detail
      +link-img('images/the-garelly/ReT_2145775.png', 'image 1', 'images/the-garelly/ReT_2145775.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_1126.png', 'image 2', 'images/the-garelly/ReT_1126.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_2135722.png', 'image 3', 'images/the-garelly/ReT_2135722.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0801.png', 'image 4', 'images/the-garelly/ReT_0801.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0962.png', 'image 5', 'images/the-garelly/ReT_0962.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0608.png', 'image 6', 'images/the-garelly/ReT_0608.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_1222B.png', 'image 7', 'images/the-garelly/ReT_1222B.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0541.png', 'image 8', 'images/the-garelly/ReT_0541.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0066.png', 'image 9', 'images/the-garelly/ReT_0066.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
  .item
    .detail
      +link-img('images/the-garelly/ReT_0665.png', 'image 10', 'images/the-garelly/ReT_0665.png')
      .caption Nam in tortor vel velit rhoncus congue vitae a lacus. 
//- .text-center
//-   a.loadmore abc
script(type="text/template").masonry-gallery-item-template.template
  .item
    .detail
      +link-img('{{imgthumb}}', '{{title}}', '{{imgthumb}}')
      .caption {{caption}}