.map-section-container
  +img('map section image', 'images/the-address/then-now-img.jpg').desktop
  +img('map section image', 'images/the-address/then-now-img.jpg').mobile
  +link('Open', '#').open
  .then-now-content
    .block-address-content
      .block-content
        h2.title-address Then and now
        p.caption-adress Happy Valley is a district that requires little introduction; its prominence has been revered across the generations.  This is a place full of history and stories, one of the more famed of which is how Blue Pool Road came by its name. In days gone by, one of the rivers that flowed into the teeming Victoria Harbour traced its source to the ìBlue Poolî. This turquoise-hued lake, much akin to a precious gem in Happy Valley, is what makes Blue Pool Road such a treasure. Although the river is now long gone, the legacy remains and makes this such a special and precious destination locale.