.sticky-wrapper
  section.header-bar
    .container
      .row
        .col-xs-12
          .burger-wrapper
            button.burger#side-menu-btn
              span.bar
              span.bar
              span.bar
          .logo-wrapper
            span.logo
              a(href="#{homepage}")
                img(src="images/logo.png", alt="Logo")
          .cta_button-wrapper
            a.btn.cta_btn(href="#") APPLY NOW
              span.fa.fa-angle-right