header.header-left      
  nav.pushy.pushy-left
    .block-menu-social
      ul.main-menu
        li.main-menu-item.has-sub 
          a(href='#') Why SIT
          ul.sub-menu
            li.parent-title: a(href="#") Why Sit
            li.back-button: a(href="#") Back
            li.sub-menu-item: a(href="#") 1
            li.sub-menu-item: a(href="#") 2
            li.sub-menu-item.has-sub
              a(href="#") 3
              ul.sub-sub-menu 
                li.parent-title: a(href="#") Why Sit
                li.back-button: a(href="#") Back
                li.sub-sub-menu-item: a(href="#{physical}") 3-sub
                li.sub-sub-menu-item: a(href="#{physical}") 3-sub

            li.sub-menu-item: a(href="#") 4
            
        li.main-menu-item.has-sub
          a(href='#') academics
          ul.sub-menu
            li.parent-title: a(href="#")
            li.back-button 
              a(href="#") Back
            li.sub-menu-item.has-sub
              a(href='#') Undergraduate Programmes
              ul.sub-sub-menu
                li.parent-title: a(href="#") Undergraduate Programmes
                li.back-button: a(href="#") Back
                li.sub-sub-menu-item: a(href='#{physical}') Engineering
                li.sub-sub-menu-item: a(href='#') Chemical Engineering & Food Technology
                li.sub-sub-menu-item: a(href='#') Infocomm Technology
                li.sub-sub-menu-item: a(href='#') Health & Social Sciences
                li.sub-sub-menu-item: a(href='#') Designed & Specialised Business
            li.sub-menu-item: a(href='T9Campus.html') Overseas Immersion Programme 
            li.sub-menu-item: a(href='#') Value Added Programmes
                            
        li.main-menu-item         
          a(href='#') Financial
        li.main-menu-item 
          a(href='#') Scholarships
        li.main-menu-item 
          a(href='#') Life@sit
        li.main-menu-item 
          a(href='#') Admissions
        li.main-menu-item
          a(href='#') Contact us
        li.main-menu-item 
          a(href='#') FAQs
      .block-bottom.visible-lg.visible-md
        .social-block
          a(href="#", target="_blank").facebook-square
            span.fa.fa-facebook-square
          a(href="#", target="_blank").instagram
            span.fa.fa-instagram
          a(href="#", target="_blank").twitter-square
            span.fa.fa-twitter-square
          a(href="#", target="_blank").youtube-square
            span.fa.fa-youtube-square
        .copy-right © 2015. Singapore Institute of Technology.